<h1>AlaveteliPro::Users::Sessions#new</h1>
<p>Find me in app/views/alaveteli_pro/users/sessions/new.html.erb</p>

<h2>TODO:</h2>

<ul>
  <li>Redirect if already signed in</li>
  <li>Add pro-specific messaging</li>
  <li>Render signup form to POST to
      <tt>AlaveteliPro::UsersController#create</tt></li>
  <li>Render signin form – not sure whether we need a pro-specific action for
      this</li>
</ul>
