<div id="refusal-advice" class="wizard js-wizard">
  <%= form_for :refusal_advice, url: refusal_advice_path, data: refusal_advice_form_data(@info_request) do |f| %>
    <%= hidden_field_tag :url_title, @info_request.url_title if @info_request %>
    <%= render @refusal_advice.questions, f: f %>
    <%= render partial: 'help/refusal_advice/next_steps', locals: { actions: @refusal_advice.actions, f: f } %>
  <% end %>
</div>
