The law, the Ministry of Justice and the Information Commissioner all say that an email is sufficient (<a href="<%= help_page_url %>#full_address">more details</a>).

At the bottom of this page, write a reply to the authority explaining this to them.
