<% @title = "Making requests" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
  <% if params[:country_name] %>  
    <h1><%= _("Would you like to see a website like this in your country?") %></h1>
  <% else %>
    <h1>Powered by Alaveteli</h1>
  <% end %>
  <p>This website is powered by Alaveteli.  Alaveteli is free software
    for making Freedom of Information requests.  It can easily be
    translated into any language, and customised for variations of FOI
    law.</p>

  <p>The development of Alaveteli is sponsored and supported by a
    number of foundations and charities who are interested in
    transparency across the world.</p>

  <p>If you would like to set up an Alaveteli website in your own
    country, we can help.  You will need a few days to get the site
    configured and ready to use, and will then have to spend at least an
    hour a week moderating and managing the site (more for busy
    websites).</p>

  <p>Read more on the <a href="http://alaveteli.org">Alaveteli
      website</a>, or <a href="mailto:hello@alaveteli.org">drop us an
      email</a>.</p>

  <div id="hash_link_padding"></div>
</div>
