Placeholder to be overriden by theme

<hr />

<h2>General Advice</h2>

<%= general_advice(@refusal_advice) %>

<h2>Specific Advice</h2>

<%= specific_advice(@refusal_advice, exemption: :section_12) %>
