<% @title = "Make an annotation on '" + h(@info_request.title) + "'" %>

<%= foi_error_messages_for :comment %>

<h1>Add an annotation</h1>

<%= render :partial => 'comment/comment_form', :locals => { } %>
