<a href="https://automatingsociety.algorithmwatch.org/wp-content/uploads/2020/12/Automating-Society-Report-2020.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit Automating Society Report 2020') %>">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Cross Border') %></div>
  <%= image_tag('ati_network/showcase/automating-society-report.jpg', alt: _('Automating Society Report 2020'), :class => "card--image", loading: 'lazy') %>
</a>
