<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇧🇪</span><%= _('Belgium') %></div>
  <%= image_tag('ati_network/showcase/cada2025-illu-2560.cleaned-1536x1086.jpg', alt: _('Video surveillance in Belgium'), :class => "card--image", loading: 'lazy') %>
  <h3 class="card--title"><%= _('Exposing the impacts of widespread use of video surveillance in Belgium') %></h3>
  <a href="https://technopolice.fr/blog/generalisation-de-la-videosurveillance-en-belgique/" class="card--button"><%= _('Read more') %></a>
</div>
