<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇧🇪</span><%= _('Belgium') %></div>
  <p class="card--text"><%= _('Lack of communication around electrical compliance of social housing.') %></p>
  <a href="https://www.levif.be/belgique/conformite-electrique-dun-logement-social-les-locataires-ne-sont-pas-automatiquement-informes/" class="card--button"><%= _('Read more') %></a>
</div>
