<a href="https://www.researchgate.net/publication/381672356_Evaluating_transparency_policy_in_Belgium_A_citizen_science_assessment_of_FOI_implementation_at_the_municipal_level" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit Evaluating transparency policy in Belgium report') %>">
  <div class="card--header-badge"><span class="badge--flag">🇧🇪</span><%= _('Belgium') %></div>
  <%= image_tag('ati_network/showcase/evaluating-transparency-policy.jpg', alt: _('Evaluating transparency policy in Belgium report'), :class => "card--image", loading: 'lazy') %>
</a>