<a href="https://multinationales.org/IMG/pdf/crm_english_v1.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit Blood on the green deal report report') %>">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Europe') %></div>
  <%= image_tag('ati_network/showcase/blood-green-deal.jpg', alt: _('Blood on the green deal report'), :class => "card--image", loading: 'lazy') %>
</a>
