<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Cross Border') %></div>
  <h3 class="card--title"><%= _('Using FOI for a cross-border investigation into immigrant detention') %></h3>
  <a href="https://www.mysociety.org/2025/09/04/using-foi-for-a-cross-border-investigation-into-immigrant-detention/" class="card--button"><%= _('Read more') %></a>
</div>
