<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇭🇷</span><%= _('Croatia') %></div>
  <p class="card--text"><%= _('Investigating severe delays in a Ministry of Health IT system.') %></p>
  <a href="https://zadarskilist.novilist.hr/novosti/ministarstvo-zdravstva-cetiri-godine-kasni-s-umrezavanjem-informatickog-sustava/" class="card--button"><%= _('Read more') %></a>
</div>
