<a href="https://gong.hr/wp-content/uploads/2022/03/Energy-Sector-in-Croatia-and-Serbia-Caught-Up-in-Interest-Networks.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit Energy Sector in Croatia and Serbia report') %>">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Cross Border') %></div>
  <%= image_tag('ati_network/showcase/energy-sector-in.jpg', alt: _('Energy Sector in Croatia and Serbia report'), :class => "card--image", loading: 'lazy') %>
</a>
