<a href="https://www.ghadvocates.eu/app/uploads/Report-1-1.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit GH Advocates report') %>">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Europe') %></div>
  <%= image_tag('ati_network/showcase/report-1-1.jpg', alt: _('GH Advocates report'), :class => "card--image", loading: 'lazy') %>
</a>
