<div class="gallery-grid--card gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Europe') %></div>
  <%= image_tag('ati_network/showcase/the-forever-lobbying.jpg', alt: _('The Forever Lobbying Project'), :class => "card--image", loading: 'lazy') %>
  <p class="card--text"><%= _('<strong>Cross-border investigation exposing chemical lobbying against EU action on PFAS ("forever chemicals")</strong> – shortlisted for the Daphne Caruana Galizia Prize for Journalism. The investigation’s findings were published in a coordinated series of reports in national media outlets across Europe and beyond. They have been cited by NGOs, policymakers, and the European Parliament in discussions on regulatory reforms, underlining the power of transparency to drive change.').html_safe %></p>
  <a href="https://www.access-info.org/2025-08-01/winner-announced-for-the-helen-darbishire-award-2025/" class="card--button"><%= _('Read more') %></a>
</div>
