<a href="https://www.ghadvocates.eu/app/uploads/IMI-report-final.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit IMI report') %>">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Europe') %></div>
  <%= image_tag('ati_network/showcase/imi-report-final.jpg', alt: _('IMI report'), :class => "card--image", loading: 'lazy') %>
</a>
