<a href="https://multinationales.org/IMG/pdf/eng_uber_files_2_final_single_pages.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit Uber Files report') %>">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Europe') %></div>
  <%= image_tag('ati_network/showcase/eng-uber-files.jpg', alt: _('Uber Files report'), :class => "card--image", loading: 'lazy') %>
</a>
