<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇪🇺</span><%= _('Europe') %></div>
  <h3 class="card--title"><%= _('The influence of the Atlas Network') %></h3>
  <p class="card--text"><%= _("Examining the web of libertarian and ultraconservative think tanks' growing presence in the EU.") %></p>
  <a href="https://multinationales.org/en/investigations/the-atlas-network-france-and-the-eu/" class="card--button"><%= _('Read more') %></a>
</div>
