<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇫🇷</span><%= _('France') %></div>
  <h3 class="card--title"><%= _("Macron's Payslips") %></h3>
  <p class="card--text"><%= _('A front page story in 2024, has since been expanded to mass reporting on Mayoral expenses.') %></p>
  <a href="https://www.mysociety.org/2024/06/20/how-a-payslip-taught-france-about-their-transparency-rights/" class="card--button"><%= _('Read more') %></a>
</div>
