<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇫🇷</span><%= _('France') %></div>
  <p class="card--text"><%= _('Designer clothing, false eyelashes and a rabbit-shaped pizza – mayoral expenses are a big topic in France.') %></p>
  <a href="https://www.mysociety.org/2025/10/23/plus-ca-change-plus-cest-la-meme-chose/" class="card--button"><%= _('Read more') %></a>
</div>
