<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇬🇪</span><%= _('Georgia') %></div>
  <h3 class="card--title"><%= _('Undrinkable') %></h3>
  <p class="card--text"><%= _('Investigation into the supply of contaminated drinking water quality to homes, schools and kindergartens across multiple towns.') %></p>
  <a href="https://www.radiotavisupleba.ge/a/%E1%83%9C%E1%83%90%E1%83%AE%E1%83%94%E1%83%97-%E1%83%A0%E1%83%9D%E1%83%9B%E1%83%94%E1%83%9A-%E1%83%A5%E1%83%90%E1%83%9A%E1%83%90%E1%83%A5%E1%83%94%E1%83%91%E1%83%A1%E1%83%90-%E1%83%93%E1%83%90-%E1%83%A1%E1%83%9D%E1%83%A4%E1%83%9A%E1%83%94%E1%83%91%E1%83%A8%E1%83%98-%E1%83%A1%E1%83%95%E1%83%90%E1%83%9B%E1%83%94%E1%83%9C-%E1%83%91%E1%83%90%E1%83%95%E1%83%A8%E1%83%95%E1%83%94%E1%83%91%E1%83%98-%E1%83%93%E1%83%90%E1%83%91%E1%83%98%E1%83%9C%E1%83%AB%E1%83%A3%E1%83%A0%E1%83%94%E1%83%91%E1%83%A3%E1%83%9A-%E1%83%AC%E1%83%A7%E1%83%90%E1%83%9A%E1%83%A1/32462703.html" class="card--button"><%= _('Read more') %></a>
</div>
