<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇬🇪</span><%= _('Georgia') %></div>
  <p class="card--text"><%= _('Georgian police use of Russian software and forensic technology.') %></p>
  <a href="https://www.radiotavisupleba.ge/a/%E1%83%A0%E1%83%9D%E1%83%92%E1%83%9D%E1%83%A0-%E1%83%98%E1%83%A7%E1%83%94%E1%83%9C%E1%83%94%E1%83%91%E1%83%A1-%E1%83%A5%E1%83%90%E1%83%A0%E1%83%97%E1%83%A3%E1%83%9A%E1%83%98-%E1%83%9E%E1%83%9D%E1%83%9A%E1%83%98%E1%83%AA%E1%83%98%E1%83%90-%E1%83%A0%E1%83%A3%E1%83%A1%E1%83%A3%E1%83%9A-%E1%83%9E%E1%83%A0%E1%83%9D%E1%83%92%E1%83%A0%E1%83%90%E1%83%9B%E1%83%94%E1%83%91%E1%83%A1-%E1%83%93%E1%83%90-%E1%83%A1%E1%83%90%E1%83%94%E1%83%A5%E1%83%A1%E1%83%9E%E1%83%94%E1%83%A0%E1%83%A2%E1%83%98%E1%83%96%E1%83%9D-%E1%83%A2%E1%83%94%E1%83%A5%E1%83%9C%E1%83%98%E1%83%99%E1%83%90%E1%83%A1/32248091.html" class="card--button"><%= _('Read more') %></a>
</div>
