<div class="gallery-grid--card">
    <div class="card--header-badge"><span class="badge--flag">🇭🇺</span><%= _('Hungary') %></div>
    <h3 class="card--title"><%= _('Investigating lack of oversight in safety zones near battery factories') %></h3>
    <a href="https://atlatszo.hu/orszagszerte/2024/09/26/elfelejtettek-veszelyessegi-ovezeteket-kijelolni-a-godi-samsung-gyar-korul/" class="card--button"><%= _('Read more') %></a>
</div>
