<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇭🇺</span><%= _('Hungary') %></div>
  <h3 class="card--title"><%= _('Using FOI to uncover a 900m HU Florins ($3 million) state railway contract') %></h3>
  <p class="card--text"><%= _('Court rules in favour of the public in a case against the state railway company that hid its contract.') %></p>
  <a href="https://english.atlatszo.hu/2025/02/26/court-rules-in-favour-of-the-public-in-our-case-against-the-state-railway-company-that-hid-its-contract/" class="card--button"><%= _('Read more') %></a>
</div>
