<div class="gallery-grid--card gallery-grid--card--width2">
  <div class="card--header-badge"><span class="badge--flag">🌐</span><%= _('International') %></div>
  <div class="modal-button card-thumbnail" tabindex="0" role="button" aria-label="<%= _('Open video: Tackling the climate crisis with Access To Information rights') %>">
    <div class="video-thumbnail">
      <div class="youtube-svg"></div>
      <img src="https://img.youtube.com/vi/efYIud0SIa0/maxresdefault.jpg" loading="lazy" role="presentation" aria-hidden="true">
    </div>
  </div>
  <div class="modal-content modal-hidden" aria-hidden="true">
    <div class="modal-container" role="dialog" aria-modal="true" aria-labelledby="modal-title-1">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title-1"><%= _('Tackling the climate crisis with Access To Information rights') %></h3>
        <button class="modal-close modal-close--just-icon" aria-label="<%= _('Close') %>">×</button>
      </div>
      <div class="modal-body">
        <div class="video-container">
          <iframe tabindex="0" width="560" height="315" src="https://www.youtube.com/embed/efYIud0SIa0?enablejsapi=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
