<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇲🇩</span><%= _('Moldova') %></div>
  <h3 class="card--title"><%= _('Investigating electronic judicial case-allocation system manipulation') %></h3>
  <a href="https://anticoruptie.md/ro/investigatii/integritate/sistemul-electronic-de-repartizare-a-dosarelor-spart-de-angajati-cu-interese?fbclid=IwAR06DmCdpCYwgWIyYHKy7KYCiw8Ymoc8PoV7c063wGrn0jyMn5N7DmLf19o" class="card--button"><%= _('Read more') %></a>
</div>
