<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇲🇩</span><%= _('Moldova') %></div>
  <h3 class="card--title"><%= _('Exposing delays and lack of outcomes in medical malpractice investigations') %></h3>
  <a href="https://anticoruptie.md/ro/investigatii/justitie/justitie-cu-suspendare-adevarul-din-spatele-dosarelor-de-malpraxis?tztc=1" class="card--button"><%= _('Read more') %></a>
</div>
