<a href="https://multinationales.org/IMG/pdf/pfuesousinfluence.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _('Visit A presidency under influence report') %>">
  <div class="card--header-badge"><span class="badge--flag">🇫🇷</span><%= _('France') %></div>
  <%= image_tag('ati_network/showcase/president-influence.jpg', alt: _('A presidency under influence'), :class => "card--image", loading: 'lazy') %>
</a>
