<div class="gallery-grid--card gallery-grid--card-quote gallery-grid--card-quote--small">
  <h3 class="card--title"><%= _("“Batch requesting and WhatDoTheyKnow's <strong>built-in reminders of when it's time to chase up a response</strong> have been useful. It was also useful in sending requests to public bodies who are hard to contact, as <strong>the contact address database is amazing</strong>.”").html_safe %></h3>
  <p class="card--text">— <a href="https://www.mysociety.org/2023/02/09/foi-and-chinese-cctv-cameras/">Jake Hurfurt, Big Brother Watch</a></p>
</div>
