<div class="gallery-grid--card gallery-grid--card-quote">
  <h3 class="card--title"><%= _("“It's very valuable because… <strong>if someone has already asked</strong> for it and the information is there, <strong>you don't have to replicate the same job</strong> again.”").html_safe %></h3>
  <p class="card--text">— <a href="https://www.mysociety.org/2025/09/04/using-foi-for-a-cross-border-investigation-into-immigrant-detention/">Coral Dorado, Maldita</a></p>
</div>
