<div class="gallery-grid--card gallery-grid--card-quote gallery-grid--card-quote--medium">
  <h3 class="card--title"><%= _('“What I really love about the platform is that you can do a "google search" within it. <strong>It’s a repertoire of information that is already there</strong> so you can see what institutions have already responded instead of always having to re-launch new requests.”').html_safe %></h3>
  <p class="card--text">– <%= _('EUObserver journalist') %></p>
</div>
