<a href="https://pdfs.semanticscholar.org/46fc/f38867f5b2afd75519976b8d3a73ff83816e.pdf" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _("Visit Preschool Principals' Notions of Digitalized Staff-Parent Communication report") %>">
  <div class="card--header-badge"><span class="badge--flag">🇸🇪</span><%= _('Sweden') %></div>
  <%= image_tag('ati_network/showcase/preschool-principals-notions.jpg', alt: _('Preschool Principals Notions report'), :class => "card--image", loading: 'lazy') %>
</a>