<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇬🇧</span><%= _('United Kingdom') %></div>
  <h3 class="card--title"><%= _('Sexual assault and harassment in the army') %></h3>
  <p class="card--text"><%= _('The Telegraph and other UK national papers published a report on sexual assault and harassment in the army, made public for the first time through an FOI on WhatDoTheyKnow.') %></p>
  <a href="https://www.telegraph.co.uk/news/2025/09/24/revealed-the-damning-sex-dossier-the-army-tried-to-bury/" class="card--button"><%= _('Read more') %></a>
</div>
