<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇬🇧</span><%= _('United Kingdom') %></div>
  <h3 class="card--title"><%= _('Dark Money') %></h3>
  <p class="card--text"><%= _("Investigation series around political funding that is hidden or hard to trace that's made extensive use of FOI.") %></p>
  <a href="https://www.opendemocracy.net/en/dark-money-investigations/" class="card--button"><%= _('Read more') %></a>
</div>
