<a href="https://www.mysociety.org/2023/02/09/foi-and-chinese-cctv-cameras/" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _("Visit Who's Watching You report") %>">
  <div class="card--header-badge"><span class="badge--flag">🇬🇧</span><%= _('United Kingdom') %></div>
  <%= image_tag('ati_network/showcase/whos-watching-you.jpg', alt: _("Who's Watching You report"), :class => "card--image", loading: 'lazy') %>
</a>
