<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇬🇧</span><%= _('United Kingdom') %></div>
  <h3 class="card--title"><%= _('UK govt spent £2.4 million on a superinjunction') %></h3>
  <p class="card--text"><%= _('WhatDoTheyKnow was used to find out that the UK govt spent £2.4 million on a superinjunction to stop journalists from reporting on a data breach which accidentally exposed information about 19,000 Afghans.') %></p>
  <a href="https://www.nytimes.com/2025/08/13/world/europe/uk-data-breach-afghan.html" class="card--button"><%= _('Read more') %></a>
</div>
