<div class="gallery-grid--card">
  <div class="card--header-badge"><span class="badge--flag">🇺🇦</span><%= _('Ukraine') %></div>
  <h3 class="card--title"><%= _('A shadow over transparency') %></h3>
  <p class="card--text"><%= _('How much money is spent on housing reconstruction for Internally Displaced Persons.') %></p>
  <a href="https://mediadokaz.pl.ua/2023/11/28/tin-na-prozorosti-skilki-koshtiv-na-poltavshhini-vitrachayut-na-rekonstrukcziyu-zhitla-dlya-vpo/" class="card--button"><%= _('Read more') %></a>
</div>
