<a href="https://journals.dpu.kyiv.ua/index.php/collectioneconomy/article/view/457" class="gallery-grid--card gallery-grid--card--report-cover" aria-label="<%= _("Visit Statistical Assessment of Macroeconomic Threats to Ukraine's Economic Security report") %>">
  <div class="card--header-badge"><span class="badge--flag">🇺🇦</span><%= _('Ukraine') %></div>
  <%= image_tag('ati_network/showcase/cover-issue-30.jpg', alt: _('Statistical Assessment of Macroeconomic Threats report'), :class => "card--image", loading: 'lazy') %>
</a>
