<div class="dashboard-todo">
  <h2 class="dashboard-todo__title"><%= _("Things to do today") %></h2>
  <div class="dashboard-todo__zero">
    <p><%= _("There's nothing to do right now. Great job!") %></p>
  </div>
</div>  <!-- .dashboard-todo -->
