<div class="dashboard-todo">

  <h2 class="dashboard-todo__title"><%= _("Things to do today") %></h2>

  <ul class="dashboard-todo__list">

   <p><%= _("None of your requests currently need you to take action. Take a well-earned break, or perhaps start a new request now?") %></p>

  </ul>

</div>  <!-- .dashboard-todo -->
