<div class="dashboard-right-column">
  <div class="blank-slate">
    <div class="blank-slate__requests">
      <div class="blank-slate__message">
        <h2><%= _("Get started with your first request") %></h2>
        <p><%= _("From this screen you can see what you need to do next to keep your requests moving forward. Why not start a new request now?") %></p>
        <%= link_to _("Start new request"), new_alaveteli_pro_info_request_path, :class => 'new-request-button' %>
      </div>
    </div>
  </div>
</div>

