<span class="request-header__restricted_correspondence">
  <br><br>
  <%= _('<strong>Automatic anti-spam measures are in place</strong> for ' \
        'this older request. Please <a href="{{url}}">let us know</a> if a ' \
        'further response is expected or if you are having trouble ' \
        'responding.',
        url: help_contact_path) %>
</span>
