<span class="request-header__closed_to_correspondence">
  <br><br>
  <%= _('This request has been <strong>closed to new correspondence ' \
        'from the public body</strong>. <a href="{{url}}"">Contact us</a> ' \
        'if you think it ought be re-opened.',
        url: help_contact_path) %>
</span>
