<span class="request-header__closed_to_correspondence">
  <%=
    _('This request has been <strong>closed to new correspondence</strong>. ' \
      '<a href="{{help_contact_url}}">Contact us</a> if you think it should ' \
      'be reopened.',
      help_contact_url: help_contact_path)
  %>
</span>
