<section class="showcase-quote-section">
  <div class="container">
    <h2><%= _('“Requests made via WhatDoTheyKnow Pro have made it into the Times, Guardian, Observer and Mirror this year alone.”') %></h2>
    <p>— <a href="https://www.mysociety.org/2023/06/02/revealing-vital-environmental-information-with-whatdotheyknow-pro/">Lucas Amin</a>
  </div>
</section>
