<div class="sidebar__section request__special-status">
  <% if concealed_prominence?(info_request) %>
    <h2><%= _('Request hidden') %></h2>

    <p>
      <%= render_prominence(info_request) %>
    </p>
  <% elsif info_request.described_state != 'attention_requested' %>
    <h2><%= _('Offensive? Unsuitable?') %></h2>

    <p>
      <%= _('This request has been marked for review by the site ' \
            'administrators, who have not hidden it at this time. ' \
            'If you believe it should be hidden, please ' \
            '<a href="{{url}}">contact us</a>.',
            url: help_requesting_path.html_safe) %>
    </p>
  <% end %>
</div>
