    <blockquote class="xsnazzy">
    <b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b>
    <div class="xboxcontent">
    <p><%= body.gsub(/\n/, '<br>') %></p>
    </div>
    <b class="xb7"></b><b class="xb6"></b><b class="xb5"></b><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b>
    <em></em>
    <span></span>
    </blockquote>


