<div class="ff-print-fix"></div>

<%=
  begin
    render partial: "request/events/#{ info_request_event.event_type }",
           locals: { info_request_event: info_request_event,
                     show_correspondence_footer: show_correspondence_footer }
  rescue ActionView::MissingTemplate
  end
%>
