<% if !AlaveteliConfiguration::override_all_public_body_request_emails.blank? %>
  <div class="warning">
    <%= _("<strong>Note:</strong> Because we're testing, requests are being sent to {{email}} rather than to the actual authority.", :email => AlaveteliConfiguration::override_all_public_body_request_emails) %>
  </div>
<% end %>
