<p class="message-text-length"
   data-length-monitor-selector="#outgoing_message_body"
   data-length-monitor-threshold-l="800"
   data-length-monitor-message-l="<%= _("Getting long – remember to keep it focussed") %>"
   data-length-monitor-threshold-xl="2000"
   data-length-monitor-message-xl="<%= _("Very long – shorter requests are more successful") %>">
</p>
