<% if contains_email %>
  <% if user.nil? %>
    <%= _("<p>You do not need to include your email in the " \
          "request in order to get a reply, as we will ask " \
          "for it on the next screen (<a href=\"{{url}}\">" \
          "details</a>).</p>",
          url: help_link.html_safe) %>
  <% else %>
    <%= _("<p>You do not need to include your email in the " \
          "request in order to get a reply (<a href=\"{{url}}\">" \
          "details</a>).</p>",
          url: help_link.html_safe) %>
  <% end %>
  <%= _("<p>We recommend that you edit your request and remove " \
        "the email address. If you leave it, the email address " \
        "will be sent to the authority, but will not be " \
        "displayed on the site.</p>") %>
<% end %>
<% if contains_postcode %>
  <%= _("<p>Your request contains a <strong>postcode</strong>. " \
       "Unless it directly relates to the subject of your " \
       "request, please remove any address as it will <strong>" \
       "appear publicly on the Internet</strong>.</p>") %>
<% end %>
