<div class="list-filter-item">
  <div class="filter-request-types">
    <ul>
      <% statuses = [["all", _("all requests")],
                     ["successful", _("successful requests")],
                     ["unsuccessful", _("unsuccessful requests")],
                     ["awaiting", _("unresolved requests")]] %>
      <% statuses.each do |status, label| %>
        <li>
          <% if params[:view] != status %>
            <% if params[:controller] == "public_body" %>
              <%= link_to label, url_for(:controller => "public_body", :action => "show", :view => status, :url_name => @public_body.url_name) + "?" + request.query_string + '#results' %>
            <% else %>
              <%= link_to label, url_for(:controller => "request", :action => "list", :view => status) + "?" + request.query_string + '#results' %>
            <% end %>
          <% else %>
            <span><%= label %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
