<% if can? :share, info_request %>
  <div class="sidebar__section share-private-url">
    <h2>Share with private link</h2>

    <%= text_field_tag 'share_by_link',
      public_token_url(info_request.public_token, locale: false) %>

    <p class="sidebar__note">
      <%= _('Anyone with the link will be able to view this request.') %>
    </p>
  </div>
<% end %>
