<% @title = @info_request.title %>

<h2><%=@title%></h2>

<p>
Request to <%=@info_request.public_body.name%>
</p>

<p>
Created by 
<%= link_to @info_request.user.name, :controller => 'user', :action => 'index', :name => @info_request.user.name %>
on <%= @info_request.created_at %>
</p>



