<% @title = _("'{{authority_name}}' is defunct",
              authority_name: @info_request.public_body.name) %>

<h1><%= @title %></h1>

<p>
  <%= _("Sorry, '{{authority_name}}' has been marked as defunct, which means " \
        "we can no longer process requests to them. You may need to check " \
        "whether their responsibilities have been taken over by a " \
        "different authority.",
        authority_name: @info_request.public_body.name) %>
</p>
<% unless @info_request.public_body.notes.blank? %>
  <p>
    <%= _("You might find some useful information in the notes we hold " \
          "about '{{authority_name}}':",
          authority_name: @info_request.public_body.name) %>
  </p>
  <p>
    <%= @info_request.public_body.notes %>
  </p>
<% end %>
