<div class="tab-pane" id="div-locale-<%=locale.to_s%>">
  <div class="control-group">
    <%= t.hidden_field :locale, :value => locale.to_s %>
    <%= t.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= t.text_field :name, :class => "span4" %>
    </div>
  </div>
</div>
