<h1>AlaveteliPro::Plans#index</h1>
<p>Find me in app/views/alaveteli_pro/plans/index.html.erb</p>

<h2>TODO:</h2>

<ul>
  <li>Intro</li>
  <li>Pricing Options</li>
  <li>Link to Pro signup with selected price option stored</li>
</ul>
