# This file is used to define code owners for this repository.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @openaustralia/team-right-to-know