!/lib/themes/.keep
!/log/.keep
!/public/adminbootstraptheme
.bundle/
.ruby-version
.sass-cache/
.vagrant/
.vagrant.yml
cache/
config/*.deployed
config/aliases
config/config.tmp
config/crontab
config/database.yml
config/deploy.yml
config/deploy.yml.*
config/general*.yml
config/httpd.conf
config/logrotate
config/memcached.yml
config/newrelic.yml
config/rails_env.rb
config/user_spam_scorer.yml
coverage/
db/development_structure.sql
db/structure.sql
files/
lib/themes/*
locale/model_attributes.rb
log/*
old-cache/
public/*theme/
public/assets/
public/download/
tmp/
vendor/bundle/
