!/lib/themes/.keep
!/log/.keep
/.bundle/
/.ruby-version
/.sass-cache/
/.vagrant.yml
/.vagrant/
/cache/
/config/*.deployed
/config/aliases
/config/config.tmp
/config/crontab
/config/database.yml
/config/deploy.yml*
/config/general*.yml
/config/httpd.conf
/config/logrotate
/config/memcached.yml
/config/newrelic.yml
/config/rails_env.rb
/config/user_spam_scorer.yml
/coverage/
/db/schema.rb
/db/structure.sql
/files/
/lib/themes/*
/locale/model_attributes.rb
/log/*
/old-cache/
/public/*theme/
/public/alavetelitheme
/public/asktheeu-theme
/public/assets/
/public/down.current.html
/public/down.html
/public/download/
/public/foi-live-creation.png
/public/foi-user-use.png
/public/google*.html
/public/wordpress
/tmp/
/vendor/bundle/
/vendor/data/
