!/lib/themes/.keep
!/log/.keep
!/public/adminbootstraptheme
*#*#
*~
.*.swp
.DS_Store
._*
.autotest
.bundle/
.overcommit.yml
.rbenv-version
.ruby-version
.rvmrc
.sass-cache/
.vagrant/
.vagrant.yml
TAGS
alaveteli*.sublime*
cache/
config/aliases
config/deploy.yml.*
config/general*.yml
config/httpd.conf
config/user_spam_scorer.yml
coverage/
db/development_structure.sql
db/structure.sql
files/
lib/themes/*
locale/model_attributes.rb
log/*
old-cache/
public/*theme/
public/assets/
public/download/
sqlitedbs/
tmp/
vendor/bundle/
webrat.log
