fqdn: alaveteli.10.10.10.30.nip.io
ip: 10.10.10.30
# Only use this on networks you trust
public_network: false
memory: 1536
themes_dir: ../alaveteli-themes
os: stretch64
use_nfs: false
show_settings: false
# By default CPU count is calculated dynamically
cpus: 2
