<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-multi-send.png',
                alt: _('Batch FOI requests')) %>

  <h3>Sending to multiple authorities at once?</h3>

  <p>No more copy and paste emails: our Batch Request tool helps you create one request and send it to many authorities at once.</p>
</div>