<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-problem-inbox.png',
                alt: _('Overflowing inbox?')) %>

  <h3>Overflowing inbox?</h3>

  <p>WhatDoTheyKnow Pro moves request handling out of your email and onto a dedicated dashboard, keeping everything organised.</p>
</div>
