<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-books.png',
                alt: _('FOI address book')) %>

  <h3>Searching for the right email address for every FOI contact?</h3>

  <p>You’ll have access to our address book of more than 24,000 UK authorities that are subject to FOI.</p>
</div>
