<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-books.png',
                alt: _('FOI address book')) %>

  <h3>
    <%= _('Searching for the right email address for every FOI contact?') %>
  </h3>

  <p>
    <%= _('You’ll have access to our address book of {{authority_count}} ' \
          'authorities that are subject to FOI.',
          authority_count: PublicBody.is_requestable.count) %>
  </p>
</div>
