<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-automation.png',
                alt: _('Automate FOI request management')) %>

  <h3>
    <%= _('Tired of the fiddly details that add time to your investigation?') %>
  </h3>

  <p>
    <%= _('If your request bounces back, we source the new address for that ' \
          'authority.') %>
  </p>
</div>
