<div class="marketing__feature">
  <%= image_tag("alaveteli-pro/pro-todo.png",
                  alt: _("Keep track of FOI requests")) %>

  <h3>Hard to keep track of your many requests?</h3>

  <p>No need to check: we’ll send an email alert telling you when you need to take action.</p>
</div>