<%= @name %>,

You just tried to sign up to WhatDoTheyKnow.com, when you
already have an account. Your name and password have been
left as they previously were.

Please click on the link below. <%=@reasons[:email]%> 

<%=@url%>

-- the WhatDoTheyKnow team
