<%= @name %>,

<%= _('Please click on the link below to confirm that you want to 
change the email address that you use for WhatDoTheyKnow
from ')%><%=@old_email%> <%= _('to ')%><%=@new_email%>

<%=@url%>

<%= _('We will not reveal your email addresses to anybody unless you
or the law tell us to.')%>

-- the WhatDoTheyKnow team
