Someone, perhaps you, just tried to change their email address on
WhatDoTheyKnow.com from <%=@old_email%> to <%=@new_email%>.

This was not possible because there is already an account using 
the email address <%=@new_email%>.

The accounts have been left as they previously were.

-- the WhatDoTheyKnow team
