<%= _('Someone, perhaps you, just tried to change their email address on
WhatDoTheyKnow.com from ')%><%=@old_email%> <%= _('to')%> <%=@new_email%>.

<%= _('This was not possible because there is already an account using 
the email address ')%><%=@new_email%>.

<%= _('The accounts have been left as they previously were.')%>

-- <%= _('the WhatDoTheyKnow team') %>
