<%= @name %>,

Please click on the link below to confirm your email address.
<%=@reasons[:email]%> 

<%=@url%>

We will not reveal your email address to anybody unless you
or the law tell us to.

-- the WhatDoTheyKnow team
