<%= @name %>,

Please click on the link below to confirm your email address.
<%=@reasons[:email]%> 

<%=@url%>

We will never give away or sell your email address to anyone else
without your permission.

-- the GovernmentSpy.com team
