<%= _('<p>All done! Thank you very much for your help.</p><p>There are ' \
  '<a href="{{helpus_url}}">more things you can do</a> to help ' \
  '{{site_name}}.</p>',
      helpus_url: helpus_url,
      site_name: site_name) %>
