<%= _("Thank you for updating the status of the request " \
      "'<a href=\"{{url}}\">{{info_request_title}}</a>'. " \
      "There are some more requests below for you to classify.",
      info_request_title: info_request_title,
      url: url) %>
