<section id="introduction">
  <h2>
    Introduction
  </h2>
</section>
<section id="usage">
  <h2>
    Usage
  </h2>
</section>
<section id="accounts">
  <h2>
    Accounts
  </h2>
</section>
<section id="termination">
  <h2>
    Termination, cancellation and suspension
  </h2>
</section>
<section id="attribution">
  <h2>
    Attribution
  </h2>
</section>
<section id="payment">
  <h2>
    Payment
  </h2>
</section>
<section id="support">
<h2>
  SLA and support
</h2>
</section>
<section id="small-print">
  <h2>
    Small print
  </h2>
</section>
<section id="privacy">
  <h2>
    Privacy
  </h2>
</section>
