$grid-gutter: 2em;

.row {
    @include clearfix();
    margin-left: $grid-gutter / -2;
    margin-right: $grid-gutter / -2;

    display: flex;
    flex-wrap: wrap;
}

@for $i from 1 through 12 {
    .col-#{$i},
    .col-sm-#{$i},
    .col-md-#{$i},
    .col-lg-#{$i} {
        float: left;
        padding-left: $grid-gutter / 2;
        padding-right: $grid-gutter / 2;
        min-height: 1px;
        width: 100%;
    }

    .col-#{$i} {
        width: 100% / 12 * $i;
    }
}

@media(min-width: $medium-screen) {
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            width: 100% / 12 * $i;
        }
    }
}

@media(min-width: $mediumish-screen) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            width: 100% / 12 * $i;
        }
    }
}

@media(min-width: $large-screen) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            width: 100% / 12 * $i;
        }
    }
}
