<label class="radio inline">
  <%= radio_button_tag "reason", "not_foi" %> Not a valid FOI request
</label>

<label class="radio inline">
  <%= radio_button_tag "reason", "vexatious" %> A vexatious request
</label>
