<label class="radio inline">
  <%= radio_button_tag "reason", "not_foi" %> <%= _("Not a valid FOI request") %>
</label>

<label class="radio inline">
  <%= radio_button_tag "reason", "vexatious" %> <%= _("A vexatious request") %>
</label>
