<% @title = 'Listing FOI/EIR requests' %>

<h1><%=@title%></h1>

<% form_tag("", :method => "get") do %>
   <p>
       <%= text_field_tag 'query', params[:query], { :size => 30 } %>
       <%= submit_tag "Search" %> (substring search, titles only)
   </p>
<% end %>

<%= render :partial => 'some_requests', :locals => { :info_requests => @info_requests } %>

<%= will_paginate(@info_requests) %>

