<% @title = 'Raw email for incoming message ' + @raw_email.incoming_message.id.to_s + ' of FOI request \'' + h(@raw_email.incoming_message.info_request.title) + "'" %>

<h1><%=@title%></h1>

<pre><%=h(@raw_email.data).gsub!(/\n/, '<br>') %></pre>

