<h1>Health Checks</h1>

<div class="checks">
  <% @health_checks.each do |check| %>
    <div class="check">
      <ul>
        <li>Message: <%= check_status(check) %></li>
        <li>OK? <%= check.ok? %></li>
      </ul>
    </div>
  <% end %>
</div>
