<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-time.png',
                alt: _('Save time managing FOI requests')) %>

  <h3><%= _('Not enough hours in the day?') %></h3>

  <p>
    <%= _('{{pro_site_name}} does all the heavy lifting, leaving you with ' \
          'more time to focus on your research.',
          pro_site_name: AlaveteliConfiguration.pro_site_name) %>
  </p>
</div>
