<div class="how-it-works__item">
  <h3><%= _('Make a request') %></h3>

  <p>
    <%= _('Because we’ve streamlined the request-writing process, Pro saves ' \
          'you a lot of back and forth. Search our database of authorities, ' \
          'pick which one — or many — you want to contact, and compose your ' \
          'request right there.') %>
  </p>
</div>
