<div class="how-it-works__item">
  <h3><%= _('Reminders') %></h3>

  <p>
    <%= _('You’ve got plenty of other things to think about, so you don’t ' \
          'want to be checking up on every single one of your requests to ' \
          'see if it needs attention. Instead, Pro keeps an eye on them for ' \
          'you, sending you a daily email digest.') %>
  </p>
</div>
