<h2>Embargo</h2>
<% if @embargo && @embargo.publish_at %>
  <p>
    <%= _("This request will be embargoed until {{embargo_publish_at}}",
          embargo_publish_at: @embargo.publish_at.to_date) %>
  </p>
<% else %>
  <p><%= _("This request will be published immediately") %></p>
<% end %>
