<% if embargo && embargo.publish_at %>
<p class="js-embargo-active">
  <% if tense == :future %>
    <%= _('This request will be private on {{site_name}} until ' \
          '<strong class="js-embargo-expiry">{{embargo_publish_at}}</strong>',
          site_name: AlaveteliConfiguration.site_name,
          embargo_publish_at: embargo_publish_at(embargo)) %>
  <% else %>
    <%= _('This request is private on {{site_name}} until ' \
          '<strong class="js-embargo-expiry">{{embargo_publish_at}}</strong>',
          site_name: AlaveteliConfiguration.site_name,
          embargo_publish_at: embargo_publish_at(embargo)) %>
  <% end %>
</p>
<% end %>

<span class="js-embargo-inactive"<% if embargo && embargo.publish_at %> style="display: none;"<% end %>>
  <% if tense == :future %>
    <p><%= _("Unless you choose a privacy option, your request will be " \
             "public on {{site_name}} immediately.",
             site_name: AlaveteliConfiguration.site_name) %></p>
  <% else %>
    <p><%= _("This request is public") %></p>
  <% end %>
</span>
