<div class="dashboard-right-column">
  <div class="blank-slate">
    <div class="blank-slate__requests">
      <div class="blank-slate__message">
        <h2><%= _("Get started with your first request") %></h2>
        <p><%= _("From this screen you can get a helpful overview of your requests, and use quick actions to keep them up to date. Why not start your first one now?") %></p>
        <a href="#" class="button">Start new request</a>
      </div>
    </div>
  </div>
</div>
