<% batch_request = @info_request_batch.present? %>

<% if batch_request %>
  <% @title = _("Preview new batch request") %>
<% else %>
  <% @title = _("Preview new {{law_used_short}} request to '{{public_body_name}}'",
                :law_used_short => h(@info_request.law_used_human(:short)),
                :public_body_name => h(@info_request.public_body.name)) %>
<% end %>
<div class="pro-canvas">
  <div class="pro-canvas-header">
    <div class="row">
      <h1><%= @title %></h1>
    </div>
  </div>
  <div class="pro-canvas-body">
    <div class="row">
      <div class="new_info_request">
        <div class="message-preview">
          <div class="preview-advice">
            <div class="advice-panel">
              <%= render partial: "alaveteli_pro/info_requests/embargo_info",
                         locals: { embargo: @embargo, tense: :future }  %>
            </div>
          </div>

          <div class="preview-pane">
            <% if batch_request %>
              <%= render partial: 'alaveteli_pro/info_request_batches/message_preview',
                         locals: {
                            batch: @info_request_batch,
                            draft: @draft_info_request_batch
                         } %>
            <% else %>
              <%= render partial: 'alaveteli_pro/info_requests/message_preview',
                         locals: {
                            info_request: @info_request,
                            draft_info_request: @draft_info_request,
                            outgoing_message: @outgoing_message
                         } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
