body.access-to-information {
  .hero-section {
    background: linear-gradient(180deg, #974495 0%, #97447A 50%, #97445E 100%);
    position: relative;
    overflow: hidden;
    text-align: center;

    .hero-section-image {
      position: absolute;
      z-index: 1;
      height: 95%;
      max-width: unset;
      left: 50%;
      transform: translateX(-50%);
      top: 1rem;
    }

    .hero-content {
      z-index: 2;
      position: relative;
      color: var(--hero-color, #fff);

      .hero-main-content {
        text-shadow: var(--hero-text-shadow, 0 1px 2px rgba(51, 51, 51, 0.3));
        margin-bottom: 4rem;

        .hero-preheading {
          font-size: 1.3rem;
          @include respond-min($main_menu-mobile_menu_cutoff) {
            font-size: 1.6rem;
          }
        }

        h1 {
          display: block;
          font-size: 2.2rem;
          margin-top: 0.25em;

          @include respond-min($main_menu-mobile_menu_cutoff) {
            font-size: 5.4rem;
          }
        }

        .hero-subtitle {
          max-width: 45rem;
          font-size: 1.5rem;
          line-height: 120%;
          margin: 0.5em auto 0;
  
          @include respond-min($main_menu-mobile_menu_cutoff) {
            font-size: 2rem;
          }
        }
      }

      .hero-list-sites-section {
        margin-top: 2rem;

        .hero-mysoc-logo {
          width: 200px;
          display: block;
          margin: 1rem auto 0;
        }

        h2 {
          font-size: 1.7rem;
        }

        @include respond-min($main_menu-mobile_menu_cutoff) {
          margin-top: 3rem;

          h2 {
            font-size: 2em;
          }
        }

        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          column-gap: 0.5rem;
          row-gap: 0.5rem;
          justify-content: center;
          margin: 1rem 0 3rem;
          padding-inline-start: 0;

          a {
            display: block;
            text-decoration: none;
            font-size: 0.9rem;
            background: var(--deployment-link-background, rgba(255, 255, 255, 0.8));
            padding: var(--deployment-link-padding, 0.35rem 0.5rem);
            border-radius: var(--deployment-link-border-radius, 1rem);
            border: var(--deployment-link-border, 1px solid transparent); 
            color: var(--deployment-link-color, #075292);

            &:hover {
              border: var(--deployment-link-border-hover, 1px solid #fff); 
              background: var(--deployment-link-background-hover, rgba(255, 255, 255, 0.6));
              color: var(--deployment-link-colo-hover, #075292);
            }

            &:focus {
              background: var(--deployment-link-background-focus, #ffee00);
              color: var(--deployment-link-color-focus, #000);
              border: var(--deployment-link-border-focus, 1px solid #000);
            }

            .deployment-flag {
              font-size: 1.2rem;
              vertical-align: bottom;
            }
          }
        }

        :last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
