/* Layout for the HTML view of attachments */

body#wrapper {
  width: 100%;

  table {
    border-collapse:collapse;
    margin-bottom:1em;
  }

  td {
    vertical-align:top;
    max-width:30em;
    overflow:auto;
  }
}

body#wrapper_embed {
  width: 100%;
  height: 100vh;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  iframe {
    width: 100%;
    height: 100%;
    border: none;

    flex-grow: 1;
  }
}

.view_html_prefix {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  column-gap: 2rem;

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include ie8{
    padding-left: 1.875em;
    padding-right: 1.875em;
    width: $main_menu-mobile_menu_cutoff;
  }

  .view_html_logo {
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      max-width: 25%;
    }
  }

  .view_html_description {
    margin-bottom: 0;
  }

  .view_html_download_link {
    order: 3;
  }
}
