/* Layout for the HTML view of attachments */

/* Generated HTML should be full row width */
#view-html-content {
  @include grid-column(12);
  @include ie8{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
  table {
    border-collapse:collapse;
    margin-bottom:1em;
  }

  td {
    vertical-align:top;
    max-width:30em;
    overflow:auto;
  }

}

.view_html_prefix {

  @include grid-column(12);
  @include ie8{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: $main_menu-mobile_menu_cutoff;
  }

  .view_html_logo {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:3);
      @include ie8{
        padding-right: 0.9375em;
      }
    }
  }

  .view_html_description {
    @include grid-column(12);
    @include respond-min($main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:7, $pull: 2);
      @include ie8{
        padding-left: 0.9375em;
        padding-right: 0.9375em;
      }
    }
  }

  .view_html_download_link {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:2, $push: 7);
      @include ie8{
        padding-left: 0.9375em;
      }
    }
  }
}

#wrapper_google_embed iframe {
  min-height: 400px;
  @include respond-min($main_menu-mobile_menu_cutoff ){
    min-height: 800px;
    @include lte-ie7{
      height:800px !important;
    }
  }
}


