/* Layout for the HTML view of attachments */

body#wrapper {
  width: 100%;

  table {
    border-collapse:collapse;
    margin-bottom:1em;
  }

  td {
    vertical-align:top;
    max-width:30em;
    overflow:auto;
  }
}

body#wrapper_embed {
  width: 100%;
  height: 100vh;

  display: flex;
  overflow: hidden;
  flex-direction: column;

  iframe {
    width: 100%;
    height: 100%;
    border: none;

    flex-grow: 1;
  }
}

.view_html_prefix {
  @include grid-column(12);
  @include ie8{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: $main_menu-mobile_menu_cutoff;
  }

  .view_html_logo {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:3);
      @include ie8{
        padding-right: 0.9375em;
      }
    }
  }

  .view_html_description {
    @include grid-column(12);
    @include respond-min($main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:7, $pull: 2);
      @include ie8{
        padding-left: 0.9375em;
        padding-right: 0.9375em;
      }
    }
  }

  .view_html_download_link {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:2, $push: 7);
      @include ie8{
        padding-left: 0.9375em;
      }
    }
  }
}
