/* Footer layout */
#footer {
  width:100%;
  margin:5em 0 0;
  padding:0.5em 0;
}

#footer-nav{

  @include grid-row();
  @include ie8{
    width: $main_menu-mobile_menu_cutoff;
  }
  img {
    display: none;
  }

  ul{
    padding: 0;
    list-style: none outside none;
  }

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    ul {
      @include block-grid(4);
    }
    @include ie8{
      #footer-nav ul > li:nth-child(4n+1) {
        padding-left: 0em;
        padding-right: 1.40625em;
      }
      #footer-nav ul > li:nth-child(4n+2) {
        padding-left: 0.46875rem;
        padding-right: 0.9375rem;
      }
      #footer-nav ul > li:nth-child(4n+3) {
        padding-left: 0.9375em;
        padding-right: 0.46875em;
      }
      #footer-nav ul > li:nth-child(4n) {
        padding-left: 1.40625em;
        padding-right: 0em;
      }
    }

    img {
      display: inherit;
      @include lte-ie7 {
        display: block;
      }
    }

  }
}
