/* Frontpage styles */
.intro__title {
  margin: 0;
  font-size: 2em;
  line-height: 1.142857143em;
  margin-bottom: 0.428571429em; //18px
  @include respond-min($main_menu-mobile_menu_cutoff) {
    font-size: 2.625em;
  }
}

.intro__description {
  font-size: 1.125em;
  line-height: 1.5em;
}

.intro__browse {
  font-size: 1.3125em;
  a {
    font-weight: 600;
  }
  @include respond-min($main_menu-mobile_menu_cutoff) {
    font-size: 1.6875em;
  }
}

.new-request__title {
  font-size: 1.4375em;
  margin: 0 0 0.5em;
}

#frontpage_examples {
  ul {
    list-style:none outside none;
    padding: 0;
  }
  .excerpt {
    cursor:pointer;
    font-style:italic;
    padding:0 0 0 2em;
  }

  #examples_1 {
    li {
      border-bottom:1px solid #ddd;
      padding-top: 1em;
    }
  }
}

.bodies-list,
.latest-requests {
  h4 {
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.5em;
  }
}

.bodies-list {
  li {
    margin-bottom: 0.35em;
    a {
      font-weight: bold;
    }
  }

}

.request-listing {
  a {
    font-weight: 600;
  }
}

.request-listing__request-body {
  p {
    line-height: 1.55em;
    @include respond-min($main_menu-mobile_menu_cutoff) {
      line-height: 1.35em;
    }

  }
  a {
    &:hover,
    &:active,
    &:focus {
      color: #333;
    }
  }
}

.request-listing__request-status-icon {
  background-color: transparent;
}

.request-body__time-ago {
  font-size: 0.875em;
}

.homepage-how-it-works {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.hiw-content__headings {
  text-align: center;
}

.hiw__subtitle {
  font-size: 1.125em;
  font-weight: normal;
  line-height: 1.5em;
}

.steps__list {
  list-style: none outside none;
}

.steps__step-box {
  line-height: 1.3em;
  font-size: 1.125em;
  font-size: 0.875em;
}

.steps__step-number {
  text-align: center;
  top: 1em;
  p {
    font-weight: bold;
    font-size: 2em;
  }
}

.learn-more-foi {
  text-align: center;
}

#frontpage_ati_network {
  text-align: left;
  position: relative;
  border-top: 1px solid #e9e9e9;
  margin-top: 2rem;

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    text-align: center;
  }

  &::after {
    content: '';
    display: block;
    background-image: image-url('ati_network/showcase/worldmap-pale.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 105% auto;
    position: absolute;
    bottom: 0;
    z-index: 0;
    mix-blend-mode: overlay;

    @include respond-min( 37.5em ){
      bottom: -4rem;
      background-size: auto 75%;
    }

    @include respond-min( $main_menu-mobile_menu_cutoff ){
      text-align: center;
      background-position: center bottom;
      background-size: auto 90%;
      bottom: 0;
    }
  }

  .container {
    font-size: 1.1rem;
    position: relative;
    z-index: 1;
  }

  .flag-wrapper {
    font-size: 1.4rem;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      font-size: 1.5rem;
    }
  }
}
