/* Header style */
.navigation {
  border-bottom: 1px solid #e9e9e9;
}

#navigation_search {
  button[type="submit"] {
    background:image-url('/assets/search.png') transparent no-repeat center center;
  }
}

.banner_site-title {
  text-align: left;
  h1 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
  }
}

// New logged in menu styles
.pro-pill {
  font-size: 0.625rem;
  color: white;
  background-color: purple;
  border-radius: 2px;
  padding: 3px 4px;
  text-align: center;
  display: inline-block;
  // vertically center it with normal text
  position: relative;
  top: -0.35em;
  line-height: 1em;
  right: -4px;
}

.profile-summary__image {
   border-radius: 5px;
}

.profile-summary__email {
  color: #777;
  font-size: 0.875em;
}
