/* Header style */
.navigation {
  border-bottom: 1px solid #e9e9e9;
}

#navigation_search {
  button[type="submit"] {
    background:image-url('/assets/search.png') transparent no-repeat center center;
  }
}

.banner_site-title {
  text-align: left;
  h1 {
    font-size: 1.5em;
  }
  a {
    text-decoration: none;
  }
}

// New logged in menu styles
.pro-pill {
  font-size: 0.75em;
  color: white;
  background-color: purple;
  border-radius: 2px;
  padding: 0px 5px 3px 3px;
  text-align: center;
  margin-left: 0.5em;
  // vertically center it with normal text
  position: relative;
  top: -0.15em;
}

.dashboard-profile__image {
   float: left;
   margin-right: 1em;
   border-radius: 5px;
}
