/* Header layout */

#banner_content{
  @include grid-row;
  position: relative;
  @include ie8{
    width: $main_menu-mobile_menu_cutoff;
  }
}

#banner{
  // Hide menu items by default on mobile
  #logged_in_bar,
  #topnav,
  #user_locale_switcher{
    display:none;
  }

  // …and show a button to reveal them
  .rsp_menu_button{
    @include grid-column(4);
    padding: 1em 1em 0 1em;
    float: right;
    a {
      text-align: right;
      &.open{
        display: block;
      }
      &.close{
        display: none;
      }
    }
  }

  // Squeeze the logo up on small screens to make room for the button
  #logo_wrapper{
    @include grid-column(8);
    padding: 1em 1em 0 1em;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column(4);
      padding: 1em;
      margin-bottom: 1em;
      @include lte-ie7 {
        width: 17.313em;
      }
    }
  }

  &:target{
    // Hide menu button when menu is open
    .rsp_menu_button{
      position: absolute;
      top: 0.66em;
      right: 0.9375rem;
      a {
        text-align: right;
        &.open{
          display: none;
        }
        &.close{
          display: block;
        }
      }
    }
  }

  .banner_site-title {
    @include grid-column(12);
    padding-top: 1.125em; //18px
    padding-bottom: 1.125em;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column(5);
      padding-top: 1.6875em; //27px
      padding-bottom: 1.6875em;
    }
    h1 {
      margin: 0;
    }
  }

  &:target{
    // Hide menu button when menu is open
    .rsp_menu_button{
      .open{
        display:none;
      }
      .close{
        display:block;
      }
    }
    @media( max-width: $main_menu-mobile_menu_cutoff ){
      // Show menu items when menu is targeted
      #logged_in_bar,
      #topnav,
      #user_locale_switcher{
        display:block;
        clear:both;
      }
    }
  }

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    // On larger screens show the menu
    #banner_nav,
    #logged_in_bar,
    #topnav,
    #user_locale_switcher{
      display:block;
    }

    // …and hide the menu button
    .rsp_menu_button{
      display:none;
    }
  }

}

.site-title__logo {
  @extend .image-replacement;
  width: $logo-width;
  height: $logo-height;
  background-size: $logo-width $logo-height;
  background-image: image-url($logo-filename);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url($logo-highdpi-filename);
  }
}


#topnav{
  padding: 0  0 1em 0;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    padding: 0;
  }
}

#navigation {
  list-style: none outside none;
  @include grid-row;
  padding: 0;
  position: relative;
  @include ie8{
    width: $main_menu-mobile_menu_cutoff;
  }
  /* Spread the nav elements horizontally on larger screens */
  li{
    display: block;

    @include respond-min( $main_menu-mobile_menu_cutoff ){
      display: inline-block;
      float: left;
    }
    @include lte-ie7 {
      display: inline;
    }
  }
  a{
    padding: 0.5em 1em;
    display: block;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      display: inline-block;
    }
  }
}

#navigation_search {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    position: absolute;
    top: 0;
    right: 0;
  }
  form{
    @include grid-row;
    padding: 1em 1em 0;
    @include lte-ie7 {
      display: inline;
    }
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      padding-top: 0;
    }
  }
  input{
    @include grid-column($columns:10);
    margin-right:0;
    @include lte-ie7 {
      width: 10.063em;
    }
  }
  button[type="submit"]{
    @include prefix-postfix-base;
    @include grid-column($columns:2,$float:right);
    border:none;
    @include lte-ie7 {
      width: 2.125em;
    }
  }
}

#logged_in_bar{
  a, .greeting {
    display:block;
    padding: 0.5em 1em;
  }

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    position: absolute; // relative to #banner_content
    top: 2em; // leave space for the language switcher
    left: 40%; // leave space for the logo
    right: 0;
    bottom: 0;

    #logged_in_links {
      position: absolute;
      right: 0.9375em; // match the grid padding
      top: 50%;
      -webkit-transform: translateY(-50%); // vertically centre in Safari and Android
      -ms-transform: translateY(-50%); // vertically centre in IE9
      transform: translateY(-50%); // vertically centre in modern browsers
      top: 0px\9; // fallback for IE8 and below (which don't support transform)
      text-align: right;

      a, .greeting{
        display:inline;
        font-weight: bold;
        padding:0 0 0 1em;
      }
    }
  }
}

.locale-list {
  border-bottom: 1px solid #e9e9e9;

  @include respond-min( $main_menu-mobile_menu_cutoff ) {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
  }

  a,
  .locale-list-trigger {
    display: block;
    padding: 0.5em 1em;

    @include respond-min( $main_menu-mobile_menu_cutoff ) {
      display: inline-block;
    }
  }
}

.locale-list-trigger {
  margin-bottom: 0;
  @include respond-min( $main_menu-mobile_menu_cutoff ) {
    display: inline;
  }
}

.available-languages {
  list-style: none outside none;
  margin:0;
  padding: 0;

  @include respond-min( $main_menu-mobile_menu_cutoff ) {
    display: inline;
  }

  li {
    @include respond-min( $main_menu-mobile_menu_cutoff ) {
      display: inline-block;
    }
  }
}
