/* Styles for lists of requests, authorities, users */
.request_listing,.body_listing,.user_listing {
  border-bottom:1px solid #e9e9e9;
  .head {
    font-weight: bold;
    font-size: 1.6em; // =h3
  }
  a {
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

.request_listing{
  .bottomline {
    background-position:top left;
    background-repeat: no-repeat;
    padding:0 0 0 27px;
  }
  .desc {
    font-style: italic;
  }
}

.request_icon_line {
  background-repeat:no-repeat;
  background-position:left center;
  padding:0 0 0 42px;
}

.request_short_listing {
  margin-top:1em;
  h3 {
    font-size: 1.3em;
    margin-bottom: 0.33em;
  }
  a {
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

/* Status lines and icons */
.icon_waiting_response,.icon_waiting_classification,.icon_waiting_clarification {
  background-image:image-url('status-pending.png');
  color:#A68C2E;
}


.icon_not_held, .icon_attention_requested {
  background-image:image-url('status-not-held.png');
  color:#A68C2E;
}

.icon_successful,.icon_partially_successful {
  background-image:image-url('status-complete.png');
  color:#69952F;
}

.icon_requires_admin,.icon_waiting_response_overdue,.icon_waiting_response_very_overdue {
  background-image:image-url('status-overdue.png');
  color:#C1272D;
}

.icon_gone_postal {
  background-image:image-url('status-gone-postal.png');
  color:#A68C2E;
}

.icon_error_message {
  background-image:image-url('status-error.png');
  color:#C1272D;
}

.icon_internal_review {
  background-image:image-url('status-internal-review.png');
  color:#A68C2E;
}

.icon_user_withdrawn {
  background-image:image-url('status-withdrawn.png');
  color:#A68C2E;
}

.icon_failed,.icon_rejected {
  background-image:image-url('status-denied.png');
  color:#C1272D;
}

#public_body_list {
  ul {
    list-style: none outside none;
    padding-left: 0;
  }
  li {
    line-height: 1.2em;
    margin-bottom: 0.4em;
  }
}
