/* Styles for lists of requests, authorities, users */
.request_listing,.body_listing,.user_listing {
  border-bottom:1px solid #e9e9e9;
  .head {
    font-weight: bold;
    font-size: 1.6em; // =h3
  }
  a {
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

.request_listing{
  .bottomline {
    background-position:top left;
    background-repeat: no-repeat;
    padding:0 0 0 27px;
  }
  .desc {
    font-style: italic;
  }

  .icon-standalone {
    position: relative;
    top: 5px;
  }
}

.request_icon_line {
  background-repeat:no-repeat;
  background-position: 1.35em 1.25em;
  padding: 1.25em 1.25em 1.25em 3.55em;
  background-color: #f4f4f4;
}

.request_short_listing {
  margin-top: 1em;
  a {
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

.request_short_listing__title {
  font-weight: normal;
  font-size: 1em; // ~16px
  line-height: 1.25em;
  margin-bottom: 0.2em;
}

.request_short_listing__authority {
  font-size: 0.875em;
  a {
    color: #6a6a6a;
  }
}

.body-listing__request-count {
  font-size: 0.875em;
  color: #666;
}


/* Status icons */
.icon-standalone {
  display: inline-block;
  width: 22px;
  height: 22px;
}

.icon_waiting_classification {
  @include status-icon();
  background-position: 0 0;
}

.icon_waiting_response,
.icon_waiting_clarification {
  @include status-icon();
  background-position: -286px 0;
}

.icon_attention_requested  {
  @include status-icon();
  background-position: -198px 0;
}

.icon_not_held {
  @include status-icon();
  background-position: -88px 0;
}

.icon_successful {
  @include status-icon();
  background-position: -242px 0;
}

.icon_partially_successful {
  @include status-icon();
  background-position: -132px 0;
}

.icon_requires_admin {
  @include status-icon();
  background-position: -286px 0;
}

.icon_waiting_response_overdue {
  @include status-icon();
  background-position: -22px 0;
}

.icon_waiting_response_very_overdue{
  @include status-icon();
  background-position: -110px 0;
}

.icon_gone_postal {
  @include status-icon();
  background-position: -154px 0;
}

.icon_error_message {
  @include status-icon();
  background-position: -44px 0;
}

.icon_internal_review {
  @include status-icon();
  background-position: -220px 0;
}

.icon_user_withdrawn {
  @include status-icon();
  background-position: -308px 0;
}

.icon_failed,
.icon_rejected {
  @include status-icon();
  background-position: -176px 0;
}


#public_body_list {
  ul {
    list-style: none outside none;
    padding-left: 0;
  }
  li {
    line-height: 1.2em;
    margin-bottom: 0.4em;
  }
}

.list-sidebar-extra {
  border-top: 4px solid #e9e9e9;
  margin: 2em 0;
  padding-top: 1em;
}
