/* Styles for pages in making a new request */

/* /select_authority page */
#select_authority_help {
  .info {
    font-style: italic;
  }
}

/* /new/[body_name] page */
.new_info_request {
  label {
    display: block;
    margin-bottom: 0.5em;
  }
  input[type=text],
  textarea {
    width: 100%;
    font-size: 1em;
  }
}

#request_header {
  padding-top:0.5em;
  padding-bottom:1em;

}

#to_public_body {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

.to_public_body_label {
  color: #777;
  font-weight: normal;
}

#request_header {
  border-bottom: 1px solid #ccc; //Unsupported browsers will ignore the rgba declaration below
  border-color: rgba(0,0,0,0.1);
  margin-bottom: 2em;
}

#request_header_text {
  overflow: hidden;
  font-size: 0.875em;
  h3 {
    font-size: 1em;
  }

}

#request_advice {
  margin-bottom: 1.5em;
  font-size: 0.875em;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    font-size: 1em;
  }
  .advice-panel {
    margin-top: 1.5em;
  }
}

.advice-panel {
  margin-bottom: 1.5em;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    margin-bottom: 0;
  }
  ul {
    margin:0 auto;
    list-style: none outside none;
    padding: 0;
    li {
      margin:0 0 1em;
    }
  }
}

#request_search_ahead_results {
  background-color: #f4f4f4;
  padding: 1.5em;
  margin-bottom: 1.5em;
  h2 {
    font-size: 1em;
    font-weight: normal;
  }
}


input#reedit_button {
  background-color: transparent;
  color: #2688dc;
  text-decoration: underline;
  &:hover,
  &:active,
  &:focus {
    color: #333333;
  }
  border: none;
}


/* Batch request page */

.batch_public_body_toggle {
  color: #0000EE;
  font-size: 0.9em;
}

/* Request sent page */
.request-sent-message {
  border-bottom: 1px solid #e9e9e9;
  font-size: 1em;
  h1 {
  }
}

.request-sent-message__column-1 {
  h2 {
    font-size: 1em;
  }
}

.what-next {
  background-color: #e6e8d6;
  background-color: rgba(255,255,255, 0.4);
  padding: 0.5em 1.5em 1.5em;
  margin-bottom: 1.5em;
}

.what-next__list {
  list-style: none outside none;
  padding-left: 0;
  li {
    margin-bottom: 0.5em;
  }
}
