/* Layout for pages in making a new request */

/* /select_authority page */
#authority_selection {
  @include grid-column($columns: 12, $collapse: true);
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns: 6, $collapse: true);
    @include ie8{
      padding-right: 0.9375em;
    }
    @include lte-ie7 {
      width: 27.125em;
    }
    #query {
      width: 80%;
    }
  }
}

.new_info_request{
 @include grid-row($behavior: nest);
}

#select_authority_help {
  @include grid-column(12);
  @include respond-min( $main_menu-mobile_menu_cutoff ) {
    @include grid-column(6);
    @include ie8 {
      padding-right: 0.9375em;
    }
    @include lte-ie7 {
      width: 26.188em;
    }
  }
}

/* /new/[body_name] page */
#request_header {
  @include grid-row;

  /* Restrict width of form elements on wide screens */
    #request_header_body, #request_header_subject, #typeahead_response  {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:8, $last-column:true);
      @include ie8{
        padding-right: 0.9375em;
      }
      @include lte-ie7 {
        width: 36.813em;
      }
    }
  }

  span#to_public_body {
     display:block;
     margin-bottom:15px;
  }
}

#typeahead_response .close-button {
  float: right;
}

/* Advice sits on right hand side */
#request_advice {

  @include grid-column(12);
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns:4, $push: 8);
    @include ie8{
      padding-left: 0.9375em;
    }
    @include lte-ie7 {
      width: 17.438em;
    }
  }
}

#request_form {

  @include grid-column(12);
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns:8, $pull: 4);
    @include ie8{
      padding-right: 0.9375em;
    }
    @include lte-ie7 {
      width: 36.813em;
    }
  }

}

#preview_form {
  @include grid-column(12);
}


/* Batch request page*/

div.batch_public_body_toggle {
  display:none;
}

#body_selection {
  @include grid-row($behavior: nest);
  /* Equal columns */
  .body_list {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
       @include grid-column(5);
     }
     @include lte-ie7 {
       width: 22.313em;
     }
  }

  select {
    height: inherit;
  }

  #body_candidates {
    float: left;
    @include ie8{
      padding-right: 0.9375em;
    }
  }

  #body_selections {
    float: right;
    @include ie8{
      padding-left: 0.9375em;
    }
  }

  input[type='submit'] {
    margin: 10px 0;
    width: 45%;
  }

  #body_select_all_button, #body_deselect_button {
    float: right;
  }

  #body_submission {
   input[type='submit'] {
     margin: 10px 0;
     width:100%;
    }
  }

  .select_all_button {
    display: none;
  }

  .body_select {
    width: 100%;
  }

}

.batch_public_body_list {
  margin-left: 110px;
}


/* Request sent page */
.request-sent-message {
  margin-top: 1em;
  h1 {
    margin-bottom: 1em;
  }
}

.request-sent-message__row {
  @include grid-row($behavior: nest);
}

.request-sent-message__column-1 {
  @include grid-column(12);
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns:8);
    @include ie8{
      padding-right: 0.9375em;
    }
    @include lte-ie7 {
      width: 36.813em;
    }
  }
}

.request-sent-message__column-2 {
  @include grid-column(12);
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns:4);
    @include ie8{
      padding-left: 0.9375em;
    }
    @include lte-ie7 {
      width: 17.438em;
    }
  }
}
