#notes {
  // Variables to keep consistency specially with the spacing.
  $padding-x: 1em;
  $border: 1px solid rgba(0, 0, 0, 0);
  $border-top-size: 8px;

  padding: $border-top-size $padding-x 0;
  margin-bottom: 2em;

  .note {
    margin: 0 -#{$padding-x};
    padding: $padding-x $padding-x;
    border: $border;
    word-break: break-word;

    &:first-child { box-shadow: 0 -#{$border-top-size} 0 0 rgba(0, 0, 0, 0); }
    border-top-width: 0;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.5em;
      margin-top: 0;
    }

    p:last-child {
      // Get rid of the odd space of the last paragraph
      margin-bottom: 0;
    }
  }
}
