#notes {
  background-color: lighten($primary-color, 60%);

  article {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.4em;
    }
    h3 {
      font-size: 1.3em;
    }
    h4 {
      font-size: 1.2em;
    }
    h5 {
      font-size: 1.1em;
    }
    h6 {
      font-size: 0.9em;
      text-transform: uppercase;
    }
  }
}
