.one-time-password__otp-code {
  font-family: monospace;
  font-size: 6em;
  font-weight: bold;
  line-height: 1em;
}

.one-time-password__otp-info {
  background: white;
  border: 3px solid red;
  font-size: 1.1rem;
  padding: 1em 1em 0 1em;
}
