/* Styles for popup messages */
.popup {
  background-color:#D5FFD8;
  border:solid 3px #16C132;
  z-index:2000;
  overflow:auto;
  text-align:center;
  margin-top:2px;
}

.popup p {
  margin: 0;
}

#everypage h2,#everypage h3 {
  margin:0.5em 0;
}

.popup .popup-close {
  color:#FFF;
  text-decoration:none;
  border-radius:2px;
  -moz-border-radius:2px;
  width:15px;
  height:15px;
  cursor:pointer;
  background: image-url('small-green-cross.png') no-repeat 0;
  border:solid 0 #FFF;
  text-indent:-999px;
  overflow:hidden;
  float:right;
}
