/* Style for public body pages */

.back-to-results {
  .message {
    margin-top: 0.5em;
    padding: 0.5em 0.8em;
    background-color: #fff;
    background-color: rgba(0,0,0,0.1);
  }
}

.public-body-name-prefix {
  color:#888;
  font-size: 1.3em;
  position: relative;
  top: 1em;
}

#follow_count {
  font-weight: bold;
  font-size: 3em;
  position: relative;
  top: 0.25em;
}
