/* Style for public body pages */
.public-body-name-prefix {
  color:#888;
  font-size: 1.3em;
  position: relative;
  top: 1em;
}

#follow_count {
  font-weight: bold;
  font-size: 3em;
  position: relative;
  top: 0.25em;
}
