/* Layout for public body stats page */
.public-body-ranking {
  margin-bottom: 40px;
}

.public-body-ranking-title {
  margin-top: 25px;
  margin-bottom: 10px;
}

.public-body-ranking table {
  margin-top: 20px;
  margin-left: 30px;
}

.public-body-ranking td, th {
  border: 0px;
  padding: 5px;
  padding-right: 20px;
}

.public-body-ranking td.statistic {
  text-align: center;
}
