/* Layout for request page */


.request-status {
  @include grid-column(12);
  margin-top: 1em;
}

.request-header {
  width: 100%;
  clear: both;
  h1 {
    @include grid-column(12);
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}

.request-header__action-bar-container {
  @include grid-column(12);
}

.request-header__action-bar {
  margin-bottom: 2em;
  position: relative;
}

.request-header__profile-photo {
  //we use --narrow when a profile photo is available
  @include grid-column(2, $collapse:true);
  img {
    max-width: 100%;
    padding-right: 1em;
  }
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column(1, $collapse:true);
  }
}

.request-header__subtitle {
  @include grid-column(12, $collapse:true);
  margin-top: 0;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    margin-bottom: 0;
    @include grid-column(7, $collapse:true);
  }
}

.request-header__subtitle--narrow {
  //we use --narrow when a profile photo is available
  @include grid-column(10, $collapse:true);
}

.request-header__action-bar__actions {
  @include grid-column(12, $collapse:true);
  @media (min-width: 30em) {
    justify-content: flex-end;
    @include flexbox();
    align-items: stretch;
  }
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    text-align: right;
    @include grid-column(5);

  }
  .action-bar__follow {
    width: 100%;
    text-align: left;
    @include respond-min( 30em ){
      width: 67%;
    }
  }
}

/*
 * .after-actions and .feed_link_toolbar form the grid
 * for the follow button and action menu. We want them to align
 * side-by-side until there isn't enough room, when they stack
 */

.after-actions {
  width: 100%;
  @media (min-width: 30em) {
    width: 33%;
  }
  .action-menu__button {
    width: 100%;
    text-align: left;
    margin-bottom: 0.5em;
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      text-align: center;
      margin-bottom: 0;
    }
  }
}

.feed_link_toolbar {
  width: 100%;
  @media (min-width: 30em) {
    width: 50%;
  }
}

a.track-request-action {
  margin-top: 0;
  width: 100%;
  @media (min-width: 30em) {
    margin-left: 1em;
  }
}

.action-menu {
  position: relative;
  text-align: left;
}

.correspondence {
  word-wrap: break-word;
}

.gone_postal_help{
  @include grid-column(12);
}

#describe_state_form_1 {
  @include grid-column(12);
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column(9);
  }
}

#show_response_view {
  @include grid-row();

  > h2 {
    @include grid-column($columns: 12, $collapse: true);
  }

  .correspondence {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column(9);
      @include ie8{
        padding-right: 0.9375em;
      }
      @include lte-ie7 {
        width: 41.625em;
      }
    }
  }


  #followup {
    @include grid-column(12, $collapse: true);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column(8, $collapse: true);
    }
  }
}

.correspondence {
  h2 {
    padding: 1.2em 1.2em 0;
  }
}

.correspondence_delivery {
  padding: 1em;

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    padding: 1.2em;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.correspondence__header {
  padding: 0.6em 1.2em;
}

.correspondence__header__from--with-delivery-status {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    margin-right: 8em;
  }
}

.correspondence__header__delivery-status {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    position: absolute;
    right: 1.2em;
    top: 0.6em;
    max-width: 8em;
  }
}

.correspondence_text {
  padding: 1.2em;
}

.event_actions {
  padding: 1.2em;
}

.correspondence__footer {
  padding: 0.6em 1.2em;
 }

.attachments {}

.list-of-attachments {
  list-style: none outside none;
  padding: 0 1em;
}

.attachment {
  padding: 0.75em 0 0;
}

.attachment__image {
  float:left;
  border:0;
  vertical-align:middle;
  margin:0 0.2em 0.2em 0;
}

.attachments__show-more {
  margin-left: 1em;
  margin-bottom: 1em;
  display: inline-block;
}


/* Event history details */
#request_details {
  table {
    margin-bottom:1em;
  }
}

.correspondence__footer__cplink {
  @include flexbox();
}

.cplink__label {
  @include flex(0 0 auto);
  margin-right: 0.5em;
  white-space: nowrap;
  font-size: 0.875em;
  height: 2em; //match cplink_field
  padding: 0.5em 0;
  line-height: 1em;
}

input.cplink__field {
  @include flex(1 0 8em);
  height: 2em;
  padding: 0 0.5em;
  margin-bottom: 0;
  @include ie8 {
    width: 100%;
  }
}

.cplink__button {
  @include flex(0 0 auto);
  padding: 0.5em;
  font-size: 0.875em;
  height: 2em; //match cplink_field
  margin-bottom: 0;
  line-height: 1em;
}
