/* Layout for request page */
.correspondence {
  word-wrap: break-word;
}

.gone_postal_help{
  @include grid-column(12);
}

#describe_state_form_1 {
  @include grid-column(12);
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    @include grid-column(9);
  }
}

#show_response_view {
  @include grid-row();

  > h2 {
    @include grid-column($columns: 12, $collapse: true);
  }

  .correspondence {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column(9);
      @include ie8{
        padding-right: 0.9375em;
      }
      @include lte-ie7 {
        width: 41.625em;
      }
    }
  }


  #followup {
    @include grid-column(12, $collapse: true);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column(8, $collapse: true);
    }
  }
}

.correspondence_delivery {
  padding: 1em;

  @include respond-min( $main_menu-mobile_menu_cutoff ){
    padding: 1.2em;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.correspondence__header {
  padding: 0.6em 1.2em;
}

.correspondence__header__from--with-delivery-status {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    margin-right: 8em;
  }
}

.correspondence__header__delivery-status {
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    position: absolute;
    right: 1.2em;
    top: 0.6em;
    max-width: 8em;
  }
}

.correspondence_text {
  padding: 1.2em;
}

.event_actions {
  padding: 1.2em;
}


/* Event history details */
#request_details {
  table {
    margin-bottom:1em;
  }
}
