/* Style for request page */

$color-delivery-sent: #2688dc !default; // blue
$color-delivery-delivered: #69952F !default; // green
$color-delivery-failed: #D83838 !default; // red
$color-delivery-unknown: darken(#F3BD2A, 20%) !default; // yellow

.request-header__action-bar {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding: 1em 0;
  @include clearfix;
}

.request-header {
  h1 {
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      font-size: 3em
    }
  }
}

.request-header__foi_no,
.request-header__closed_to_correspondence,
.request-header__restricted_correspondence {
  font-size: 0.85em;
  color: #666;

  a {
    color: #666;
    &:visited {
      color: #666;
    }
  }
}

a.track-request-action {
  white-space: nowrap;
  text-align: left;
}

.correspondence {
  border: 1px solid #ddd;
  margin: 0 0 2.5em;

  h2 {
    margin-top: 0;
    text-align:right;
    font-size:1em;
  }
}

.correspondence__header {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
  position: relative;

  padding-left: 3em;
  background-position: 1.2em 50%;
  background-repeat: no-repeat;
  background-size: 16px;
  background-image: image-url('correspondence-collapse/collapse.png');

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('correspondence-collapse/collapse@2x.png');
  }

  .collapsed & {
    background-color: #fff;
    background-image: image-url('correspondence-collapse/uncollapse.png');

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: image-url('correspondence-collapse/uncollapse@2x.png');
    }
  }
}

.correspondence--current {
  box-shadow: 0 0 20px rgba(0,0,0,0.3) !important;
}

// Interactive styling for header if JavaScript has loaded.
.js-loaded .js-collapsable {
  .correspondence__header {
    cursor: pointer;

    &.hovered {
      background-color: #eee;
    }
  }
}

.correspondence__header__date,
.correspondence__header__date:visited {
  font-size: 0.875em;
  color: #777;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.correspondence__footer {
  background-color: #f4f4f4;
  border-top: 1px solid #ddd;
  position: relative;
}

.correspondence__footer__cplink {

}

.cplink__label {
  color: #777;
}

input.cplink__field {
  box-shadow: none;
  border: 1px solid #E9E9E9;
  border-right-color: #ddd; //so it appears part of the button, but still changes when this field is focused
  color: #777;
  border-radius: 3px 0 0 3px;
}

a.cplink__button {
  padding: 0.5em 1.25em;
  text-decoration: none;
  color: #777;
  background-color: #eaeaea;
  border: 1px solid #ddd;
  border-left: 0;
  &:last-child {
    border-radius: 0 3px 3px 0;
  }
  &:link,
  &:visited {
    color: #777;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: #eaeaea;
    color: #333;
  }
}

/*
 * Status lines
 */

 .request-status-message {
   padding: 1.25em 1.25em;
   .icon-standalone {
     float: left;
     margin-right: 11px;
   }
   :last-child {
     margin-bottom: 0;
   }
 }

 $status-success: #62b356;
 $status-failure: #e04b4b;
 $status-pending: #f4a140;

.request-status-message--waiting_response,
.request-status-message--waiting_clarification,
.request-status-message--requires_admin,
.request-status-message--waiting_response_overdue,
.request-status-message--gone_postal,
.request-status-message--error_message,
.request-status-message--internal_review,
.request-status-message--user_withdrawn,
.request-status-message--waiting_classification {
  background-color: mix(#fff, $status-pending, 70%);
}

.request-status-message--not_held,
.request-status-message--attention_requested,
.request-status-message--waiting_response_very_overdue,
.request-status-message--failed,
.request-status-message--rejected {
  background-color: mix(#fff, $status-failure, 70%);
}


.request-status-message--successful,
.request-status-message--partially_successful {
  background-color: mix(#fff, $status-success, 70%);
}

.preview_subject,
.preview_to {
  font-weight: bold;
  strong {
    font-weight: normal;
    display: block;
    color: #777;
  }
}

.preview_subject {
  margin-bottom: 1.5em;
}

div.comment_in_request {
  border: 1px dotted #ccc;
  margin:0 0 1em 3em;
  padding: 0;

  h2 {
    font-size:1em;
  }
  p {
    font-size: 0.9em;
  }

  .comment_content {
    padding: 1.2em 1.2em 0 1.2em;
  }
}

.event_actions {
  margin-bottom: 0;
  text-align:right;
  line-height: 1em;
}

.user_photo_on_comment img {
  width:36px;
  height:36px;
  float:left;
  vertical-align:middle;
  margin-right:0.5em;
}

.attachments {
  border: 1px solid #e9e9e9;
}

.attachments__header {
  padding: 1em;
  background-color: #f4f4f4;
  border-bottom: 1px solid #e9e9e9;
  h3 {
    font-size: 1em;
    margin: 0;
  }
}

.attachments__show-more {
  border-top: 1px solid #e9e9e9;
}

.attachment + .attachment {
  border-top: 1px solid #e9e9e9;
}

.attachment__name {
  margin-bottom: 0.25em;
}

.attachment__meta {
  font-size: 0.875em;
  color: #666;
  a {
    color: #666;
    text-decoration: underline;
    &:hover,
    &:active,
    &:focus {
      color: #333;
    }
  }
}

.describe_state_form,#other_recipients {
  border-radius:3px;
  -moz-border-radius:3px;
  margin:1em 0;
}

.describe_state_form {
  hr {
    margin-top: 1em;
    &+p {
      margin-top: 1em;
    }
  }
}

#track-request .feed_link {
  text-align: center;
}

.correspondence_delivery {
  background-color: #eee;

  // Cruft that comes from the page we ajax in
  h1 {
    display: none;
  }

  // "This message has been delivered" etc
  h2 {
    text-align: inherit;
    font-size: 1.2em;
    padding-left: 0;
    padding-top: 0;
  }

  pre {
    font-size: 0.8em;
    padding: 0.5em 1em;
    background-color: #fff;
    border: 1px solid #ddd;
  }
}

.correspondence_delivery--sent {
  background-color: mix(#fff, $color-delivery-sent, 85%);
}

.correspondence_delivery--delivered {
  background-color: mix(#fff, $color-delivery-delivered, 85%);
}

.correspondence_delivery--failed {
  background-color: mix(#fff, $color-delivery-failed, 85%);
}

.correspondence_delivery--unknown {
  background-color: mix(#fff, $color-delivery-unknown, 85%);
}

.correspondence__suggestion {
  background-color: #fff1b6;
  border-bottom: 1px solid #ffd836;

  h2 {
    text-align: inherit;
    font-size: 1.2em;
    padding-left: 0;
    padding-top: 0;
  }
}

.toggle-delivery-log {
  padding-left: 8px + 16px;
  background: transparent none 0 50% no-repeat;
  background-size: 16px 16px;

  // Preload the spinner image, because the ajax request
  // will likely block it from loading when we actually need it.
  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent image-url('loader-000-on-fff-16px.gif') 0 0 no-repeat;
    background-size: 16px 16px;
  }
}

.toggle-delivery-log--sent {
  background-image: image-url('delivery-status/sent.png');

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('delivery-status/sent@2x.png');
  }

  &, &:link, &:visited {
    color: $color-delivery-sent;
  }

  &:hover, &:focus {
    color: darken($color-delivery-sent, 10%);
  }
}

.toggle-delivery-log--delivered {
  background-image: image-url('delivery-status/delivered.png');

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('delivery-status/delivered@2x.png');
  }

  &, &:link, &:visited {
    color: $color-delivery-delivered;
  }

  &:hover, &:focus {
    color: darken($color-delivery-delivered, 10%);
  }
}

.toggle-delivery-log--failed {
  background-image: image-url('delivery-status/failed.png');

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('delivery-status/failed@2x.png');
  }

  &, &:link, &:visited {
    color: $color-delivery-failed;
  }

  &:hover, &:focus {
    color: darken($color-delivery-failed, 10%);
  }
}

.toggle-delivery-log--unknown {
  background-image: image-url('delivery-status/unknown.png');

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('delivery-status/unknown@2x.png');
  }

  &, &:link, &:visited {
    color: $color-delivery-unknown;
  }

  &:hover, &:focus {
    color: darken($color-delivery-unknown, 10%);
  }
}

.toggle-delivery-log--loading {
  background-image: image-url('loader-000-on-fff-16px.gif');
}


/* Event history details */

#request_details {

  table {
    border-collapse: collapse;
  }

  td,th {
    border:solid 1px #000;
  }

  tr.odd {
    background-color:#bbb;
  }

  tr.even {
    background-color:#ddd;
  }
}

.copyright-notice {
  border-top: 1px solid #ddd;
  padding-top: 1.5em;
  margin-top: 1.5em;
  font-size: 0.875em;
  line-height: 1.5em;
  small {
    font-size: 1em;
  }
  a {
    color: #777;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
