/* Style for search (and filters on request list) */
.user_photo_on_search img {
  width:48px;
  height:48px;
  vertical-align:middle;
  border:1px solid #ddd;
  margin-right:5px;
  padding:2px;
  float: left;
}

input.use-datepicker[type=text] {
  width: 130px;
  background:image-url('calendar.png') no-repeat 100px 5px;
}

#ui-datepicker-div.ui-widget {
  font-family:Arial, sans-serif;
}

#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-widget-header {
  background:none;
  border:solid 0 #FFF;
  color:#444;
  font-size:17px;
  font-weight:normal;
  line-height:1.5em !important;
}

#ui-datepicker-div {
  .ui-datepicker-prev, .ui-datepicker-next {
    margin-top:2px;
    opacity:0.5;
  }
  .ui-datepicker-prev-hover {
    left:2px;
    top:2px;
    border:none;
    background:#FFF;
    cursor:pointer;
    opacity:1;
  }

  .ui-datepicker-next-hover {
    right:2px;
    top:2px;
    border:none;
    background:#FFF;
    cursor:pointer;
    opacity:1;
  }
}

.list-filter-item {
    ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
    }
}


#list-filter {
    margin-bottom: 3em;
}

#filter_requests_form label.title {
    display: block;
    width: auto;
    margin-bottom: 0.3em;
}

.filter-request-types {
  display: block;
  margin-bottom: 1em;
  @include respond-min( 20em ){
    display: inline-block;
  }
  ul {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: 0;
    border-bottom: 0;
    @include respond-min( 20em ){
      border-right: 0;
    }
    @include respond-min( 44em ){
      border-bottom: 1px solid #ccc;
    }
  }
  li {
    width: 100%;
    @include respond-min( 20em ){
      width: 50%;
    }
    @include respond-min( 44em ){
      width: auto;
    }
  }
  a, span {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 0.5em 0.75em;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    @include respond-min( 20em ){
      display: inline-block;
      border-right: 1px solid #ccc;
      border-bottom: 0;
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid #ccc;
      }
    }

    @include respond-min( 44em ){
        &:nth-child(n) {
          border-bottom: 0;
        }
    }
  }
  span {
    font-weight: bold;
    background-color: #f4f4f4;
    //older browsers will just see a flat background, new browsers will see an indent
    -webkit-box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.1);
         -o-box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.1);
            box-shadow: inset 0 2px 5px 1px rgba(0, 0, 0, 0.1);
  }
}
