.settings {
  h3 {
    font-size: 1.4375em;
    font-weight: bold;
  }
}

.plan-overview {
  background-color: #F3F1EB;
  border-radius: 3px;
  padding: 0.75em 1.25em;
  border: 1px solid #E6E4DF;
}

.plan-overview__desc {
  font-weight: bold;
}

.plan-overview__details{
  font-size: 0.875em;
  color: #787774;
}

.plan-overview__amount {
  font-size: 1em;
  text-align: right;
}

.settings__terms {
  padding: 1em;
  border: 1px solid #E6E4DF;
  max-height: 20em;
  overflow-y: scroll;
  border-radius: 3px;
}

.settings__terms-content {
  font-size: 0.875em;
  line-height: 1.5em;
}

.settings__terms__accept {
  margin-top: 1.25em;
  input {
    margin-right: 0.5em;
  }
  label {
    font-size: 1em;
  }
}

.settings__cancel-button {
  color: #333;
  font-size: 0.875em;
}

.pricing__faqs {
  h2 {
    font-size: 1.3125em;
  }
}

.faqs__term {
  font-weight: bold;
  font-size: 1em;
}

.faqs__def {
  color: #787774;
}
