/* Signin styles */
#signup, #signin {
  .form_item_note, .form_note{
    font-size:0.9em;
  }
}

#middle_strip {
  text-align:center;
  margin-top:45px;
  font-size:1.2em;
  font-family:Georgia;
  font-style:italic;
}

#sign_together{

  h1 {
    text-align:center;
  }

  .form_button {
    margin-left:10.5em;
  }
}

p#sign_in_reason, p#superuser_message {
  text-align:center;
  font-size:1.4em;
  font-weight:700;
  line-height:1em;
}

p#superuser_message {
 font-size:1.2em;
}


