/* Signin styles */
#signup, #signin {
  input[type=text],
  input[type=password]  {
    width: 100%;
  }
}

#middle_strip {
  text-align:center;
  position: relative;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    top: 3em;
  }
  font-size:1.2em;
}

#sign_in_reason, #superuser_message {
  font-size:2em;
  font-weight:bold;
  line-height:1em;
}

#superuser_message {
  font-size:1.2em;
}

.sign-in-wrapper {
  margin-top: 1.5em;
  @include respond-min( $main_menu-mobile_menu_cutoff ){
    margin-top: 0;
  }
}
