/* Signin layout */

#sign_in_reason {
  @include grid-column(12);
}
#left_half {
  @include grid-column(12);
  @media( min-width: $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns:5,$float:left);
  }
}

#right_half {
  @include grid-column(12);
  @media( min-width: $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns:5,$float:right);
  }
}

#middle_strip {
  @include grid-column(12);
  @media( min-width: $main_menu-mobile_menu_cutoff ){
    @include grid-column($columns:2,$float:left);
  }
}

#sign_together{
  @include grid-row($behavior: nest);
}

#sign_alone{
  @include grid-row($behavior: nest);
  #signin {
    @include grid-column(12);
    @include respond-min( $main_menu-mobile_menu_cutoff ){
      @include grid-column($columns:6,$push:3);
    }
  }

}

#signup, #signin {
margin-top:20px;

  .form_checkbox {
    input{
      margin-bottom: 0;
    }
    label {
      font-size:1em;
      display:inline;
      margin-right: 0;
    }
  }
}

