/* Layout for user pages */

#user_profile_search {
  #search_form {
    margin-top: 2rem;
  }

  #request_latest_status {
    width: 300px;
  }
}

.feed_list {
  li {
    margin: 0 0 1rem;
  }

  .button_to {
    display: inline;
  }
}
