<p>
  <%= _("We're glad you got all the information that you wanted. If you " \
        "write about or make use of the information, please come back and " \
        "add an annotation below saying what you did.") %>
</p>
<% if AlaveteliConfiguration::donation_url.present? %>
  <p>
    <%= _("If you found {{site_name}} useful, <a href=\"{{donation_url}}\">" \
          "make a donation</a> to the charity which runs it.",
          :site_name => site_name,
          :donation_url => AlaveteliConfiguration::donation_url) %>
  </p>
<% end %>
