<p>
  <%= _("Thank you! Hopefully your wait isn't too long.") %>
</p>
<p>
  <%= _("By law, you should get a response promptly, and normally before the " \
        "end of <strong{{date_response_required_by}}</strong>.",
        :date_response_required_by => simple_date(info_request.date_response_required_by)) %>
</p>
