<td>
  <div class="holiday-description"><%= holiday.description %></div>
  <div class="holiday-day"><%= holiday.day %></div>
  <div class="holiday-buttons">
    <%= link_to 'Edit', edit_admin_holiday_path(holiday), :class => "btn  edit-button" %>
  </div>
</td>
