<% @title = 'Edit public holiday' %>
<h1><%= @title %></h1>
<table class="table table-striped table-condensed">
  <tbody>
    <tr>
      <%= render :partial => 'edit_form' %>
    </tr>
  </tbody>
</table>
