<div class="how-it-works__item">
  <h3><%= _('Batch requests') %></h3>

  <p>
    <%= _('FOI is an invaluable tool in campaigns, helping you collect ' \
          'information that hasn’t previously been available as a single ' \
          'dataset so that you and your supporters can understand the wider ' \
          'picture. Pro takes the slog out of sending multiple requests with ' \
          'the Batch feature: easily pick the authorities you want, then ' \
          'send one request to all of them.') %>
  </p>
</div>
