<section id="ati-advocacy">
  <div class="container">
    <div class="container--subheading">
      <h2>Fighting for</h2>
      <p class="subheading--lead">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id</p>
    </div>
    <div class="gallery-grid">
      <div class="gallery-grid--card">
        <h3 class="card--title with--background">Upholding the right</h3>
        <ul>
          <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint</li>
          <li>occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</li>
        </ul>
      </div>
      <div class="gallery-grid--card">
        <h3 class="card--title with--background">Maintaining the accessibility</h3>
        <ul>
          <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint</li>
          <li>occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</li>
          <li>occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</li>
        </ul>
      </div>
      <div class="gallery-grid--card">
        <h3 class="card--title with--background">Expanding the scope</h3>
        <ul>
          <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint</li>
          <li>occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</li>
          <li>occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga</li>
        </ul>
      </div>
    </div>
    <a class="link_button_green" href="https://tictec.mysociety.org/ati-community-of-practice/" class>Et harum quidem</a>
  </div>
</section>
