<h2>
  <%= _("Search over<br/>
  <strong>{{number_of_requests}} requests</strong> <span>and</span><br/>
  <strong>{{number_of_authorities}} authorities</strong>",
  :number_of_requests => number_with_delimiter(InfoRequest.visible.count),
  :number_of_authorities => number_with_delimiter(PublicBody.visible.count)) %>
</h2>
<form id="search_form" method="get" action="<%= search_redirect_path %>">
  <div>
    <input id="query" type="text" size="30" name="query" title="type your search term here" >
    <input type="submit" value="<%= _('Search') %>">
  </div>
</form>
