<section id="frontpage_ati_network">
  <div class="container">
    <h3><%= _('Access to Information around the world') %></h3>

    <p>
      <%= _('{{site_name}} is part of a <strong>global network of Access to Information sites</strong> that have helped people make <strong>over 1.5 million requests</strong> for information in <strong>more than 25 countries</strong> and contributes to impactful <em>journalism</em>, <em>campaigning</em> and <em>research</em> from local communities to the international stage.', site_name: site_name) %>
    </p>

    <p class="flag-wrapper">
      <span>🇦🇷</span>
      <span>🇦🇺</span>
      <span>🇧🇪</span>
      <span>🇨🇴</span>
      <span>🇭🇷</span>
      <span>🇨🇿</span>
      <span>🇪🇺</span>
      <span>🇫🇷</span>
      <span>🇬🇪</span>
      <span>🇬🇷</span>
      <span>🇭🇰</span>
      <span>🇭🇺</span>
      <span>🇽🇰</span>
      <span>🇱🇷</span>
      <span>🇲🇩</span>
      <span>🇳🇵</span>
      <span>🇳🇱</span>
      <span>🇳🇿</span>
      <span>🇳🇴</span>
      <span>🇷🇴</span>
      <span>🇸🇪</span>
      <span>🇹🇳</span>
      <span>🇺🇦</span>
      <span>🇬🇧</span>
      <span>🇺🇸</span>
      <span>🇺🇾</span>
    </p>

    <p>
      <%= link_to _('Discover the stories'), ati_network_showcase_path, class: 'link_button_green' %>
    </p>
  </div>
</section>
