<h1 class="intro__title"><%= _("Your right to know") %></h1>
<p class="intro__description">
  <%= _("Every citizen has the right to access information held by public authorities.") %>
  <% if AlaveteliConfiguration.authority_must_respond %>
    <%= _("By law, they have to respond.") %>
  <% end %>
</p>
