<h3>Use your Right to Know</h3>

Every citizen has the right to access information held by public authorities.  <strong>By law, they have to respond</strong>.  <a href="<%= help_about_url %>">Find out more about freedom of information.</a>
