<h1>
  <%= _("Make a new<br/>
  <strong>Freedom <span>of</span><br/>
  Information<br/>
  request</strong>") %>
</h1>
<a class="link_button_green_large" href="<%= select_authority_path %>"><%= _("Make a request &raquo;") %></a>
