<h2 class="new-request__title"><%= _("Want to know something?") %></h2>
<p class="new-request__description"><%= _("Start your own request") %></p>
<%= link_to select_authority_path, :class => "new-request__make-new-requests" do %>
  <%= _("Make a request &raquo;") %>
<% end %>
