<div class="help_requests">
  <h2><%= _('Help Out') %></h2>

  <ul class="search_sidebar_list">
    <li class="search_sidebar_list__item">
      <%= link_to _('Classify requests'), categorise_play_path %>
    </li>

    <li class="search_sidebar_list__item">
      <%= link_to _('Find updated contact details'), search_requests_path('latest_status:error_message') %>
    </li>
  </ul>
</div>
