<div id="user_locale_switcher" class="locale-list">
  <% if @locales[:available].any? %>
    <p class="locale-list-trigger <% @locales[:current] %>">
      <strong class="current-locale"><%= locale_name(@locales[:current]) %></strong>
    </p>

    <ul class="available-languages">
      <% @locales[:available].each do |locale| %>
        <li class="available-languages__item">
          <%= link_to locale_name(locale), current_path_with_locale(locale) %>
        </li>
      <% end %>
    </ul>
  <% end %>
  </div>