<%= _("<p>{{site_name}} is currently in maintenance. You can only view " \
      "existing requests. You cannot make new ones, add followups or " \
      "otherwise change the database.</p> <p>{{read_only}}</p>",
      :site_name => site_name,
      :read_only => AlaveteliConfiguration::read_only) %>
