<div id="topnav" class="topnav <%= @in_pro_area ? 'topnav--pro' : '' %>">
  <ul id="navigation" class="navigation" role="navigation">

    <% if can?(:access, :alaveteli_pro) %>
      <%= render :partial => 'alaveteli_pro/general/nav_items' %>
    <% else %>
      <%= render :partial => 'general/nav_items' %>
    <% end %>
  </ul>
</div>
