<div id="topnav" class="topnav <%= @in_pro_area ? 'topnav--pro' : '' %>">
  <ul id="navigation" class="navigation" role="navigation">
    <%= render :partial => 'general/nav_items' %>
    <% if ! (controller.action_name == 'signin' or controller.action_name == 'signup' or controller.action_name == 'login') %>
      <%= render partial: 'general/log_in_bar' %>
    <% end %>
  </ul>
</div>
