<div id="topnav" class="topnav <%= @in_pro_area ? 'topnav--pro' : '' %>">
  <nav aria-label="Main navigation">
    <ul id="navigation" class="navigation">
      <% if can?(:access, :alaveteli_pro) %>
        <%= render :partial => 'alaveteli_pro/general/nav_items' %>
      <% else %>
        <%= render :partial => 'general/nav_items' %>
      <% end %>
    </ul>
  </nav>
</div>

<% if content_for? :subnav %>
  <div id="subnav" class="subnav">
    <ul id="navigation" class="navigation" role="navigation">
      <%= yield :subnav %>
    </ul>
  </div>
<% end %>
