<div class="search_latest">
  <h2 class="visually-hidden"><%= _('Latest') %></h2>

  <ul class="search_sidebar_list">
    <li class="search_sidebar_list__item">
      <%= link_to _('Browse latest responses'), search_requests_path('variety:response') %>
    </li>

    <li class="search_sidebar_list__item">
      <%= link_to _('Browse latest requests'), search_requests_path('variety:sent') %>
    </li>
  </ul>
</div>
