<div class="search_latest">
  <ul class="search_latest__list">
    <li class="search_latest__item">
      <%= link_to _('Browse latest responses'), search_general_all_path('variety:response') %>
    </li>

    <li class="search_latest__item">
      <%= link_to _('Browse latest requests'), search_general_all_path('variety:sent') %>
    </li>
  </ul>
</div>
