<h1>Sorry, we couldn't find that page</h1>

<p>You've requested a page which doesn't exist, or which we have moved.
Perhaps you mistyped the address? Other things you can try:</p>

<ul>
<li>Go to <a href="/">our front page</a></li>
<li><a href="mailto:<%=contact_email%>">Email us</a> to tell us about
    the problem</li>
</ul>

<p id="error_technical_details"><strong>Technical details:</strong> <%=@exception_class ? @exception_class : "Unknown"%></p>
