/* FOIFA admin CSS */

h2 { 
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

td, th {
    border: solid 1px #000000;
}
td {
    vertical-align: top
}

tr.odd {
    background-color: #bbbbbb;
}

tr.even {
    background-color: #dddddd;
}

.entry_changed {
    font-weight: bold;
}

form {
    margin-bottom: 1em;
}

#notice {
    color: green;
    border: solid 1px green;
    padding: 1em;
}
#error, #errorExplanation {
    color: red;
    border: solid 1px red;
    padding: 1em;
}
#tag_help {
    float: right;
    width: 25%;
}
#tag_help {
    margin-top: 0;
}


