
@font-face {
    font-family: 'DeliciousBold';
    src: url('./fonts/delicious-bold-webfont.eot');
    src: url('./fonts/delicious-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/delicious-bold-webfont.woff') format('woff'),
         url('./fonts/delicious-bold-webfont.ttf') format('truetype'),
         url('./fonts/delicious-bold-webfont.svg#DeliciousBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousBoldItalic';
    src: url('./fonts/delicious-bolditalic-webfont.eot');
    src: url('./fonts/delicious-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/delicious-bolditalic-webfont.woff') format('woff'),
         url('./fonts/delicious-bolditalic-webfont.ttf') format('truetype'),
         url('./fonts/delicious-bolditalic-webfont.svg#DeliciousBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousHeavyRegular';
    src: url('./fonts/delicious-heavy-webfont.eot');
    src: url('./fonts/delicious-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/delicious-heavy-webfont.woff') format('woff'),
         url('./fonts/delicious-heavy-webfont.ttf') format('truetype'),
         url('./fonts/delicious-heavy-webfont.svg#DeliciousHeavyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousItalic';
    src: url('./fonts/delicious-italic-webfont.eot');
    src: url('./fonts/delicious-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/delicious-italic-webfont.woff') format('woff'),
         url('./fonts/delicious-italic-webfont.ttf') format('truetype'),
         url('./fonts/delicious-italic-webfont.svg#DeliciousItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousRoman';
    src: url('./fonts/delicious-roman-webfont.eot');
    src: url('./fonts/delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/delicious-roman-webfont.woff') format('woff'),
         url('./fonts/delicious-roman-webfont.ttf') format('truetype'),
         url('./fonts/delicious-roman-webfont.svg#DeliciousRoman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DeliciousSmallCapsRegular';
    src: url('./fonts/delicious-smallcaps-webfont.eot');
    src: url('./fonts/delicious-smallcaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/delicious-smallcaps-webfont.woff') format('woff'),
         url('./fonts/delicious-smallcaps-webfont.ttf') format('truetype'),
         url('./fonts/delicious-smallcaps-webfont.svg#DeliciousSmallCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

