/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 175%;
}
h2 {
    font-size: 140%;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #551a8b;
}
a:active {
    color: #ff0000;
}

#error_technical_details {
    font-size: 70%;
    margin-top: 2em;
}

.subtitle {
    font-style: italic;
    margin-top: -1em;
}

/* Site-wide layout */

#staging {
    text-align: center;
    border-bottom: solid 1px #000000;
    background: #ffbbbb;
}

#header {
    border-bottom: solid 1px #79b837;
    margin: 0;
    padding: 5px 0.5em;
    background-color: #c7eb6e;
    /* Richard: 006aa2, c35b00, 613000 */
    /* Richard: 151517, a72d22, c3d42c */
    /* Tom: how about block heading c7eb6e , heading edge 79b837 and title text 0a0a0a */
    color: #000000;
}

#header h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 0;
}

#tagline {
    /* color: #6e653b; */

    color: #0a0a0a;
    background-color: #c7eb6e;
    padding-top: -2em;
    font-size: 100%;
    font-style: italic;
}

#header a:link, #header a:visited {
    color: #0a0a0a;
    background-color: #c7eb6e;
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}

#beta, #beta a:link, #beta a:visited {
    color: #6e653b;
    background-color: #c7eb6e;
    font-size: 70%;
}

#content {
    width: 100%; /* Must specify a width or IE goes crazy wrong! */
    position: relative;
    margin: 0 auto;
    max-width: 60em;
}

/* Can't put the margin in #content because of above IE craziness */
#wrapper {
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

#navigation {
    position: absolute;
    top: 2em;
    right: 1em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

#navigation a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 0.5em 1em;
}
#navigation a:link, #navigation a:visited {
    color: #000000;
}
#navigation a:hover, #navigation a:active {
    background-color: #79b837;
    color: #c7eb6e;
}

#logged_in_bar {
    text-align: right;
    margin-top: 0.5em;
    margin-right: 1em;
}

#footer {
    padding: 3px;
    border-top: solid 1px #79b837;
    font-size: 90%;
    text-align: center;
    width: 75%;
    margin: 1em auto 0;
    clear: both;
}
/* Forms */

form {
    margin: 0;
}

.plaque {
    background-color: #c7eb6e;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 1em;
}

select, input, textarea {
    font-size: 99%;
}

.form_label {
    clear: both;
    float: left;
    text-align: right;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
.form_label {
    width: 16em;
}
.form_note {
    margin-left: 16.5em;
}
.form_button {
    margin-left: 16em;
}
.form_item_note {
    margin-left: 16.5em;
    margin-top: -0.85em; 
    font-style: italic;
}

/* Flashes */

#errorExplanation, #error, #notice {
    text-align: center;
    font-size: 120%;
    padding: 0.5em;
    margin: 1em;
}
#errorExplanation, #error {
    color: #cc0000;
    background-color: #ffcccc;
    border: solid 1px #cc0000;
}
#notice {
    color: #00cc00;
    background-color: #eeffee;
    border: solid 1px #00cc00;
}

/* Form error highlighting */

.fieldWithErrors input, .fieldWithErrors input[type=text], 
.fieldWithErrors select, .fieldWithErrors input[type=radio],
.fieldWithErrors input[type=password],
.fieldWithErrors textarea
{
    border: solid 1px #cc0000;
    background-color: #ffcccc;
}
div.fieldWithErrors { display:inline; }

/* / - front page */

#alpha_notice {
    font-size: 120%;
    color: #000000;
    background-color: #eeeeee;
    border: solid 1px #000000;
}
#alpha_notice p {
    text-align: center;
}
#alpha_notice ol {
    margin-left: 18%;
    width: 64%;
}

#request_frontpage h1 {
    margin-bottom: 1em;
}
#request_frontpage #make_requests {
    text-align: center;
    width: 45%;
    float: left;
    margin-bottom: 1em;
}
#request_frontpage #public_body_form {
}

#request_frontpage #find_information {
    width: 45%;
    float: right;
    margin-bottom: 1em;
    text-align: center;
}
#request_frontpage .request_listing {
    text-align: left;
}

#public_body_search ul {
    padding: 1em 0 1em 0;
    border: solid 1px #79b837;
    list-style-type: none;
    background-color: #ffffff;
}
#public_body_search li {
    background-color: #ffffff;
}
.public_body_search_note {
    font-style: italic;
    text-align: center;
}

/* from auto_complete plugin */
div.auto_complete {
    width: 350px;
    background: #fff;
    cursor: default;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #ffb;
}
div.auto_complete ul strong.highlight {
    color: #800; 
    margin:0;
    padding:0;
}



/* /new - submitting requests */

#write_form {
    float: center;
    margin-bottom: 1em;
}

#write_form #address_part {
    float: right;
    width: 50%;
}

#write_form #message_part {
    float: right;
}

#request_advice {
    margin-left: 12em;
}

#to_public_body {
    font-size: 140%;
    font-weight: bold;
}

#preview_form {
    float: center;
    margin-left: 8em;
}

#preview_form .outgoing_message_preview {
    width: 75%;
    background-color: #c7eb6e;
    border: solid 1px #79b837;
    padding: 1em;
}


/* /list - browsing requests */
table#list_requests {
    border-collapse: collapse; 
    border: solid 1px #79b837;
    border-width: 1px 0 1px 1px;
}
table#list_requests td, table#list_requests th {
    margin: 0; padding: 0.2em;
    border: solid 1px #79b837;
}
table#list_requests .odd {
    background-color: #dddddd;
}

.request_listing {
}
.request_listing_bottomline {
    color: #7aa600;
}
.request_listing_bottomline a:link {
    color: #7777cc;
}
.request_listing_bottomline a:visited {
    color: #551a8b;
}
.request_listing_bottomline a:active {
    color: #ff0000;
}

/* /body - listing bodies */

.body_listing {
}
.body_listing_bottomline {
    color: #7aa600;
}
.body_listing_bottomline a:link {
    color: #7777cc;
}
.body_listing_bottomline a:visited {
    color: #551a8b;
}
.body_listing_bottomline a:active {
    color: #ff0000;
}




/* /request - viewing requests */

#request_main {
    float: left;
    width: 70%;
    margin-bottom: 2em;
}

#request_sidebar {
    float: right;
    width: 25%;
}

#request_status {
}

.quoted_email {
    display: none;
}

.correspondence h2 {
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: -0.5em;
}


/* /describe_state - user setting status of request */

.describe_state_form {
    clear: both;
    background-color: #eeffee;
    border: solid 1px #00cc00;
    padding: 1em;
}

/* /show_response - viewing individual responses */

#show_response_sidebar {
    float: right;
    width: 30%;
}

#show_response_view {
    float: left;
    width: 70%;
    margin-bottom: 2em;
}
#show_response_followup {
    margin-top: 3em;
}

img.attachment_image {
    vertical-align: middle;
}

/* / - about page */

dt {
    font-weight: bold;
    margin-top: 0.5em;
}

#about_sidebar {
    float: right;
    width: 15em;
    border: solid 1px #c7eb6e;
    margin: 3em 0 3em 3em;
}
#about_sidebar h1 {
    font-size: 120%;
    padding: 2px;
    margin: 0;
    color: #000000;
    background-color: #c7eb6e;
}
#about_sidebar p {
    margin: 1em;
}

/* User accounts */

.confirmation_message {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
.confirmation_heading {
    text-align: center;
}

#sign_together #signin {
    width: 48%;
    float: left;
    margin-bottom: 1em;
}

#sign_together #signup {
    width: 48%;
    float: right;
    margin-bottom: 1em;
}

#sign_alone {
    margin-left: 15%;
    margin-right: 15%;
}

#sign_together .form_label {
    width: 8em;
}
#sign_together .form_note {
    margin-left: 8.5em;
}
#sign_together .form_button {
    margin-left: 8em;
}
#sign_together .form_item_note {
    margin-left: 8.5em;
}

#sign_in_reason, #bad_token {
    font-weight: bold;
    text-align: center;
    font-size: 125%;
}

/* Speech bubbles
 * from http://www.cssplay.co.uk/boxes/chunky.html */

.xsnazzy p {margin:0 10px; letter-spacing:1px;}
.xsnazzy p {padding-bottom:0.5em; color:#eee;}
.xsnazzy {background: transparent; margin:1.3em 0.5em 0.7em 0.5em;}

.xsnazzy em {display:block; width:0; height:0; color:#d8d8ee; overflow:hidden; border-top:12px solid #fff; border-left:12px dotted transparent; border-right:12px dotted transparent; margin-left:50px;}

/* hack for IE5.5 */
* html .xsnazzy em {width:24px; height:12px; w\idth:0; hei\ght:0;}

.xsnazzy span.bubblebit {display:block; width:0; height:0; color:#fff; overflow:hidden; border-top:10px solid #6f6f6f; border-left:10px dotted transparent; border-right:10px dotted transparent; margin-left:52px; margin-top:-15px;}
* html .xsnazzy span.bubblebit {width:20px; height:10px; w\idth:0; hei\ght:0;}

.xb1, .xb2, .xb3, .xb4, .xb5, .xb6, .xb7 {display:block; overflow:hidden; font-size:0;}
.xb1, .xb2, .xb3, .xb4, .xb5, .xb6 {height:1px;}
.xb4, .xb5, .xb6, .xb7 {background:#ccc; border-left:1px solid #fff; border-right:1px solid #fff;}
.xb1 {margin:0 8px; background:#fff;}
.xb2 {margin:0 6px; background:#fff;}
.xb3 {margin:0 4px; background:#fff;}
.xb4 {margin:0 3px; background:#6f6f6f; border-width:0 5px;}
.xb5 {margin:0 2px; background:#6f6f6f; border-width:0 4px;}
.xb6 {margin:0 2px; background:#6f6f6f; border-width:0 3px;} 
.xb7 {margin:0 1px; background:#6f6f6f; border-width:0 3px; height:2px;} 

.xboxcontent {display:block; background:#6f6f6f; border:3px solid #fff; border-width:0 3px;}
.xboxcontent img { border: 0 }

.xsnazzy a:link {
    color: #0000aa;
}
.xsnazzy a:visited {
    color: #551a8b;
}

.unfold_link a:link {
    color: #ffffff;
}
.unfold_link a:visited {
    color: #bbbbbb;
}

.event_bubble { 
    margin: -0.5em 1.5em; 
}
.event_plain { 
    margin-left: 1.5em;
}


