/*------------------------------------------------ global */
body
{
	padding: 0px;
	margin: 0px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}

/*------------------------------------------------ banner */

#banner
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	background-color: #F0F0F0;
	border-color: #993233;
	border-width: 0 0 3px 0;
	border-style: solid;
	height: 100px;
	background-image: url(../images/navimg/bnnr-temp-100pxd.jpg); 
	background-repeat: no-repeat;
	background-position: center top;

}

/*------------------------------------------------ header */
#header
{
	height: 55px;
	position: absolute;
	top: 0px;
	left: 14px;
	height: 55px;
	width: 500px;
	z-index: 150;
		text-align: left;
}
	#header h1
	{ 
		font-size: 0.8em;
			line-height: 0em;

	}
	
	#header h1 a
	{ 
		color: #f0f0f0;
		display: block;
		height: 55px;
		background-image: url(../images/navimg/logo-trans.png);
		background-repeat: no-repeat;
	}
	
	#header #tagline
	{
		font-size: 0.8em;
		font-style: italic;
		text-align: left;
		margin: 2px 0 0 0;
		color: #626262;
	}
/*------------------------------------------------ temp stuff */
#staging, #alpha_notice, #beta
{ }


#header h1 #beta, #header h1 #beta a
{
	display: inline;
	height: 1em;
	background-image: none;
	font-size: 12px;
	color: #A4A4A4;
}


#staging
{
	visibility: hidden;
	overflow: default;
}

#alpha_notice
{
	padding: 0 20px 0 20px;
	margin: 0 0 1em 0;
	border-color: #FF201D;
	border-width: 1px;
	border-style: solid;
	background-color: #f0f0f0;
}
	
/*------------------------------------------------ mysoc logo */
	#mysoclogo
	{
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;
		z-index: 150;
		text-align: right;
		font-size: 0.8em;
		height: 40px;
		z-index: 100;
	}
		#mysoclogo a
		{
			color: #f0f0f0;
			display: block;
			float: right;
			clear: none;
			height: 55px;
			width: 265px;
			background-image: url(../images/navimg/mysoc-logo-header.png);
			background-repeat: no-repeat;
			background-position: 125px 15px;
		}
/*------------------------------------------------ search */
			
#navigation_search
{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 70px;
	z-index: 150;
	text-align: right;
			-moz-opacity: 0.7!important;
			filter: alpha(opacity= 70)!important;
			opacity: 0.7!important;
}
	#navigation_search input
	{
		border-color: #010101;
		border-width: 1px;
		border-style: solid;
		background-color: #fff;
		color: #000;
	}
	#navigation_search input#navigation_search_query
	{
		width: 8em; 
	}

#navigation_search p { margin: 0 0.6em 0 0; }	

/*------------------------------------------------ topnav */
#topnav
{
	position: relative;
	top: 103px;
	left: 0px;
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	z-index: 100;
	background-color: #000;
	font-size: 0.9em;
}

	#topnav ul
	{		
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	
		#topnav li 
		{
			float: left;
		}
		
			#topnav li a, #topnav li a:visited
			{
				display: block;
				margin: 0px;
				padding: 0.15em 0.6em 0.25em 0.8em;
				color: #ADADAD;
				text-decoration: none;
			}
							
				#topnav li a:hover
				{ color: #fff; } 
	
				#topnav li a:active { }
	
		#topnav li a.on, #topnav li a.on:visited
		{ 
			font-weight: bold; 
			color: #000;
		}
	
			#topnav li a.on:hover {}
	
			#topnav li a.on:active {}

/*-------------------------- login/signup */
#logged_in_bar
{
	float: right;
	clear: none;
	font-size: 0.9em;
	z-index: 200;
	padding: 0.20em 10px 0.25em 1em;
	color: #FFF;
}
	#logged_in_bar a, #logged_in_bar a:visited { color: #92B3FF; }


/*------------------------------------------------ wrapper*/

#wrapper
{
	position: relative;
	clear: both;
	top: 100px;
	padding: 0px;
	margin: 0px auto 1.2em auto;
	width: 50em;
	/* = 800px at default size? so 1em = 16px*/
	text-align: left;
	overflow: auto;
}

/*------------------------------------------------ content */

#content
{
	position: relative;
	padding: 1em 1em 1em 1em;
}

h1, h2, h3
{
	font-family: Trebuchet, Trebuchet MS, Helvetica, sans-serif;
	/*Arial Black, Gadget, sans-serif*/
	font-weight: bold;
	line-height: 1em;
	letter-spacing: 0em;
	color: #555;
}
	h1 { font-size: 1.8em;}
	h2 { font-size: 1.4em;}
	h3 { font-size: 1em;}

h4, h5, h6
{}

/* XXX Francis put this here so he could check highlighting worked */ 
.highlight
{
	background-color: #F0F0F0;
	border-color: #A3A3A3;
	border-width: 1px;
	border-style: dotted;
}

dl { line-height: 1.2em; }

dt
{
	font-weight: bold;

}
dd { margin: 0.6em 0 2em 4em; width: 30em; }

/*---------------- content : recent requests sidebar */
#find_information
{
	width: 18em;
	float: right;
	clear: none;
	background-color: #e0e0e0;
	background-image: url(../images/navimg/sidebag-bg-wide2.png);
	background-repeat: no-repeat;
	background-position: center top;
	padding: 105px 0.25em 0.25em 0.35em;
}
	#find_information h1
	{ font-size: 1.2em; line-height: 0.9em; margin-top: 0px; }

	#find_information p
	{ font-size: 0.8em; line-height: 1.1em; }
	
	#find_information input#query
	{ width: 12em; }
	
/*------ content : recent requests sidebar, overriding full-list  bits */
#find_information .request_listing
{
	margin-top: 0;
	clear: none;
	padding: 0 0 0 0;
	border: none;
}	
	#find_information span.bottomline
	{
		width: 22em;
		background-image: none;
		padding: 0em 0em 0em 0em;
	}
	
	#find_information span.desc
	{
		float: none; background-image: none; padding: 0em 0em 0em 0em;
	}

	#find_information span.head /* make request page sidebar override (picking up .request_listing span.head) */
	{ 
		background-image: none;
		padding: 12px 0 0 0px;
		margin: 0 0 0em 0;
	}

/*-----------------------------list sidebars----------------*/
#list_sidebar
{
	width: 10em;
	float: right;
	font-size: 0.85em;
	border-color: #AEAEAE;
	border-width: 1px;
	border-style: solid;
	background-color: #EAEAEA;
	padding: 0.25em;
	margin: 0 0 0 1em;
}
	#list_sidebar h1, #list_sidebar h2
	{
		font-size: 1.2em;
		line-height: 1em;
		margin: 0px 0px 0.3em 0px;
	}
		#list_sidebar ul
		{
			list-style: none;
			margin: 0px;
			padding: 0px;
		}
		
/*-----------------------------request sidebars----------------*/

	#request_sidebar span.head
	{
		padding: 12px 0 0 0;
		font-weight: bold;
		font-size: 1.2em;
		padding: 8px 0 0 0px;
		background-image: none;
	}

	#request_sidebar .request_listing span.desc
	 /* sidebar request list only */
	{
		width: 9.9em;
		background-image: url(../images/navimg/quote-open-small.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		padding: 2px 2px 1em 15px;
	}

	#request_sidebar span.bottomline
	{
		width: auto;
		margin: 0 0 0.6em 0;
		background-image: none;
		padding: 0px;
	}



/*--------------------------------- content : full lists */

.request_listing,
.body_listing,
.user_listing
{
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 0 0 1.5em 0;
	border-bottom: #9C9C9C;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	overflow: hidden;
}
/*.body_listing,
.user_listing
{ float: left; clear: none; width: 50%;}*/

	.request_listing a,
	.body_listing a,
	.user_listing a
	{ text-decoration: none; }
	
	span.head
	{
		display: block;
		font-size: 1.4em;
		padding: 12px 0 0 0;
		font-weight: bold;
	}
		.request_listing span.head /* full page request list only */
		{
			min-height: 32px;
			margin: 0 0 0.3em 0;
			padding: 8px 0 0 42px;
			background-image: url(../images/navimg/request-icon.png);
			background-repeat: no-repeat;
			background-position: 4px 0px;
		}
		.body_listing span.head /* full page request list only */
		{
			min-height: 32px;
			margin: 0 0 0.3em 0;
			padding: 8px 0 0 42px;
			background-image: url(../images/navimg/auth-icon.png);
			background-repeat: no-repeat;
			background-position: 4px 0px;
		}
		.user_listing span.head /* full page request list only */
		{
			min-height: 32px;
			margin: 0 0 0.3em 0;
			padding: 8px 0 0 42px;
			background-image: url(../images/navimg/user-icon.png);
			background-repeat: no-repeat;
			background-position: 4px 0px;
		}

		
	span.bottomline
	{
		clear: left; 
		display: block;
			padding: 10px 0 0 42px;

	}
		.request_listing span.bottomline
		 /* full page request list only */
		{
			width: 30em;
			margin: 0 0 0.6em 0;
			background-repeat: no-repeat;
			background-position: left center;
			min-height: 42px;		
		}

		/* Waiting */
		span.bottomline.icon_waiting_response,
		span.bottomline.icon_waiting_classification,
		span.bottomline.icon_waiting_clarification
		{ background-image: url(../images/navimg/status-icons-wait.png);}
		/* Failed */
		span.bottomline.icon_not_held,
		span.bottomline.icon_rejected
		{ background-image: url(../images/navimg/status-icons-fail.png);}
		/* successful */
		span.bottomline.icon_successful, 
		span.bottomline.icon_partially_successful
		{ background-image: url(../images/navimg/status-icons-succeed.png);}
		/* Alert */
		span.bottomline.icon_requires_admin,	
		span.bottomline.icon_waiting_response_overdue
		{ background-image: url(../images/navimg/status-icons-attn.png);}


		span.bottomline a
		{}
	
	span.desc
	{
		display: block;
		float: right;
		clear: none;
		font-style: italic;
		color: #3F3F3F;
		overflow: hidden;
	}
	.request_listing span.desc
	 /* full page request list only */
	{
		width: 23em;
		background-image: url(../images/navimg/quote-open.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		padding: 8px 0 0 25px;
	}
	
	.body_listing span.desc
	{ background-image: none; float: left; clear: both; padding: 0px 0 0 42px;}



/*---------------- content : lists back/next */

div.pagination { text-align: center; padding-top: 0.3em;}

	div.pagination span.current
	{
		padding: 0 0.6em 0.1em 0.6em;
		background-color: #000;
		color: #FFF;
	}
	span.disabled { color: #B2B2B2; padding: 0 0.6em 0.1em 0.6em; }
	div.pagination a, div.pagination a:visited
	{
		text-decoration: none;
		padding: 0 0.6em 0.1em 0.6em;
	}
	div.pagination a:hover
	{
		background-color: #626262;
		color: #FFF;
	}


/*---------------- content : find authority (home page) */
#make_requests
{
	float: left;
	clear: none;
	width: 26em;
	text-align: center;
}

.auto_complete
{
	text-align: left;
	background-color: #FFF;
	border-color: #454545 #282828 #000 #454545;
	border-width: 1px 1px 2px 1px;
	border-style: solid;
}

	.auto_complete ul
	{ 
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
	.auto_complete ul li
	{
		margin: 0px 0px 0.4em 0px;
		padding: 0.1em 1em 0.3em 1em;
		color: #595959;
	}
	.auto_complete ul li:hover
	{
		color: #000;
		background-color: #D7D7D7;
		cursor: default;
	}



/*-------------------- Content : form errors */
.errorExplanation
{
	color: #FF0606;
	font-size: 1.4em;
	font-weight: bold;
	border-color: #FF0C11;
	border-width: 1px;
	border-style: solid;
	background-color: #ffeeee;
	padding-right: 0.3em;
}
.fieldWithErrors
{
	display: block;
	padding: 0.2em;
	border-color: #FF0C11;
	border-width: 1px;
	border-style: solid;
	background-color: #ffeeee;
}

/*-------------------- Content : action notice */
#notice, .describe_state_form
{
	color: #16C132;
	font-size: 1.4em;
	font-weight: bold;
	border-color: #1EFF38;
	border-width: 1px;
	border-style: solid;
	background-color: #D5FFD8;
	padding: 0.5em;
}
.describe_state_form {
    margin-bottom: 1em;
    font-size: 1.0em;
    color: #454545;
}

/*---------------- content : request detail pages */

#request_sidebar
{
	float: right;
	clear: none;
	width: 9em;
	margin: 0 0 0 0.6em;
	font-size: 0.9em;
}

	/* making the request preview look like the normal request view*/
	p.outgoing_message_preview
	{
		display: block;
		width: 36em;
		float: left;
		clear: both;
		padding: 1em;
		margin: 0 0.5em 1em 0;
		border-color: #5F5F5F;
		border-width: 1px;
		border-style: solid;
	}
		#preview_form p {clear: both;}

div.correspondence
{
	width: 37em;
	float: left;
	padding: 0em 0.5em 0em 0.5em;
	margin: 0 0 1em 0;
	border-color: #5F5F5F;
	border-width: 1px;
	border-style: solid;
	overflow: auto;
}
div.correspondence h2
{ text-align: right; font-size: 1em; }
.event_actions
{ text-align: right} 

div.comment_in_request
{
	width: 37em;
	float: left;
	padding: 0em 0em 0em 0em;
	margin: 0 0 0 0;
	overflow: auto;
}

/* id starts with... */
div[id|="outgoing"] { }
	div[id|="outgoing"] p { font-size: 0.95em;}
	
div[id|="incoming"] { background-color: #E7E7E7; font-family: Times New Roman, Times, serif; }
	div[id|="incoming"] p { font-size: 1.08em;}

div[id|="comment"] { }
	div[id|="comment"] p { font-size: 1.00em;}
	
.correspondence_text { margin: 0 1.2em 0 0.8em; }

/*.event_bubble { margin: 3em 0 0 0; font-size: 0.9em;}*/

a img.attachment_image {border: 0px;}

.describe_state_form, 
#followup
{ clear: both; float: left; }

/*------------------------------------------------ authority listings */
#body_sidebar {
	font-size: 0.85em;
	width: 16em;
	float: right;
	clear:none;
}
#body_sidebar a { text-decoration: none; }


/*------------------------------------------------ making a request / sign up / sign in  */

#request_advice
{}
	#request_advice ul
	{
		width: 26em;
		margin: 0 auto 0 auto;
	}
	#request_advice ul li { margin: 0 0 1em 0; }

#request_form
{ margin-top: 4em;}

#request_form label,
label.form_label
{
	display: block;
	/*width: 128px;*/ width: 8em;
	float: left;
	clear: none;
	text-align: right;
	padding: 0 10px 0 0;
}
	#request_form h1 label
	{
		font-size: 0.55em;
	}

.form_item_note, .form_note
{
	font-size: 0.8em;
	/*width: 432px;*/ width: 27em;
	/*margin-left: 138px;*/margin-left: 11em;
}


.form_button 
{ 
	margin: 0 0 0 9em; 
}

p#sign_in_reason
{
	text-align: center;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1em;
}

#signup,
#signin
{
	clear: none;
	width: 22em;
}
	#signup h2,
	#signin h2
	{ font-size: 1.1em; }

	#signup
	{ 	
		float: right;
	}

	#signin
	{
		float: left;		
	}
	
#signup .form_item_note,
#signin .form_note
{
	font-size: 0.8em;
	/*width: 224px;*/ width: 16em;
	/*margin-left: 142px;*/ margin-left: 11em;
}


/* mini-signin form overrides 

			#signin label.form_label
			{
				width: 12em; clear: both;
				text-align: left;
			}
				#signin  h1 label
				{
				}
			
			#signin .form_item_note
			{
				width: 12em;
				margin-left: 0em;
			}
			#signin .form_note
			{
				width: 12em;
				margin-left: 0em;
			}
			
			#signin .form_button
			{
				margin-left: 0em;
			}
	*/
/*--------------------------------- content : about pages */

div#about_sidebar
{
	float: right;
	clear: none;
	width: 12em;
	margin: 1.2em 0 1.2em 2em;
}

/*---------------------------------- RSS and email alerts */

div.feed_link img {
    border: none;
    vertical-align: middle;
    text-decoration: none;
}
div.feed_link_main {
    display: inline;
}
form.feed_form_main {
    display: inline;
}

div.act_link img {
    background-color: red;
    border: none;
    vertical-align: middle;
    text-decoration: none;
}

/*------------------------------------------------ footer */

#footer
{
	position: relative;	
	clear: both;
	width: 100%;
	margin: 120px 0 0 0;
	padding: 0.5em 0 0.5em 0;
	font-size: 0.85em;
	height: 2em;
	background-color: #F0F0F0;
	border-color: #993233;
	border-width: 3px 0 0 0;
	border-style: solid;
}
