/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 175%;
}
h2 {
    font-size: 140%;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:hover, a:active {
    color: #ff0000;
}

.subtitle {
    font-style: italic;
    margin-top: -1em;
}

/* Site-wide layout */

#staging {
    text-align: center;
    border-bottom: solid 1px #000000;
    background: #ffbbbb;
}

#header {
    border-bottom: solid 1px #4e451b;
    margin: 0;
    padding: 5px 0.5em;
    background-color: #a8f400;
    color: #000000;
    /* 4e451b, a8f400 are useful greens */
}

#header h1 {
    font-size: 200%;
    font-weight: bold;
    margin: 0;
}

#beta {
    color: #6e653b;
    background-color: #a8f400;
    font-size: 50%;
}
#tagline {
    /* color: #6e653b; */

    color: #000000;
    background-color: #a8f400;
    padding-top: -2em;
    font-size: 50%;
    font-style: italic;
}

#header a:link, #header a:visited {
    color: #000000;
    background-color: #a8f400;
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}

#content {
    width: 100%; /* Must specify a width or IE goes crazy wrong! */
    position: relative;
    margin: 0 auto;
    max-width: 60em;
}

/* Can't put the margin in #content because of above IE craziness */
#wrapper {
    margin: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

#navigation {
    position: absolute;
    top: 2em;
    right: 1em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

#navigation a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 0.5em 1em;
}
#navigation a:link, #navigation a:visited {
    color: #000000;
}
#navigation a:hover, #navigation a:active {
    background-color: #4e451b;
    color: #a8f400;
}

#logged_in_bar {
    text-align: right;
    margin-top: 0.5em;
    margin-right: 1em;
}

/* Forms */

form {
    margin: 0;
}

.plaque {
    background-color: #a8f400;
    -moz-border-radius: 1em;
    border-radius: 1em;
    padding: 1em;
}

select, input, textarea {
    font-size: 99%;
}

.form_label {
    clear: both;
    float: left;
    text-align: right;
    padding-right: 0.5em;
    margin-bottom: 0.5em;
}
.form_label {
    width: 16em;
}
.form_note {
    margin-left: 16.5em;
}
.form_button {
    margin-left: 16em;
}
.form_item_note {
    margin-left: 16.5em;
    margin-top: -0.85em; 
    font-style: italic;
}

/* Flashes */

#errorExplanation, #error, #notice {
    text-align: center;
    font-size: larger;
    padding: 0.5em;
    margin: 1em;
}
#errorExplanation, #error {
    color: #cc0000;
    background-color: #ffcccc;
    border: solid 1px #cc0000;
}
#notice {
    color: #00cc00;
    background-color: #eeffee;
    border: solid 1px #00cc00;
}

/* Form error highlighting */

.fieldWithErrors input, .fieldWithErrors input[type=text], 
.fieldWithErrors select, .fieldWithErrors input[type=radio],
.fieldWithErrors input[type=password],
.fieldWithErrors textarea
{
    border: solid 1px #cc0000;
    background-color: #ffcccc;
}
div.fieldWithErrors { display:inline; }

/* / - front page */

#request_frontpage h1 {
    margin-bottom: 1em;
}
#request_frontpage #make_requests {
    text-align: center;
    width: 45%;
    float: left;
}
#request_frontpage #public_body_form {
}

#request_frontpage #find_information {
    text-align: center;
    width: 45%;
    float: right;
}


/* /new - submitting requests */

#writeForm {
    float: right;
}

#writeForm #address_part {
    float: right;
    width: 50%;
}

#writeForm #message_part {
    float: right;
}

/* /list - browsing requests */
table#list_requests {
    border-collapse: collapse; 
    border: solid 1px #4e451b;
    border-width: 1px 0 1px 1px;
}
table#list_requests td, table#list_requests th {
    margin: 0; padding: 0.2em;
    border: solid 1px #4e451b;
}
table#list_requests .odd {
    background-color: #dddddd;
}

/* /request - viewing requests */


/* /classify - classifying requests */

#classify_action {
    float: right;
    width: 35%;
}

#classify_view {
    float: left;
    width: 60%;
}


/* User accounts */

.confirmation_message {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}
.confirmation_heading {
    text-align: center;
}

#sign_together #signin {
    width: 48%;
    float: left;
}

#sign_together #signup {
    width: 48%;
    float: right;
}

#sign_alone {
    margin-left: 15%;
    margin-right: 15%;
}

#sign_together .form_label {
    width: 8em;
}
#sign_together .form_note {
    margin-left: 8.5em;
}
#sign_together .form_button {
    margin-left: 8em;
}
#sign_together .form_item_note {
    margin-left: 8.5em;
}

#sign_in_reason {
    font-weight: bold;
    text-align: center;
    font-size: 125%;
}

/* Speech bubbles
 * from http://www.cssplay.co.uk/boxes/chunky.html */

.xsnazzy h1, .xsnazzy h2, .xsnazzy p {margin:0 10px; letter-spacing:1px;}
.xsnazzy h1 {font-size:2.5em; color:#fc0;}
.xsnazzy h2 {font-size:2em; color:#234; border:0;}
.xsnazzy p {padding-bottom:0.5em; color:#eee;}
.xsnazzy h2 {padding-top:0.5em; padding-left:10px;}
.xsnazzy {background: transparent; margin:1em;}

.xsnazzy em {display:block; width:0; height:0; color:#d8d8ee; overflow:hidden; border-top:12px solid #fff; border-left:12px dotted transparent; border-right:12px dotted transparent; margin-left:50px;}

/* hack for IE5.5 */
* html .xsnazzy em {width:24px; height:12px; w\idth:0; hei\ght:0;}

.xsnazzy span {display:block; width:0; height:0; color:#fff; overflow:hidden; border-top:10px solid #7f7f7f; border-left:10px dotted transparent; border-right:10px dotted transparent; margin-left:52px; margin-top:-15px;}
* html .xsnazzy span {width:20px; height:10px; w\idth:0; hei\ght:0;}

.xb1, .xb2, .xb3, .xb4, .xb5, .xb6, .xb7 {display:block; overflow:hidden; font-size:0;}
.xb1, .xb2, .xb3, .xb4, .xb5, .xb6 {height:1px;}
.xb4, .xb5, .xb6, .xb7 {background:#ccc; border-left:1px solid #fff; border-right:1px solid #fff;}
.xb1 {margin:0 8px; background:#fff;}
.xb2 {margin:0 6px; background:#fff;}
.xb3 {margin:0 4px; background:#fff;}
.xb4 {margin:0 3px; background:#7f7f7f; border-width:0 5px;}
.xb5 {margin:0 2px; background:#7f7f7f; border-width:0 4px;}
.xb6 {margin:0 2px; background:#7f7f7f; border-width:0 3px;} 
.xb7 {margin:0 1px; background:#7f7f7f; border-width:0 3px; height:2px;} 

.xboxcontent {display:block; background:#7f7f7f; border:3px solid #fff; border-width:0 3px;}

.xspeaker { margin: -0.5em 52px; }

