/* Generics */

body {
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 175%;
}
h2 {
    font-size: 140%;
}

a:link {
    color: #0000ff;
}
a:visited {
    color: #000099;
}
a:hover, a:active {
    color: #ff0000;
}

form {
    margin: 0;
    padding: 1em;
    background-color: #97E300;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

select, input, textarea {
    font-size: 99%;
}

label {
    float: left;
    text-align: right;
    padding-right: 0.5em;
    width: 10em;
    margin-bottom: 0.5em;
}

/* Flashes */

#errorExplanation, #error, #notice {
    text-align: center;
    font-size: larger;
    padding: 4px;
    margin: 1em;
}
#errorExplanation, #error {
    color: #cc0000;
    background-color: #ffcccc;
    border: solid 1px #cc0000;
}
#notice {
    color: #00cc00;
    background-color: #eeffee;
    border: solid 1px #00cc00;
}

/* Form error highlighting */

.fieldWithErrors input, .fieldWithErrors input[type=text], 
.fieldWithErrors select, .fieldWithErrors input[type=radio],
.fieldWithErrors input[type=password],
.fieldWithErrors textarea
{
    border: solid 1px #cc0000;
    background-color: #ffcccc;
}

/* Site-wide layout */

#header {
    font-size: 200%;
    font-weight: bold;
    border-bottom: solid 2px #4e451b;
    margin: 0;
    padding: 5px 0.5em;
    background-color: #97E300;
    color: #4e451b;
    /* 4e451b is another useful green */
}

#beta {
    color: #6e653b;
    background-color: #97E300;
    font-size: 50%;
    font-style: italic;
}

#header a:link, #header a:visited {
    color: #4e451b;
    background-color: #97E300;
    text-decoration: none;
}
#header a:active, #header a:hover {
    text-decoration: underline;
}

#content {
    width: 100%; /* Must specify a width or IE goes crazy wrong! */
    position: relative;
    margin: 0 auto;
    max-width: 60em;
}

/* Can't put the margin in #content because of above IE craziness */
#wrapper {
    margin: 2em;
}

#navigation {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#navigation li {
    display: inline;
    padding: 0;
    margin: 0;
}

#navigation a {
    display: -moz-inline-box;
    display: inline-block;
    padding: 0.5em 1em;
}
#navigation a:link, #navigation a:visited {
    color: #4e451b;
}
#navigation a:hover, #navigation a:active {
    background-color: #4e451b;
    color: #97E300;
}

/* Front page */

#explanation {
    text-align: center;
    font-size: 150%;
    margin: 0 2em;
}

/* Submitting requests */

#writeForm {
    float: right;
}

#writeForm #address_part {
    float: right;
    width: 50%;
}

#writeForm #message_part {
    float: right;
}

/* User accounts */

#accountForm {
    width: 75%;
}

#accountForm label {
    width: 15em;
/*    font-weight: bold; */
}

#accountForm input[type=radio] {
    float: left;
    text-align: right;
    padding-right: 0.5em;
    margin-left: 14em;
}

#accountForm .radio_label {
    text-align: left;
    margin-left: 0.5em;
    float: none;
}

#accountForm .form_note {
    display: block;
    margin-left: 16em;
    clear: both;
}

#accountForm h2 {
    text-align: center;
}



