
h1 {
  color: #93278F;
  font-size: 42px;
  font-family: 'DeliciousBold', Arial, sans-serif;
  margin-bottom:15px;
  margin-top:10px;
}

h2 a {
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

h2, dt {
  color: #93278F;
  font-size: 21px;
  font-family: 'DeliciousBold', Arial, sans-serif;
  font-weight:normal;
}

h3 {
  color: #6B3C6A;
  font-family: 'DeliciousRoman', Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom:10px;
}

dd {
  margin:18px 0px 36px 0px;
  width:auto;
}

dl {
  margin-top:24px;
  line-height:160%;
}

div.controller_help dt:hover > a, div.controller_help h1:hover > a, div#help_unhappy h1:hover > a.hover_a {
    color: #777;
    font-family:Arial, sans-serif;
}

a {
  color: #93278F;
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  color: #444444;
  font-size: 12px;
}

body.front {
  background: url(/images/home-grad.png) repeat-x 0px 160px;
}

#wrapper {
  padding-top:160px;
}

#banner {
  background: url(/images/stripes.png);
  border: none;
  height:160px;
}

#banner_inner {
  width: 890px;
  margin: auto;
  position:relative;
}

#banner_inner a#logo {
  position:absolute; 
  left:0px;
  top:70px;
  z-index: 100;
}

a img  {
 border: none
}

#navigation_search {
  width:auto;
  right:0px;
  top:10px;
}

#navigation_search input[type=image] {
  border: 0px;
  margin-bottom: -9px;
  margin-left: -4px;
}

#navigation_search input[type=text] {
  font-size: 12px;
  padding:5px 5px 4px 5px;
  border-color:#BE7DBC;
  border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
}

#logged_in_bar {
  top: 18px;
  right:210px;
  float:none;
  position:absolute;
}

#logged_in_bar a,
#logged_in_bar a:visited {
  color: #93278F;
}

div.lang {
  top:40px;
  position:absolute;
  padding:0px;
}

#topnav {
  background: transparent;
  top: 120px;
  left: 115px;
  font-family:'DeliciousRoman', Arial, sans-serif;
  font-size: 18px;
}

#topnav ul li a {
  color: #6B3C6A !important;
}

#topnav ul li {
  padding:10px 15px;
  margin: 0px 3px;
}

#topnav ul li.selected {
  background:#FFF;
}

#topnav li a, #topnav li a:visited {
  padding:0px;
}

.request_left {
  width: 625px;
  float:left;
}

.request_right {
  padding-top:5px;
  width: 245px;
  float:left;
}

#wrapper {
  width: 900px;
}

#content {
  width: 875px;
}

#stepwise_make_request {
  background: url(/images/stripes.png);
  border: 1px solid #DEBEDD;
  border-radius:5px;
  -moz-border-radius:5px;
  font-family:'DeliciousRoman', Arial, sans-serif;
  color: #6B3C6A;
  font-size:18px;
  padding:10px 12px;
  text-align:left;
  width: 412px;
  margin-bottom:40px;
}

#stepwise_make_request a img {
  margin-bottom:-10px;
  margin-top: -10px;
  margin-left:6px;
}

#stepwise_make_request strong {
  color: #93278F;
}

p.subtitle {
  margin-top:10px;
  margin-bottom:20px;
  font-style: italic;
}

.results_section {
  margin-bottom:40px;
}

.results_section div:last-child {
  border-bottom-width:0px;
  padding-bottom:0px;
}

.request_listing,
.user_listing,
.body_listing {
  border-bottom:1px solid #DDD;
  padding:12px 0px 6px;
  margin:0px;
  margin-bottom:-1px;
}

.body_listing {
  padding-bottom:16px;
}

.request_listing span.head,
.user_listing span.head,
.body_listing span.head {
  background:none;
  padding:0px;
  font-size:21px;
  margin-bottom:6px;
}

.request_listing span.head a,
.user_listing span.head a,
.body_listing span.head a {
  color: #6B3C6A;
  font-family: 'DeliciousRoman', Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  margin-top: 3px;
  display: block;
  margin-bottom: -6px;
}

.request_listing span.head a:hover,
.user_listing span.head a:hover,
.body_listing span.head a:hover {
  text-decoration: underline;
}

.request_listing .requester {
  font-size: 12px;
  padding-bottom:0px;
}

.request_listing .requester a {
  text-decoration: underline;
}

.body_listing span.desc,
.body_listing span.bottomline,
.user_listing span.bottomline {
  padding:0px;
  margin:0px;
  font-style: normal;
  font-size: 12px;
  font-weight: normal !important;
}

.request_listing span.bottomline {
  padding: 3px 0px 0px 27px;
  font-style: normal;
  margin-bottom: 0px;
  margin-top:12px;
  background-position: top left;
  font-size: 14px;
  font-weight: normal !important;
  min-height: 36px;
}

.user_listing {
  padding-top:10px;
  padding-bottom:0px;
}

.icon_requires_admin,
.icon_waiting_response_overdue,
.icon_waiting_response_very_overdue {
  background-image: url(/images/status-overdue.png);
  color: #C1272D;
}

.icon_successful,
.icon_partially_successful {
  background-image: url(/images/status-complete.png);
  color: #69952F;
}

.icon_waiting_response,
.icon_waiting_classification,
.icon_waiting_clarification {
  background-image: url(/images/status-pending.png);
  color: #A68C2E;
}

.icon_failed,
.icon_rejected {
  background-image: url(/images/status-denied.png);
  color: #C1272D;
}

.icon_not_held {
  background-image: url(/images/status-not-held.png);
  color: #A68C2E;
}

.icon_gone_postal {
  background-image: url(/images/status-gone-postal.png);
  color: #A68C2E;
}

.icon_error_message {
  background-image: url(/images/status-error.png);
  color: #C1272D;
}

.icon_internal_review {
  background-image: url(/images/status-internal-review.png);
  color: #A68C2E;
}

.icon_user_withdrawn {
  background-image: url(/images/status-withdrawn.png);
  color: #A68C2E;
}

#request_sidebar {
  width: 212px;
  font-size: 12px;
}

#request_sidebar h2 {
  margin-bottom:10px;
}

.feed_link {
  padding: 4px 0px;
}

.feed_link a {
  text-decoration: none;
}

.request_listing span.desc {
  background: url(/images/quote-marks.png) no-repeat;
  padding: 0px 0px 0px 40px;
  min-height:60px;
  font-size:12px;
  width:auto;
  color:#444;
  line-height:18px;
}

#footer {
  border-color: #FFF;
  margin-top:60px;
}

div.ff-icon-printfix {
 display: none;
}
#search_form {
  margin:0px -6px 20px 0px;
}

#advanced-search input[type=text] {
  width: auto;
}

#search_form input[type=submit] {
  border-radius: 0px 2px 2px 0px;
  -moz-border-radius: 0px 2px 2px 0px;
}

#header_left {
  width:625px;
  float:left;
}

#header_right {
  float:right;
  width:230px;
  padding-top:27px;
}

.feed_link,
.act_link {
  display:block !important;
  margin-bottom:10px;
}

.feed_link a,
.act_link a,
#header_right > a {
  text-decoration: none;
  color: #6B3C6A;
}

.feed_link a:hover,
.act_link a:hover,
#header_right > a:hover {
  text-decoration: underline;
}

.feed_link a img,
.act_link img,
.act_link a img {
  padding-right:2px;
}

form.feed_form input[type="submit"] {
 font-size: 12px;
 line-height: 12px;
 padding: 2px 4px;
}

#header_right > br {
  line-height:200%;
}

#general_search h2 {
  clear:both;
  margin-top:20px;
}

.highlight {
  background:#FFFF00;
  border-width:0px;
}

h2.foi_results,
h2.person_results,
h2.publicbody_results {
  padding-top:0px;
  padding-bottom:15px;
  margin-bottom:0px;
  margin-top: 0px;
}

h2.foi_results {
  width: 600px;
}

.list_toggle_controls {
  padding-bottom:20px;
}

#request_advice ol {
  margin-left:18px;
  margin-top:20px;
  display:block;
  padding:0px;
}

#request_advice ol li {
  padding-bottom:5px;
}

#request_form label,
label.form_label {
  width: 100px;
  font-family: 'DeliciousRoman', Arial, sans-serif;
}

#request_form label,
label.form_label,
span#to_public_body {
  color: #6B3C6A;
  font-size: 18px;
}

#date_range label,
#filter_requests_form label {
  display: inline;
  float: none;
  padding-right: 5px;
}

#date_range label.title,
#filter_requests_form label.title,
h3.title {
  display: inline-block;
  float: none;
  width:110px;
}

h3.title {
  width: 114px;
  margin-bottom: 5px;
}

#requests-subfilters div {
  margin-top: 10px;
}

#requests-subfilters #latest_status_0,
#requests-subfilters #request_variety_0 {
  margin-left: 0px;
}

#requests-subfilters input[type=checkbox] {
  margin-left: 117px;
}

.list-filter-item {
 margin-bottom: 10px;
}

span#to_public_body {
  font-family: 'DeliciousBold', Arial, sans-serif;
}

.form_item_note, .form_note {
  margin-left: 110px;
}

#left_column {
  width:600px;
  float:left;
}

#right_column_flip {
  width:220px;
  float:left;
  margin-top:20px;
}

#left_column_flip {
  width:620px;
  float:right;
  margin-top: 10px;
}

#right_column {
  width:220px;
  float:right;
  margin-top:30px;
}

#left_half {
  width:45%;
  float:left;
}

#right_half {
  width:45%;
  float:right;
}

#middle_strip {
  float: left;
  width: 10%;
  height: 100px;
  text-align: center;
  margin-top: 45px;
  font-size: 16px;
  font-family: Georgia;
  font-style: italic;
  color: #93278F;
}

#signup, #signin {
  float:none;
  margin-top:20px;
  width:auto;
}

#sign_together h1 {
  width: 320px;
  text-align: center;
}

#sign_together .form_button {
  margin-left: 10.5em;
}

#signup .form_item_note, #signin .form_note {
  margin-left:11.5em;
  width:24em;
}

#request_form label, label.form_label {
  margin-top:2px;
  text-align:left;
}

form input[type=text],
form input[type=password] {
  font-size: 14px;
  padding: 5px;
  width:200px;
  color: #555;
  border-radius: 3px;
  -moz-border-radius: 3px;
  border-style: solid;
  border-color: #BBB;
  border-width: 1px;
}

form input.use-datepicker[type=text] {
  width: 130px !important;
  background: url(/images/calendar.png) no-repeat 115px 3px;
  margin: 0px !important;
  border-radius:3px !important;
  -moz-border-radius:3px !important;
  font-size: 14px !important;
}

form input[type=submit], 
a.link_button_green,
a.link_button_green_large {
  background: url(/images/button-gradient.png);
  color: white;
  text-decoration: none;
  padding: 5px 11px;
  display: inline-block;
  line-height: 18px;
  border: solid 1px #69952F;
  border-radius: 2px;
  -moz-border-radius: 2px;
  text-shadow: 1px 1px 0px #5B841D;
  font-family: 'DeliciousRoman', Arial, sans-serif;
  font-size: 18px;
  cursor: pointer;
  cursor: hand;
}

a.link_button_green_large {
  background: url(/images/button-gradient-large.png);
  font-size: 22px;
  line-height: 22px;
  padding-bottom: 7px;
}

@-moz-document url-prefix() {
  form input[type=submit], 
  a.link_button_green {
    padding: 2px 11px;
    margin-top:1px;
  }
}

form input[type=submit].small {
  font-size: 15px;
  padding: 4px 9px;
  line-height: 10px;
}

ul.no_bullets {
  list-style-type:none;
  margin:0px 0px 30px 0px;
  padding:0px;
}

ul.no_bullets li {
  margin-bottom:6px;
}

#contact_preamble {
  margin: 0px 0px 30px 0px;
  width:auto;
}

#frontpage_search {
  background:transparent;
}

#public_body_list #right_column ul {
  padding: 0px 0px 20px 0px;
  margin: 0px;
  list-style: none;
}

div#twitter {
  margin-top:30px;
  background:#FFF;
}

div.blog_post p {
  line-height:180%;
}

div.frontpage-box {
  background: url(/images/stripes.png);
  border: 1px solid #DEBEDD;
  border-radius:5px;
  -moz-border-radius:5px;
  font-family:'DeliciousRoman', Arial, sans-serif;
  color: #6B3C6A;
  font-size:18px;
  padding:15px 12px 0;
  text-align:center;
  width: 255px;
  height: 210px;
  float: left;
}

#frontpage-box-1 {
  margin-right: 10px;
  vertical-align: middle;
}

#frontpage-box-2 {
  margin-right: 10px;
}


#bighand {
  padding: 0;
  margin: 0;
  height: 210px;
  background: url(/images/bighand.png) no-repeat scroll 0 bottom transparent;
}

#littlehand {
  padding: 0;
  margin: 0;
  height: 210px;
  background: url(/images/littlehand.png) repeat-x scroll 10px bottom transparent;
}

#frontpage-box-3 {
}

#frontpage-box-3 #search_form input[type=text] {
 width: 10em;
}

#frontpage_examples p,
#frontpage_examples ul {
 text-align: left;
}
#examples_1 ul li {
 border-bottom: 1px solid #ddd;
 padding: 5px 0 5px 0;
}

#frontpage_examples .excerpt {
  cursor: hand;
  cursor: pointer;
  background: url(/images/quote-marks.png) no-repeat;
  padding: 0px 0px 0px 40px;
  font-size:12px;
  color:#444;
  line-height:18px;
  min-height: 30px;
  font-style: italic;
}

#set_photo {
    background: url(/images/defaultprofilepic.png)
}

div.correspondence,
div.comment_in_request {
  width: 600px;
  background: url(/images/stripes-70.png);
  border-width: 0px;
  font-size: 13px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 4px 20px 0px 9px;
}

div[id|="comment"] {
  margin-left: 0px;
}

div[id|="comment"] h2 {
  font-size: 1em;
  text-align:right;
}

div[id|="comment"] p {
  font-size: 13px;
}

.comment_in_request_text {
  margin: 0px 0px 0px 10px;
}

.comment_in_request_text img.comment_quote {
  display: none;
}

/* ---------- Frontpage ----------- */

#frontpage_splash {
  height: 375px;
  margin-top: -12px;
  margin-bottom: 20px;
  width: 100%;
  background: url(/images/flying-computer.png) no-repeat 175px bottom;
}

#frontpage_splash #left_column {
  line-height: 40px;
  margin-top: 66px;
}

#frontpage_splash h1 {
  margin: 0px 0px 20px 0px;
  font-family: 'DeliciousRoman', Arial, sans-serif;
  font-size: 39px;
  color: #6B3C6A;
  font-weight:normal;
}

#frontpage_splash h1 strong {
  font-family: 'DeliciousHeavyRegular', Arial, sans-serif;
  font-size: 54px;
  color: #93278F;
  font-weight: normal;
}

#frontpage_splash h1 span {
  font-family: Georgia;
  font-style: italic;
  font-weight:normal;
  font-size: 25px;
  color: #6B3C6A;
}

#frontpage_splash #right_column {
  width: 265px;
}

#frontpage_splash h2 {
  font-size: 26px;
  font-weight:normal;
  color: #6B3C6A;
  font-family:'DeliciousRoman', Arial, sans-serif;
  margin-bottom: 10px;
  line-height: 28px;
}

#frontpage_splash h2 strong {
  font-size: 31px;
  color: #93278F;
  font-family:'DeliciousBold', Arial, sans-serif;
}

#frontpage_splash h2 span {
  color: #6B3C6A;
  font-style: italic;
  font-size: 19px;
  font-family: Georgia;
}

#frontpage_splash #right_column input[type=text] {
  width: 180px;
}

#frontpage_splash #frontpage_search_box {
  margin-bottom: 30px;
  margin-top: -10px;
}

#frontpage_splash #frontpage_right_to_know p {
  line-height: 20px;
}

body.front h3 {
  font-size: 28px;
}

/* ---------- Calendar theme ----------- */

#ui-datepicker-div.ui-widget {
  font-family: Arial, sans-serif;
  color: #93278F;
}

#ui-datepicker-div .ui-datepicker-header,
#ui-datepicker-div .ui-widget-header {
  background: none;
  border: solid 0px white;
  color: #93278F;
  font-family: 'DeliciousRoman';
  font-size: 17px;
  font-weight: normal;
  line-height: 1.5em !important;
}

#ui-datepicker-div .ui-state-default {
  background: #F2F2F2;
  border: solid 0px #FFF;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

#ui-datepicker-div .ui-state-default:hover {
  background: #DEB4D8;
  color: #FFF;
}

#ui-datepicker-div .ui-state-active {
  background: #D093C7;
  color: #FFF;
}

#ui-datepicker-div .ui-icon-circle-triangle-w,
#ui-datepicker-div .ui-icon-circle-triangle-e {
  background-image: url(/images/ui-icons-theme.png);
}

#ui-datepicker-div .ui-datepicker-prev {
  margin-top: 2px;
  opacity: 0.5;
}

#ui-datepicker-div .ui-datepicker-prev-hover {
  left: 2px;
  top: 2px;
  border: none;
  background:#FFF;
  cursor:pointer;
  opacity: 1;
}

#ui-datepicker-div .ui-datepicker-next {
  margin-top: 2px;
  opacity: 0.5;
}

#ui-datepicker-div .ui-datepicker-next-hover {
  right: 2px;
  top: 2px;
  border: none;
  background:#FFF;
  cursor:pointer;
  opacity: 1;
}

#other-country-notice {
 position: absolute;
}

body.front #other-country-notice,
#other-country-notice {
 display: none;
}

p.public-body-name-prefix {
 color: #DEB4D8;
 margin-top: 15px;
 margin-bottom: -15px;
}

#authority_preview .public-body-name-prefix,
#authority_preview #list-filter,
#authority_preview h2.foi_results {
 display: none;
}

p.subtitle {
  font-size: 18px;
  font-family: 'DeliciousRoman';
  font-style: normal;
  color: #6B3C7F;
}

/*------------- Other countries notice ---------------*/
#other-country-notice {
  background: #93278F;
  color: #FFF;
  font-size: 16px;
  width: 100%;
  z-index: 999;
  display: block;
  position: absolute;
  top: 0px;
  opacity: 0.9;
}

#other-country-notice a {
  color: #FFF;
}

.close-button {
  color: white;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  -moz-border-radius: 2px;
  cursor: pointer;
  cursor: hand;
  background: url(/images/small-white-cross.png) no-repeat;
  padding: 10px 0;
  width: 15px;
  height: 15px;
  border: solid 0px #FFF;
  text-indent: -999px;
  overflow:hidden;
  float:right;

}
/*------------- Link box ---------------*/
#link_box {
 position: absolute;
 padding: 5px;
 text-align: left;
 background-color: white;
 z-index: 999;
 opacity: 0.9;
 border-radius: 6px;
 -moz-border-radius: 6px;
 border: 1px solid #93278F;
 display: none;
}

#link_box .close-button {
  background-color: #93278F;
  padding: 0;
  margin-left: 15px;
}

a.link_to_this {
 display: inline-block;
 width: 20px;
 letter-spacing: -1000em;
 overflow: hidden;
 background: url(/images/link-icon.png) no-repeat;
}

/*---------- From tweaks ----------*/
#to_public_body {
  display: block;
  margin-bottom: 15px;
}

.fieldWithErrors {
  background: none;
  border: solid 0px #FFF;
}

.fieldWithErrors textarea,
.fieldWithErrors input {
  border: solid 1px Red !important;
}

.errorExplanation {
  border-radius: 6px;
  -moz-border-radius: 6px;
  font-size: 12px;
  font-weight: normal;
  width: 554px;
  margin: 20px 0px 30px 0px;
}

#notice, .describe_state_form {
  font-size: 12px;
  font-weight: normal;
  padding: 10px 20px 10px 20px;
  background: #E9FDD3 !important;
  color: #517704;
  border-color: #B0CA86;
  border-radius: 6px;
  -moz-border-radius: 6px;
  margin: 15px 0px;
}

.describe_state_form hr {
  border-color: #B0CA86;
  border-top: 0px;
  border-style: dotted;
  margin: 20px 0px;
}

.describe_state_form {
  color: #333;
}

#notice p:first-child {
  margin-top: 0px;
}

#notice p:last-child {
  margin-bottom: 0px;
}

div.correspondence p.preview_subject {
  font-family: 'DeliciousRoman';
  font-size: 18px !important;
  margin-left: 10px;
  color: #6B3C7F;
  line-height: 25px;
}

div.correspondence p.preview_subject strong {
  color: #6B3C7F;
}

#preview_form ul {
  margin: 0px;
  padding: 1px 32px 10px;
}

#preview_form ul li {
  margin: 10px 0px;
}