<div class="marketing__section">
  <div class="marketing__hero">
    <h1>WhatDoTheyKnow<sup>Pro</sup> is a powerful, fully-featured <strong class="marketing-highlight">FOI toolkit</strong> for journalists</h1>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>WhatDoTheyKnow</h2>
    <p>Request information in public with WhatDoTheyKnow</p>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>Up-to-date database of contact details for 20,000 authorities</li>
        <li>A <strong class="marketing-highlight">searchable archive</strong> of Freedom of Information requests</li>
        <li>Ensure your messages are sent and recieved with <strong class="marketing-highlight">delivery verification</strong></li>
        <li>A permanent, searchable, <strong class="marketing-highlight">public archive</strong class="marketing-highlight"> of your request and the responses</li>
        <li>Streamlined process for requesting internal reviews</li>
      </ul>
      <a href="#" class="button">Sign up for free</a>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>WhatDoTheyKnow<sup>Pro</sup></h2>
    <p>Built by journalists, for journalists</p>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <ul class="marketing__section__feature-list">
        <li>All the features of WhatDoTheyKnow</li>
        <li>Unlimited <strong class="marketing-highlight">private requests</strong>, so you can break the story when you’re ready.</li>
        <li>A powerful <strong class="marketing-highlight">private dashboard</strong> for tracking and managing your FOI projects.</li>
        <li>A super-smart <strong class="marketing-highlight">to-do list</strong> to help you stay on top of your requests</li>
      </ul>
      <label class="houdini-label input-beta-button button" for="input-beta">Get access to the beta</label>
      <input class="houdini-input" type="checkbox" id="input-beta">
      <form class="houdini-target form beta-signup-form">
        <div>
          <label for="email">Email address</label>
          <input name="email" id="email" type="email"></input>
        </div>
        <div>
          <label for="why">Why do you want access?</label>
          <textarea name="why" id="why" rows="10" cols="50"></textarea>
        </div>
        <div>
          <label for="why">Are you interested free training, seminars and workshops?</label>
          <div class="inline-elements">
            <label for="training-emails-yes" class="inline-element"><input type="radio" name="training-emails" id="training-emails-yes" />Yes</label>
            <label for="training-emails-no" class="inline-element"><input type="radio" name="training-emails" id="training-emails-no" />No</label>
          </div>
        </div>
        <div>
          <label for="why">Get email updates about WhatDoTheyKnow Pro?</label>
          <div class="inline-elements">
            <label for="marketing-emails-yes" class="inline-element"><input type="radio" name="marketing-emails" id="marketing-emails-yes" />Yes</label>
            <label for="marketing-emails-no" class="inline-element"><input type="radio" name="marketing-emails" id="marketing-emails-no" />No</label>
          </div>
        </div>
        <input type="submit" value="Send your request" />
      </form>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>Coming soon</h2>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items">
      <h3>Batch requests</h3>
      <p>Making a request to multiple authorities can be time consuming and difficult to manage. We’re working on making it easy to not only send batch requests, but also manage the responses you get. Get regular updates on the responses coming in without overwhelming your inbox!
      </p>
      <div class="side-by-side-elements">
        <div class="side-by-side-element">
          <img src="http://placehold.it/600x400" />
        </div>
        <div class="side-by-side-element">
          <img src="http://placehold.it/600x400" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2>More information</h2>
  </div>
  <div class="marketing__section__content">
    <div class="marketing__section__content-items marketing__section__more-info">
      <p><a href="#">Frequently asked questions</a></p>
      <h3>Contact us</h3>
      <ul class="unstyled-list">
        <li><a href="mailto:email@mysociety.org">email@mysociety.org</a></li>
        <li><a href="https://twitter.com/mysociety">@mysociety</a></li>
        <li><a href="">Alaveteli Slack</a></li>
      </ul>
    </div>
  </div>
</div>
