<% added = body_ids_added.include? result[:model][:id] %>
<li class="batch-authority-search__results__list__item
          <%= ' batch-authority-search__results__list__item--added' if added %>">
  <%= result[:model][:name] %>
  <div class="batch-authority-search__results__list__item__action">
    <span class="batch-authority-search__results__list__item__action__added">
      <%= _('[Added]') %>
    </span>
    <div class="batch-authority-search__results__list__item__action__add">
      <%= render partial: 'add_authority_to_draft_button',
                 locals: { draft: draft,
                           query: query,
                           authority_id: result[:model][:id] } %>
    </div>
  </div>
</li>
