<% if search.present? && search.results.present? %>
  <ul class="batch-authority-search__results__list js-batch-authority-search-results-list">
    <%= render partial: 'alaveteli_pro/batch_request_authority_searches/search_result',
               collection: search.results,
               as: :result,
               locals: { draft: draft_batch_request,
                         query: query,
                         body_ids_added: body_ids_added } %>
  </ul>

  <%= will_paginate WillPaginate::Collection.new(page, per_page, result_limit) %>

<% elsif query && search.blank? %>
  <p><%= _('Sorry, no authorities matched that search') %></p>
<% end %>
