$body_font_family: "Helvetica Neue", Arial, Helvetica, Helmet, Freesans, sans-serif;
$content_width: 480;
$button_background_color: #d6eeff;
$byline_color: #666;
$logo_width: 275;
$logo_height: 44;
$blockquote_font_style: italic;
$hr_border: 1px solid #ddd;
$highlight_background_color: #ffffcc;
$highlight_font_weight: bold;
