<p>
  <% search_user_link =
    link_to(@display_user.name, search_users_path(@display_user.name)) %>

  <%= _('There is <strong>more than one person</strong> who uses this site ' \
        'and has this name. Search for other users named ' \
        '"{{search_user_link}}"', search_user_link: search_user_link) %>
</p>
