<div class="how-it-works__item">
  <h3>Dashboard</h3>

  <p>Time is precious in newsrooms, so your dashboard just presents the information you need to know: which requests have received responses; which haven’t and need chasing up; and which require input from you. Search, filter or sort by status, to quickly find the request you’re looking for.</p>
</div>
