<div class="how-it-works__item">
  <h3>Embargoes</h3>

  <p>Pro gives you all of the ease of WhatDoTheyKnow, without the worry of others snatching your scoop before it’s ready.</p>
  <p>With the Embargo feature, you can choose to keep your requests private on the site for up to a year, not visible to anyone but you. We’ll make sure you know when that time’s about to run out, and you can extend it further if your story’s not published yet.</p>
</div>
