<div class="how-it-works__item">
  <h3><%= _('Ready to go public') %></h3>

  <p>
    <%= _('Once your story’s been published, there’s every reason to put ' \
          'your requests and responses into the public domain. They’ll lend ' \
          'credence to your investigation, and make the data available for ' \
          'others who might want to research a different angle.') %>
  </p>
</div>
