<% if draft && draft.public_bodies.present? %>
  <ul class="batch-builder__authority-list">
  <% draft.public_bodies.each do |authority| %>
    <li class="batch-builder__authority-list__authority">
      <span class="batch-builder__authority-list__authority__name">
        <%= authority.name %>
      </span>
      <%= render partial: 'alaveteli_pro/batch_request_authority_searches/remove_authority_from_draft_button',
                 locals: { draft: draft,
                           query: query,
                           authority_id: authority.id } %>
    </li>
  <% end %>
  </ul>
<% else %>
  <div class="blank-slate"><%= _("You haven't added any authorities to your batch yet") %></div>
<% end %>
