<% if draft && draft.public_bodies.present? %>
  <ul class="draft-batch-request__bodies js-draft-batch-request-bodies">
  <% draft.public_bodies.each do |authority| %>
    <li class="draft-batch-request__bodies__body js-draft-batch-request-body">
      <%= authority.name %>
      <%= render partial: 'alaveteli_pro/batch_request_authority_searches/remove_authority_from_draft_button',
                 locals: { draft: draft,
                           query: query,
                           authority_id: authority.id } %>
    </li>
  <% end %>
  </ul>
<% else %>
  <p><%= _("You haven't added any authorities to your batch yet") %></p>
<% end %>
