Dear <%= @info_request.public_body.name %>,

<%= @outgoing_message.body %>

-- 

Sent using GovernmentSpy, a project of UKCOD, registered charity number
1076346.  If this is not the correct address for Freedom of Information
requests, please let us know by contacting team@governmentspy and we'll make
sure future ones go to the right place.
