Please let us know whether there was information in the recent
response to your <%= @info_request.law_used_full %> request. To do this,
click on the link below and then select the appropriate check box.

<%=@url%>

Thanks very much - this will help others find useful stuff. We'll
also, if you need it, give advice on what to do next about your
request.

-- the WhatDoTheyKnow team


