To let us know, follow this link and then select the appropriate box.

<%=@url%>

Your request was called '<%= @info_request.title %>'. Letting everyone know
whether you got the information will help us keep tabs on 
<%= @info_request.public_body.name %>.

-- the WhatDoTheyKnow team


