You have a new response to the FOI request '<%= @info_request.title %>' 
that you made to <%= @info_request.public_body.name %>. 

To view the response, click on the link below.

<%=@url%>

When you get there, let us know if the response contains any useful
information.

-- the GovernmentSpy.com team


