Someone has updated the status of the <%= @info_request.law_used_full %> request 
'<%= @info_request.title %>' that you made to 
<%= @info_request.public_body.name %>. Follow this link to see the request. 

<%= @url %>

-- the WhatDoTheyKnow team
