<%= @info_request.public_body.name %> are late. 

They have not replied to your FOI request '<%= @info_request.title %>' within
the 20 working days they are allowed by law.

Click on the link below to send a message to <%= @info_request.public_body.name
%> reminding them to reply to your request.

<%=@url%>

-- the foi.mysociety.org team


