A user has reported an FOI response as being unusual, or out of the scope of
the system. Take a look, and contact the user to let them know what you are
going to do about it.

Request '<%=@info_request.title%>':
<%= @url %>

Administration URL: 
<%= @admin_url %>
