---------------------------------------------------------------------
<%=@info_request.user.name%> <%= _('has reported an')%> <%=@info_request.law_used_short%>
<%= _('response as needing administrator attention. Take a look, and reply to this
email to let them know what you are going to do about it.')%>

Request '<%=@info_request.title%>':
<%= @url %>

<%= _('Administration URL:') %> 
<%= @admin_url %>
---------------------------------------------------------------------
