<div class="category-list-item" <% if heading %> data-id="categories_<%= category.id %>"<% end %>>
    <%= link_to(category.title, admin_category_edit_path(category), :title => "view full details") %>
</div>


