# Site-specific deployment configuration lives in this file
production:
  repository: git://github.com/mysociety/alaveteli.git
  branch: master
  server: www.example.com
  user: deploy
  rails_env: production
  deploy_to: /srv/www/alaveteli_production
  daemon_name: alaveteli
staging:
  repository: git://github.com/mysociety/alaveteli.git
  branch: develop
  server: test.example.com
  user: deploy
  rails_env: production
  deploy_to: /srv/www/alaveteli_staging
  daemon_name: alaveteli_staging
