#! /bin/sh
#
### BEGIN INIT INFO
# Provides:          application-thin-<%= site %>
# Required-Start:    $local_fs $network
# Required-Stop:     $local_fs $network
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Starts the Thin app server for the "<%= site %>" site
# Description:       The Thin app server for the "<%= site %>" site
### END INIT INFO

# This example sysvinit script is based on the helpful example here:
# http://richard.wallman.org.uk/2010/02/howto-deploy-a-catalyst-application-using-fastcgi-and-nginx/

PATH=/usr/local/bin:/usr/bin:/bin
NAME=<%= site %>
SITE_HOME=<%= vhost_dir %>/<%= vcspath %>
DESC="Alaveteli app server"
USER=<%= user %>
CPUS=<%= cpus %>
# Set RAILS_ENV - not needed if using config/rails_env.rb
# RAILS_ENV=<%= rails_env %>
# export RAILS_ENV

CMD="bundle exec thin"

<% if use_rbenv? %>
RBENV_ROOT="/home/<%= user %>/.rbenv"
PATH="$RBENV_ROOT/bin:$RBENV_ROOT/shims:$PATH"
CMD="cd <%= vhost_dir %>/<%= vcspath %>; rbenv rehash; rbenv local <%= ruby_version %>; $CMD"
<% else %>
PATH="/home/<%= user %>/.gem/ruby/<%= ruby_version %>/bin:$PATH"
CMD="cd <%= vhost_dir %>/<%= vcspath %>; $CMD"
<% end %>

start_daemon() {
  echo -n "Starting $DESC: "
  su - $USER -c "$CMD \
    --environment=$RAILS_ENV \
    --user="$USER" \
    --group="$USER" \
    --address=127.0.0.1 \
    --daemonize \
    --servers="$CPUS" \
    --quiet \
    start || true"
  echo "$NAME."
}

stop_daemon() {
  echo -n "Stopping $DESC: "
  su - $USER -c "$CMD --quiet --servers="$CPUS" stop || true"
  echo "$NAME."
}

restart_daemon() {
  echo -n "Restarting $DESC: "
  su - $USER -c "$CMD --onebyone --quiet restart || true"
  echo "$NAME."
}

case "$1" in
  start)
    start_daemon
    ;;
  stop)
    stop_daemon
    ;;
  reload|restart|force-reload)
    restart_daemon
    ;;
  *)
    N=/etc/init.d/$NAME
    echo "Usage: $N {start|stop|reload|restart|force-reload}" >&2
    exit 1
    ;;
esac

exit 0
