<div id="notice">
  <p>
    <%= _("Your requests will be <strong>sent</strong> shortly!") %>
  </p>

  <p>
    <%= _("<strong>We will email you</strong> when they have been sent. " \
          "We will also email you when there is a response to any of them, or " \
          "after {{late_number_of_days}} working days if the authorities still" \
          "haven't replied by then.",
          :late_number_of_days => AlaveteliConfiguration::reply_late_after_days) %>
  </p>

  <p>
    <%= _("If you write about these requests (for example in a forum or a blog) " \
          "please link to this page.") %>
  </p>
</div>
