<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-evidence.png',
                alt: _('Add credibility')) %>

  <h3>Want to add weight to your campaign?</h3>

  <p>Once you’re ready, publishing the data behind your investigation lends it extra credibility.</p>
</div>
