<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-embargo.png',
                alt: _('Private FOI requests')) %>

  <h3>Need to keep things under wraps?</h3>

  <p>Requests can stay completely private until you’re ready to go public.</p>
</div>
