<%= @message.strip %>

---------------------------------------------------------------------
Message sent using contact form, <%= @request_details %>
---------------------------------------------------------------------
