---------------------------------------------------------------------
<%= _('{{user_name}} has used {{site_name}} to send you the message below.', :user_name=>@from_user.name, :site_name=>site_name) %>
<%= _('Your details have not been given to anyone, unless you choose to reply to this
message, which will then go directly to the person who wrote the message.')%>
---------------------------------------------------------------------

<%= @message.strip %>

---------------------------------------------------------------------
<%= _('View Freedom of Information requests made by {{user_name}}:', :user_name=>@from_user.name)%> 
<%= @from_user_url %>
---------------------------------------------------------------------
