---------------------------------------------------------------------
<%=@from_user.name%> has used WhatDoTheyKnow to send you the message below.
Your details have not been given to anyone, unless you choose to reply to this
message, which will then go directly to the person who wrote the message.
---------------------------------------------------------------------

<%= @message.strip %>

---------------------------------------------------------------------
View Freedom of Information requests made by <%=@from_user.name %>: 
<%= @from_user_url %>
---------------------------------------------------------------------
