<% if defined?(sort_options) && sort_options %>
  <div class="btn-group sort-options">
    <% sort_options.keys.each do |sort_option| %>
      <%=
        link_to_unless(sort_order == sort_option, sort_order_humanized(sort_option), url_for(sort_order: sort_option, query: @query), class: 'btn') do
          link_to sort_order_humanized(sort_option), '#', class: 'btn disabled'
        end
       %>
    <% end %>
  </div>
<% end %>
