<% @title = 'Edit censor rule' %>

<h1><%=@title%></h1>

<% form_tag admin_rule_update_path(@censor_rule) do %>
   <%= render :partial => 'form', :locals => { :info_request => @censor_rule.info_request, :user => @censor_rule.user } %>
  <p><%= submit_tag 'Save', :accesskey => 's' %></p>
<% end %>

<% form_tag admin_rule_destroy_path(@censor_rule) do %>
   <p>
   <%= hidden_field_tag(:censor_rule_id, @censor_rule.id) %>
   Permanent! --&gt; <%= submit_tag "Destroy rule" %>
   </p>
<% end %>

