<div class="marketing__section">
  <div class="marketing__section__heading">
    <h2><%= _('Got questions?') %></h2>
  </div>

  <div class="marketing__section__content">
    <div class="marketing__section__content-items marketing__section__more-info">
      <h3><%= _('Get in touch') %></h3>

      <ul class="unstyled-list">
        <li>
          <%= mail_to AlaveteliConfiguration.pro_contact_email %>
        </li>
      </ul>
    </div>
  </div>
</div>
