<% if @highlight_words.nil? 
      @highlight_words = []
end %>
<div class="user_listing">
	<span class="head">
    <%= link_to highlight_words(display_user.name, @highlight_words), user_url(display_user) %>
    </span>

    <span class="bottomline">
        <%= pluralize(display_user.info_requests.size, "request") %> made.
        <%= pluralize(display_user.visible_comments.size, "annotation") %> made.
        Joined on <%= simple_date(display_user.created_at) %>.
    </span>

</div>
