<h1>
Please check the URL (i.e. the long code of letters and numbers) is copied
correctly from your email.  
</h1>

<p>
If you can't click on it in the email, you'll have to select and copy it from
the email.  Then paste it into your browser, into the place you would type the
address of any other webpage.
</p>

<p>
If you got the email more than six months ago, then this login link won't work any
more. Please try doing what you were doing from the beginning.
</p>


