<h1>
<%= _('Please check the URL (i.e. the long code of letters and numbers) is copied
correctly from your email.')%>  
</h1>

<p>
<%= _('If you can\'t click on it in the email, you\'ll have to <strong>select and copy
it</strong> from the email.  Then <strong>paste it into your browser</strong>, into the place
you would type the address of any other webpage.')%>
</p>

<p>
<%= _('If you got the email <strong>more than six months ago</strong>, then this login link won\'t work any
more. Please try doing what you were doing from the beginning.')%>
</p>


