<% @title = "Banned from this site" %>

<h1><%=@title%></h1>

<p>
<%=@details%>
</p>

<p>You will be unable to make new requests, send follow ups, add annotations or
send messages to other users. You may continue to view other requests, and set
up
email alerts.</p>

<p>
If you would like us to lift this ban, then you may politely
<a href="/help/contact">contact us</a> giving reasons.
</p>


