<% @title = _("Now check your email!") %>

<h1 class="confirmation_heading"><%= _("Now check your email!") %></h1>

<p class="confirmation_message">
<%= _('We\'ve sent you an email, and you\'ll need to click the link in it before you can
continue.') %>
</p>

<p class="confirmation_message">
  <small>
    <%= _('If you use web-based email or have "junk mail" filters, also ' \
          'check your bulk/spam mail folders. Sometimes, our messages are ' \
          'marked that way.') %>
  </small>
</p>
