<%= _("You're in. <a href=\"#\" id=\"send-request\">Continue sending your request</a>") %>

<script>    
    $("#send-request").click(function() {
        onSuccessfulLogin(); return false; 
    });
</script>