<% @title = "Sign in or make a new account" %>

<div id="sign_together">

<p id="sign_in_reason">
<%= @post_redirect.reason_params[:web] %>
</p>

<%= render :partial => 'signin' %>

<%= render :partial => 'signup' %>

</div>

