<% @title = h("WhatDoTheyKnow user survey") %>

<style type="text/css">
    td {border-bottom:1px gray dashed; padding-top:12px;padding-bottom:12px;}
    select {min-width:300px;}
</style>


<h1><%= @title %></h1>

<% if @user.nil? %>
    <p><strong>The survey is only available to logged-in users.</strong></p>
<% elsif AlaveteliConfiguration::survey_url.blank? %>
   <p>Sorry! The survey is currently unavailable, please check back later. </p>
<% elsif @user.survey.already_done? %>
    <p>Thank you for completing the survey.</p>
<% else %>
    <div id="disclaimer">
        We (ie. the people from mySociety, the independent non-profit who runs this site) hate to bother you with this but we really would like to know what you (dis)like about our site and whether it is used by a representative share of the population (we would not want to only serve one particular group exclusively). We know we ask some personal stuff but be assured:
        <ul>
            <li>
                The questions from here on are  <strong>
                    completely anonymous
                </strong>
                .
            </li>
            <li>
                This also means that we cannot connect your answers to whatever you do on our sites.
            </li>
            <li>
                Of course we would like you to answer all questions but you don’t have to if you feel it’s none of our business.
            </li>
            <li>
                These are all the questions.  <strong>
                    We won't ask more.
                </strong>
                 So it should take only 5 minutes.
            </li>
        </ul>
        <p>Your feedback will help us <strong>make the site better</strong> and help us tell more people about it.</p>
    </div>
    <hr />

    <% survey_form(@user.survey) do %>
        <table>
            <colgroup>
                <col id="col_label" />
                <col id="col_formelelemt" />
            </colgroup>
            <tr>
                <td class="us_label"><div class="us_label">
                How did you find out about this site?
                </div></td>
                <td class="us_formelement"><label>
                    <input type="radio" name="referrer" value="1" />from another mySociety site
                </label>
                <br>
                <label>
                <input type="radio" name="referrer" value="2" />from media such as newspapers, etc
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="3" />from a search engine (e.g. Google or Yahoo)
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="4" />recommendation by friends or colleagues
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="5" />from a campaigning website
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="9" />other </label><label><input type="text" name="referrer_other" value="please specify" size="50" maxlength="500" onclick="this.form.referrer[6].checked = true;if (this.value=='please specify') this.value=''" id="id_referrer_other" />
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="98" />can't remember
            </label>
            <br> <label>
                <input type="radio" name="referrer" value="95" />don’t want to answer
            </label>
            <br></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                How likely is it that you would recommend this site to a friend or colleague? (assuming they would be interested in such a service)
            </div></td>
                <td class="us_formelement">
                <select name="netpromoter">
                <option selected="selected" value="please select what applies to you">please select what applies to you</option>
                <option value="0">0 - not at all likely</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5 - neutral</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10 - extremely likely</option>
                <option value="95">don’t want to answer</option>
                </select><br>
                <br>
                <textarea name="netpromoter_reason"  rows="2" cols="50" onclick="if (this.value=='feel free to tell us why') this.value=''" id="id_netpromoter_reason">feel free to tell us why</textarea></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                What kind of authority did your request go to?
            </div></td>
                <td class="us_formelement"><select name="authority">
            <option selected="selected" value="please select">please select</option>
            <option value="1">Central Government</option>
            <option value="2">Local and regional</option>
            <option value="3">Education</option>
            <option value="4">Environment</option>
            <option value="5">Health</option>
            <option value="6">Media and Culture</option>
            <option value="7">Military and Security Services</option>
            <option value="8">Emergency services and the courts</option>
            <option value="9">Transport</option>
            <option value="97">other</option>
            <option value="95">don’t want to answer</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Which of these categories best describes to whom the information you have requested would be relevant?
            </div></td>
                <td class="us_formelement"><select name="messageconcern">
            <option selected="selected" value="please select">please select</option>
            <option value="1">only yourself or your family</option>
            <option value="2">only other people, but not yourself or your family</option>
            <option value="3">yourself or your family, as well as others like you</option>
            <option value="4">all people in the community</option>
            <option value="5">all people in the nation or all people in the world</option>
            <option value="94">don’t know</option>
            <option value="95">don’t want to answer</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label">
            <div class="us_label">
            Did you get a reply from the authority you have contacted? <small>(this means a substantive reply, not just a note acknowledging your request)</small></div>
            </td>
                <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="response" value="1"  id="id_response_yes">yes
            </label>
            </td><td><label>
                <input type="radio" name="response" value="0"  id="id_response_no">no
            </label>
            </td><td><label>
                <input type="radio" name="response" value="95"  id="id_response_NA">don’t want to answer
            </label>
            </td></tr></table></td>
            </tr>
            <tr id="id_satisfaction_line"><td class="us_label"><div class="us_label">
                If you received a substantive response from the public authority: Were you satisfied with it?
            </div></td>
            <td class="us_formelement">
            <table><tr><td><label>
                <input type="radio" name="satisfaction" value="1"  id="id_satisfaction_yes">yes
            </label>
            </td><td><label>
                <input type="radio" name="satisfaction" value="0"  id="id_satisfaction_no">no
            </label>
            </td><td><label>
                <input type="radio" name="satisfaction" value="98"  id="id_satisfaction_noresponse">did not receive a response
            </label>
            </td><td><label>
                <input type="radio" name="satisfaction" value="95"  id="id_satisfaction_NA">don’t want to answer
            </label>
            </td></tr></table><textarea name="satisfaction_reason"  rows="2" cols="50" onclick="if (this.value=='feel free to tell us why') this.value=''" id="id_satisfaction_reason">feel free to tell us why</textarea></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                If you received a substantive response: Have you taken any action as a result of the information released?
            </div></td>
                <td class="us_formelement">
                <table><tr><td><label>
                <input type="radio" name="followupaction" value="1"  id="id_followupaction_yes">yes
            </label>
            </td><td><label>
                <input type="radio" name="followupaction" value="0"  id="id_followupaction_no">no
            </label>
            </td><td><label>
                <input type="radio" name="followupaction" value="98"  id="id_followupaction_noresponse">did not receive a response
            </label>
            </td><td><label>
                <input type="radio" name="followupaction" value="95"  id="id_followupaction_NA">don’t want to answer
            </label>
            </td></tr></table><textarea name="followupaction_reason"  rows="2" cols="50" onclick="if (this.value=='feel free to tell us what you did') this.value=''" id="id_followupaction_reason">feel free to tell us what you did</textarea></td>
            </tr>
            <tr id="id_dialogue_line"><td class="us_label"><div class="us_label">
                Will you get in touch again with the public authority to which you sent your request?
            </div></td>
            <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="dialogue" value="1"  id="id_dialogue_yes">yes
            </label>
            </td><td><label>
                <input type="radio" name="dialogue" value="0"  id="id_dialogue_no">no
            </label>
            </td><td><label>
                <input type="radio" name="dialogue" value="95"  id="id_dialogue_NA">don’t want to answer
            </label>
            </td></tr></table></td>
            </tr>
            <tr id="id_previouscontact_line"><td class="us_label"><div class="us_label">
                Before you used this site, have you ever made a Freedom of Information request at all - and if so, how did you do it?
            </div></td>
            <td class="us_formelement"><label>
                <input type="radio" name="previouscontact" value="0"  id="id_previouscontact_no">never made a request before I used this site
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="1"  id="id_previouscontact_offline">made request(s) before using offline means <small>(e.g. letter)</small>
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="2"  id="id_previouscontact_online">made request(s) before using the Internet <small>(e.g. email)</small>
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="3"  id="id_previouscontact_both">made request(s) before using both online and offline means
            </label>
            <br> <label>
                <input type="radio" name="previouscontact" value="95"  id="id_previouscontact_NA">don’t want to answer
            </label>
            <br></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                How much do you agree with the following statements?
            </div></td>
                <td class="us_formelement"><table style="text-align:center;table-layout:fixed">
                    <tr>
                        <th style="text-align:left;">
                            statement
                        </th>
                        <th style="width:10%">
                            strongly disagree
                        </th>
                        <th style="width:10%">
                            disagree
                        </th>
                        <th style="width:10%">
                            agree
                        </th>
                        <th style="width:10%">
                            strongly agree
                        </th>
                        <th style="width:10%">
                            don’t want to answer
                        </th>
                    </tr>
                    <tr>
                        <td style="text-align:left;">WhatDoTheyKnow is easy to navigate</td>
                        <td><input type="radio" name="opinion_navigation" value="0"></td>
                        <td><input type="radio" name="opinion_navigation" value="1"></td>
                        <td><input type="radio" name="opinion_navigation" value="2"></td>
                        <td><input type="radio" name="opinion_navigation" value="3"></td>
                        <td><input type="radio" name="opinion_navigation" value="99"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">WhatDoTheyKnow is well structured</td>
                        <td><input type="radio" name="opinion_structure" value="0"></td>
                        <td><input type="radio" name="opinion_structure" value="1"></td>
                        <td><input type="radio" name="opinion_structure" value="2"></td>
                        <td><input type="radio" name="opinion_structure" value="3"></td>
                        <td><input type="radio" name="opinion_structure" value="99"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">WhatDoTheyKnow provides information in an unbiased and unpartisan way</td>
                        <td><input type="radio" name="opinion_objectivity" value="0"></td>
                        <td><input type="radio" name="opinion_objectivity" value="1"></td>
                        <td><input type="radio" name="opinion_objectivity" value="2"></td>
                        <td><input type="radio" name="opinion_objectivity" value="3"></td>
                        <td><input type="radio" name="opinion_objectivity" value="99"></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;">WhatDoTheyKnow is pretty to look at</td>
                        <td><input type="radio" name="opinion_design" value="0"></td>
                        <td><input type="radio" name="opinion_design" value="1"></td>
                        <td><input type="radio" name="opinion_design" value="2"></td>
                        <td><input type="radio" name="opinion_design" value="3"></td>
                        <td><input type="radio" name="opinion_design" value="99"></td>
                    </tr>
                </table></td>
            </tr>
            <tr id="id_usefrequency_line"><td class="us_label"><div class="us_label">
                Within the last twelve months: How often have you used WhatDoTheyKnow.com to make a Freedom of Information request?
            </div></td>
            <td class="us_formelement"><select name="usefrequency">
            <option selected="selected" value="please select what applies to you">please select what applies to you</option>
            <option id="id_usefrequency_0" value="0">this is the first time in the last 12 months</option>
            <option id="id_usefrequency_1" value="1">about once within the last 12 months</option>
            <option id="id_usefrequency_5" value="2">2 - 5 times within the last 12 months</option>
            <option id="id_usefrequency_9" value="3">6 - 10 times within the last 12 months</option>
            <option id="id_usefrequency_10" value="4">more than 10 times within the last 12 months</option>
            <option id="id_usefrequency_NA" value="95">don’t want to answer</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Are you a registered user of WhatDoTheyKnow?
            </div></td>
                <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="registration" value="1"  id="id_registration_yes">yes
            </label>
            </td><td><label>
                <input type="radio" name="registration" value="0"  id="id_registration_no">no
            </label>
            </td><td><label>
                <input type="radio" name="registration" value="95"  id="id_registration_NA">don’t want to answer
            </label>
            </td></tr></table></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                How would you rate your ability to use the Internet?
            </div></td>
                <td class="us_formelement"><select name="internetability">
            <option selected="selected" value="please select">please select</option>
            <option value="5">Excellent</option>
            <option value="4">Good</option>
            <option value="3">Fair</option>
            <option value="2">Poor</option>
            <option value="1">Bad</option>
            <option value="97">don’t know/can't say</option>
            <option value="95">don’t want to answer</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                In the last twelve months have you been involved with a political or a community group, e.g. by being a formal member or by volunteering?
            </div></td>
                <td class="us_formelement">
                    <label>
                        <input type="radio" name="groups" value="2"  id="id_groups_yes_political">a political group <small>(e.g. a party, an union, a civic organisation e.g. for human rights)</small>
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="1"  id="id_groups_yes_community">a community group <small>(e.g.a charity, an initiative, a church, a sports club, a volunteer organisation)</small>
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="3"  id="id_groups_yes_both">both community as well as political group(s)
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="0"  id="id_groups_no">none of the above
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="groups" value="95"  id="id_groups_NA">don’t want to answer
                    </label>
                    <br>
                </td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Apart from your use of this website: Within the last twelve months have you taken part in any broadly political activity? <br>
                <small>
                    (This includes for example demonstrations, signing a petition, contacting a politician, boycotting a product, donating money or displaying a campaign badge)
                </small>
            </div></td>
                <td class="us_formelement"><label>
                <input type="radio" name="activity" value="2"  id="id_activity_yes_online">yes, online
            </label>
            <br> <label>
                <input type="radio" name="activity" value="1"  id="id_activity_yes_offline">yes, offline
            </label>
            <br> <label>
                <input type="radio" name="activity" value="3"  id="id_activity_yes_both">yes both online as well as offline
            </label>
            <br> <label>
                <input type="radio" name="activity" value="0"  id="id_community_no">none of the above
            </label>
            <br> <label>
                <input type="radio" name="activity" value="95"  id="id_community_NA">don’t want to answer
            </label>
            <br></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                How old are you?
            </div></td>
                <td class="us_formelement"><select name="age">
            <option selected="selected" value="please select what applies to you">please select what applies to you</option>
            <option value="1">less than 18 years old</option>
            <option value="2">18-24 years old</option>
            <option value="3">25-34 years old</option>
            <option value="5">35-44 years old</option>
            <option value="7">45-54 years old</option>
            <option value="9">55-64 years old</option>
            <option value="11">65-74 years old</option>
            <option value="13">75 years and older</option>
            <option value="95">don’t want to answer</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Could you please indicate your gender?
            </div></td>
                <td class="us_formelement"><table><tr><td><label>
                <input type="radio" name="gender" value="1"  id="id_gender_female">female
            </label>
            </td><td><label>
                <input type="radio" name="gender" value="0"  id="id_gender_male">male
            </label>
            </td><td><label>
                <input type="radio" name="gender" value="95"  id="id_gender_NA">don’t want to answer
            </label>
            </td></tr></table></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                What is the last type of educational institution (e.g. school, college or university) that you have attended or which type of educational institution are you attending now?
            </div></td>
                <td class="us_formelement"><select name="education_any">
            <option selected="selected" value="please select what applies to you">please select what applies to you</option>
            <option value="0">Primary school or equivalent</option>
            <option value="1">Secondary school or equivalent</option>
            <option value="2">Special school or equivalent</option>
            <option value="3">Sixth form college or equivalent</option>
            <option value="4">Technical college or equivalent</option>
            <option value="5">Further Education College</option>
            <option value="6">Adult Community College</option>
            <option value="7">University or equivalent</option>
            <option value="9">other</option>
            <option value="95">don’t want to answer</option>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                Which of these descriptions best describes your current situation?
            </div></td>
                <td class="us_formelement">
                    <select name="lifestage">
                        <option selected="selected" value="please select what applies to you">please select what applies to you</option>
                        <option value="1">working full time (30 hours a week or more)</option>
                        <option value="2">working part time (8-29 hours a week)</option>
                        <option value="3">retired</option>
                        <option value="4">unemployed</option>
                        <option value="5">permanently sick or disabled</option>
                        <option value="6">in community or military service</option>
                        <option value="7">undergraduate student</option>
                        <option value="8">postgraduate student</option>
                        <option value="9">in full time education (not degree or higher)</option>
                        <option value="10">in part time education (not degree or higher)</option>
                        <option value="11">doing housework, looking after children or other persons</option>
                        <option value="98">none of the above</option>
                        <option value="95">don’t want to answer</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                The incomes of households differ a lot in Britain today.
                                  Which figures best represents the total income of your household before tax?
            </div></td>
                <td>
                    <select name="income">
                        <option selected="selected" value="please select what applies to you">please select what applies to you</option>
                        <option value="1">up to    &pound;12,500 per year</option>
                        <option value="2">&pound;12,501 to &pound;25,000 per year</option>
                        <option value="3">&pound;25,001 to &pound;40,000 per year</option>
                        <option value="4">&pound;40,001 to &pound;50,000 per year</option>
                        <option value="5">&pound;50,001 to &pound;60,000 per year</option>
                        <option value="6">&pound;60,001 to &pound;100,000 per year</option>
                        <option value="7">more than &pound;100,000 per year</option>
                        <option value="95">don’t want to answer</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="us_label">
                    <div class="us_label">
                        To which one of these ethnic groups do you consider you belong?
                    </div>
                </td>
                <td class="us_formelement"><select name="ethnicity">
                    <option selected="selected" value="please select what applies to you">please select what applies to you</option>
                    <optgroup label="A White">
                        <option value="1">British</option>
                        <option value="21">English</option>
                        <option value="22">Welsh</option>
                        <option value="23">Scottish</option>
                        <option value="2">Irish</option>
                        <option value="3">Other white</option>
                    </optgroup>
                    <optgroup label="B Mixed">
                        <option value="4">White and Black Caribbean</option>
                        <option value="5">White and Black African</option>
                        <option value="6">White and Asian</option>
                        <option value="7">Other Mixed</option>
                    </optgroup>
                    <optgroup label="C Asian or Asian British">
                        <option value="8">Indian</option>
                        <option value="9">Pakistani</option>
                        <option value="10">Bangladeshi</option>
                        <option value="11">Other Asian</option>
                    </optgroup>
                    <optgroup label="D Black or Black British">
                        <option value="12">Caribbean</option>
                        <option value="13">African</option>
                        <option value="14">Other Black</option>
                    </optgroup>
                    <optgroup label="E Chinese">
                        <option value="15">Chinese</option>
                    </optgroup>
                    <optgroup label="F other ethnic group">
                        <option value="16">any other ethnic group</option>
                    </optgroup>
                    <optgroup label="----">
                        <option value="97">don’t know</option>
                        <option value="95">don’t want to answer</option>
                    </optgroup>
            </select></td>
            </tr>
            <tr>
                <td class="us_label"><div class="us_label">
                    Do you have a health problem or disability which prevents you from doing every
                    day tasks at home, work or school or which limits the kind or amount of work you can do?
                </div></td>
                <td class="us_formelement">
                    <table>
                        <tr>
                            <td>
                                <label>
                                    <input type="radio" name="disability" value="1"  id="id_disability_yes">yes
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="radio" name="disability" value="0"  id="id_disability_no">no
                                </label>
                            </td>
                            <td>
                                <label>
                                    <input type="radio" name="disability" value="95"  id="id_disability_NA">don’t want to answer
                                </label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="us_label">
                    <div class="us_label">
                        Do you have any other comments (e.g. on the survey, on your usage, etc)?
                    </div>
                </td>
                <td class="us_formelement"><textarea name="survey_comment"  rows="5" cols="50" id="id_survey_comment"></textarea></td>
            </tr>
        </table>
        <p>
            (Thank you very much! And we promise, that was the <strong>last question</strong>!)
        </p>
    <% end %>
<% end %>
