<p id="sign_in_reason">
<%= @reason_params[:web] %>. <%= _('Unfortunately we don\'t know the FOI
email address for that authority, so we can\'t validate this.
Please <a href="{{url}}">contact us</a> to sort it out.', :url => help_contact_path.html_safe) %>
</p>
