<% @title = _('Attachment processing...') %>
<h1><%= @title %></h1>

<p>
  <%= _('We don\'t have this attachment in our cache at present, we are now ' \
        'processing your request and this page will reload once the ' \
        'attachment is available.') %>
</p>

<% content_for :javascript_head do %>
  <meta http-equiv="refresh" content="2">
<% end%>
