<div class="form_input">
  <%= f.label :title, class: 'form_label' %>
  <%= f.text_field :title %>
</div>

<div class="form_input">
  <%= f.label :briefing, class: 'form_label' %>
  <%= f.rich_text_area :briefing %>
</div>
