<%= form_for @project, html: { id: 'temp' } do |f| %>
  <div id="project-key-set">
    <%= turbo_stream.update 'project-key-set', partial: 'key_set', locals: { form: f } %>
  </div>
<% end %>

<%= turbo_stream.remove 'temp' %>
