<%= f.error_messages %>

<% f.translated_fields do |t| %>
  <%= render partial: 'locale_fields', locals: { t: t } %>
<% end %>

<h3>Common Fields</h3>

<div class="control-group">
  <%= f.label :tags, class: 'control-label' %>

  <div class="controls">
    <%= f.text_field :tag_string, class: 'span4' %>
  </div>
</div>

