<ul>
    <li><%= _('Check you haven\'t included any <strong>personal information</strong>.') %></li>
    <li><%= _('Your message will be displayed publicly on this website once you publish your request.') %></li>
</ul>
