<div class="control-group">
  <%= t.label :title, class: 'control-label' %>
  <div class="controls">
    <%= t.text_field :title, class: "span4" %>
  </div>
</div>

<div class="control-group">
  <%= t.label :description, class: 'control-label' %>
  <div class="controls">
    <%= t.text_field :description, class: "span4" %>
  </div>
</div>
