<div class="category-list-item" <% if heading %> data-id="categories_<%= category.id %>"<% end %>>
  <%= link_to(category.title, edit_admin_category_path(category), :title => "view full details") %>
</div>
