<div class="extract-right-column sidebar sidebar--sticky">
  <div class="extract-request-controls">
    <%= js_correspondence_navigation %>

    <%= render partial: 'form', locals: { project: project,
                                          info_request: info_request,
                                          value_set: value_set } %>

    <details>
      <summary>Debug: HUMAN</summary>
      <%= debug Project::Export::InfoRequest.new(@project, @info_request).send(:extracted_values)&.pluck(:value) %>
    </details>

    <details>
      <summary>Debug: AI</summary>
      <%= debug @insight&.output %>
    </details>

    <style>
      [id^="attachment-"]:target, [id^="incoming-"]:target {
        background-color: #ffc;
      }
    </style>

    <script type="text/javascript">
      function fillAIValue(index, value) {
        const element = document.getElementById(`extract_values_attributes_${index}_value`);
        if (element) {
          element.value = value;
          element.dispatchEvent(new Event('change', { bubbles: true }));
        }
      }

      function scrollToElement(selector) {
        var element = document.querySelector(selector);
        if (element) {
          var elementPosition = element.getBoundingClientRect().top + window.pageYOffset;
          window.scrollTo({
            top: elementPosition,
            behavior: 'smooth'
          });
        }
      }

      document.querySelectorAll('.extract-answer-form a[href^="#"]').forEach(function(anchor){
        anchor.addEventListener('click', function(e){
          e.preventDefault(); // prevent automatic URL update and scroll
          var href = anchor.getAttribute('href'); // get just the href, not the full link URL
          scrollToElement(href); // smooth scroll
          history.pushState(null, null, href); // update URL
        });
      });
    </script>
  </div>
</div>
