<div class="extract-right-column sidebar sidebar--sticky">
  <div class="extract-request-controls">
    <%= js_correspondence_navigation %>

    <%= render partial: 'form', locals: { project: project,
                                          info_request: info_request,
                                          value_set: value_set } %>
  </div>
</div>
