<div class="marketing__section">
  <div class="marketing__hero">
    <h1>
      <%= 'Campaigners' %>
    </h1>

    <h2>
      <%= _('You’re busy fixing the world. Let us take care of your FOI ' \
            'requests.') %>
    </h2>

    <h3>
      <%= _('{{pro_site_name}} does the hard work for you',
            pro_site_name: AlaveteliConfiguration.pro_site_name) %>
    </h3>

    <p class="marketing__subhead">
      <strong>
        <%= _('A  powerful, fully-featured toolset that solves problems for ' \
              'campaigners managing multiple requests or in-depth FOI ' \
              'investigations') %>
      </strong>
    </p>
  </div>
</div>
