<div class="batch-request__requests__request">
  <h4 class="batch-request__requests__request__recipient">
    <%= public_body.name %>
  </h4>
  <p class="batch-request__requests__request__phase">
    <span class="request__phase-summary-icon"></span>
    <%= _('Pending') %>
  </p>
</div>
