<div id="bodyInput" class="control-group">
  <%= t.label :body, class: 'control-label' %>
  <div class="controls">
    <%= t.text_area :body, class: 'input-block-level', rows: 10 %>
  </div>
</div>

<div id="richBodyInput" class="control-group">
  <%= t.label :rich_body, 'Body', class: 'control-label' %>
  <div class="controls">
    <%= t.rich_text_area :rich_body %>
  </div>
</div>
