<div class="row">
  <div class="span12">
    <div class="alert alert-warning">
      <h3>Warnings</h3>

      <p>
        The "Original" style is now deprecated and will be removed in future.
        Please transition notes to the new rich text style options.
      </p>
    </div>
  </div>
</div>
