<div class="marketing__feature">
  <%= image_tag('alaveteli-pro/pro-time.png',
                alt: _('Save time managing FOI requests')) %>

  <h3>Not enough hours in the day?</h3>

  <p>WhatDoTheyKnow Pro does all the heavy lifting, leaving you with more time to focus on your story.</p>
</div>
