<div class="control-group">
  <%= t.label :title, 'Title (optional)', class: 'control-label' %>
  <div class="controls">
    <%= t.text_field :title, class: 'span4' %>
  </div>
</div>

<div class="control-group">
  <%= t.label :content, class: 'control-label' %>
  <div class="controls">
    <%= t.text_area :content, class: 'span6', rows: 2 %>
  </div>
</div>
