<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>

<%= form_for [:admin, @announcement], class: 'form form-horizontal' do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <div class="form-actions">
    <%= submit_tag 'Create', class: 'btn btn-success' %>
  </div>
<% end %>
