<% value = f.object.values.find { |v| v.key.order == key.order } %>

<%= f.fields_for :values, value || Dataset::Value.new do |nested_form| %>
  <%= render partial: "projects/dataset/keys/#{key.format}_key",
             locals: { f: nested_form, key: key } %>
  <%= nested_form.hidden_field :dataset_key_id, value: key.to_param %>

  <% ai_value = 15 if key.format == 'numeric' %>
  <% if key.format == 'text'
       ai_value = <<~TXT
        - Climate Resilience Manager
        - Climate Emergency Officer
        - Flood Risk Manager
        - Energy Partnership Manager
        - Net Zero Carbon Manager
      TXT
  end %>
  <% ai_value = 'Yes' if key.format == 'boolean' %>

  <details style="margin-top: -0.8em; margin-bottom: 0.8em;">
    <summary style="cursor: pointer;">✨ AI insight</summary>
    <div style="background-color: #e7e4df; padding: 1em; margin-top: 0.25em; border-radius: 5px; line-height: 1.3;">
        <p>The answer is probably in <a href="#incoming-2209223">this message</a>.</p>
        <p>The answer <em>might</em> be:</p>
        <textarea style="margin-top: -0.5em; margin-bottom: 0; background: rgba(255,255,255,0.2);"><%= ai_value %></textarea>
    </div>
  </details>
<% end %>
