<%= _('Your follow up has not been sent because this ' \
      'request has been stopped to prevent spam. Please ' \
      '<a href="{{url}}">contact us</a> if you really want ' \
      'to send a follow up message.',
      :url => help_contact_path.html_safe) %>
