<!-- TODO: Translations -->

<!-- TODO: Check whether they came via wizard -->
<% if true %>
  <p>Here are some snippets that may help you <strong>challenge a refusal</strong>:</p>
<% else %>
  <p><strong>Challenging a refusal?</strong> Here are some snippets that may help:</p>
<% end %>

<div class="snippet-library">
  <div class="snippet-library__filters">
    <!-- TODO: Non-JavaScript fallback? -->
    <label for="snippet-relation">Snippets related to</label>
    <select id="snippet-relation">
      <!-- TODO: "Previous answers" only if sent by wizard -->
      <option>my previous answers</option>
      <option>any section</option>
      <!-- TODO: Actual list of sections -->
      <option>Section 12</option>
      <option>Section 14</option>
      <option>Section 16</option>
    </select>
  </div>
  <div class="snippet-library__snippets">
    <%= render @refusal_advice.snippets %>
  </div>
</div>
