<div class="row">
  <div class="span12 danger-zone">
    <h1 class="span12 danger-zone__header">Danger Zone</h1>

    <div class="danger-zone__item">
      <div class="span7">
        <p>
          <strong>Erase this Attachment</strong>
        </p>
      </div>

      <%= form_for @foi_attachment, url: admin_foi_attachment_erasures_path(@foi_attachment), method: :post, class: 'span4' do |f| %>
        <div class="input-append">
          <%= f.text_field :erasure_reason,
                           value: '',
                           placeholder: 'Reason for erasure',
                           required: true %>

          <%= f.submit 'Erase',
                       class: 'btn btn-danger',
                       data: { confirm: 'Are you sure? This is irreversible.' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
