/* As we're namespacing bootstrap to class admin, which is applied to the body
element in the admin interface (no id or class allowed on the HTML element
in HTML 4.01) and to the navbar also, so it can be styled with bootstrap
when showing for admin users on the front end, re-apply the bootstrap html
and body styles here.
*/
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body.admin {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: white;
}

/* When the admin stylesheet is loaded (and so the user is seeing the admin  navbar), pad the banner of the front end interface so that it isn't hidden, and move any special notice down too.
*/

.entirebody {
  padding-top: 42px;
}

.admin {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;

  @import "compass/css3";
  @import "bootstrap";

  #main {
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .form-inline {
    display: inline;
  }

  table .form {
    display: inline-block;
    margin: 0;
  }

  .accordion-group {
    border: none;
    div {
      clear: both;
    }
  }
  .accordion-heading {
    .btn {
      float: left;
      margin: 6px 15px;
    }
    .accordion-toggle {
      padding: 2px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  div.item-detail {
    div:nth-child(odd) span {
      background-color: #eee;
    }
  }

  span.label.tag {
    margin-right: 2px;
    a {
      color: white;
    }
  }

  .fieldWithErrors input{
    border: 1px solid #ff0c11;
  }

  body.admin blockquote p {
    font-size: 13px;
    display: inline;
  }

  div#user_locale_switcher {
    div.btn-group:before,
    div.btn-group:after {
      display: inline;
    }
  }

  #request_hidden_user_subject_field {
    width: 440px;
  }
  #request_hidden_user_explanation_field {
    width: 100%;
    height: 15em;
  }
  #request_hidden_user_subject,
  #request_hide_button,
  #request_hidden_user_explanation {
    display: none;
  }

  #outgoing_message_body,
  #comment_body {
    width: 750px;
  }

  .save-notice {
    display: inline-block;
    padding-left: 1em;
  }

  .category-list-item {
    padding: 3px 0;
  }

  .fieldWithErrors {
    display:block;
    padding:0.2em;
    textarea, input {
      border:solid 1px Red !important;
    }
  }

  /* Holidays */
  .day_select {
    width: 75px;
  }

  .holiday-description, .holiday-day, .holiday-buttons, .holiday-destroy {
    padding: 6px 4px;
  }

  .holiday-description, .holiday-day, .holiday-buttons{
    display: inline-block;
  }

  .holiday-description {
    width: 300px;
  }
  .holiday-day {
    width: 240px;
    text-align: center;
  }
  .holiday-buttons{
    width: 200px;
    text-align: right;
  }

  #import_start_year, #import_end_year {
    width: 75px;
  }

}

