@font-face {
  font-family: 'DeliciousBold';
  src: font-url('delicious-bold-webfont.eot');
  src: font-url('delicious-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('delicious-bold-webfont.woff') format('woff'),
       font-url('delicious-bold-webfont.ttf') format('truetype'),
       font-url('delicious-bold-webfont.svg#DeliciousBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeliciousBoldItalic';
  src: font-url('delicious-bolditalic-webfont.eot');
  src: font-url('delicious-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('delicious-bolditalic-webfont.woff') format('woff'),
       font-url('delicious-bolditalic-webfont.ttf') format('truetype'),
       font-url('delicious-bolditalic-webfont.svg#DeliciousBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeliciousHeavyRegular';
  src: font-url('delicious-heavy-webfont.eot');
  src: font-url('delicious-heavy-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('delicious-heavy-webfont.woff') format('woff'),
       font-url('delicious-heavy-webfont.ttf') format('truetype'),
       font-url('delicious-heavy-webfont.svg#DeliciousHeavyRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeliciousItalic';
  src: font-url('delicious-italic-webfont.eot');
  src: font-url('delicious-italic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('delicious-italic-webfont.woff') format('woff'),
       font-url('delicious-italic-webfont.ttf') format('truetype'),
       font-url('delicious-italic-webfont.svg#DeliciousItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeliciousRoman';
  src: font-url('delicious-roman-webfont.eot');
  src: font-url('delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('delicious-roman-webfont.woff') format('woff'),
       font-url('delicious-roman-webfont.ttf') format('truetype'),
       font-url('delicious-roman-webfont.svg#DeliciousRoman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DeliciousSmallCapsRegular';
  src: font-url('delicious-smallcaps-webfont.eot');
  src: font-url('delicious-smallcaps-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('delicious-smallcaps-webfont.woff') format('woff'),
       font-url('delicious-smallcaps-webfont.ttf') format('truetype'),
       font-url('delicious-smallcaps-webfont.svg#DeliciousSmallCapsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
