<h1><%= @title %></h1>

<p>
  <%= _("These logs show what happened to this message as it passed through " \
        "our {{mta_type}} mail server. You can send these logs to an " \
        "authority to help them diagnose problems receiving email from " \
        "{{site_name}}.",
        :mta_type => AlaveteliConfiguration.mta_log_type.capitalize,
        :site_name => AlaveteliConfiguration.site_name) %>
</p>

<% if @mail_server_logs.any? %>
<pre><%= @mail_server_logs.join("\n") %></pre>
<% else %>
  <%= _("We couldn't display any logs for this message.") %>
<% end %>
