// Hide the submit form when JS is turned on
.js-loaded {
  .js-batch-authority-search-form input[type="submit"] {
    display: none;
  }
}

.batch-builder-mode {
    border-bottom: 1px solid #ddd;

    .tab-title > a {
        background-color: #F3F1EB;

        &:hover {
            background-color: scale-color(#F3F1EB, $lightness: -6%);
        }
    }

    .tab-title.active > a {
        border: 1px solid #ddd;
        border-bottom: none;
        margin-bottom: -1px;

        &:hover {
            background-color: #fff;
        }
    }
}

// Toggle whether we're showing the "Add authority to batch" form or whatever
// we use to signify that it's already added. We print both in the HTML so
// that it's easier to toggle which is displayed later via JS.

.batch-builder__authority-list__authority__action__added {
  display: none;
  visibility: hidden;
}

.batch-builder__authority-list__authority__action__add {
  display: block;
  visibility: visible;
}

.js-batch-authority-search-results-list-item--added {
  .batch-builder__authority-list__authority__action__added {
    display: block;
    visibility: visible;
  }

  .batch-builder__authority-list__authority__action__add {
    display: none;
    visibility: hidden;
  }
}

.batch-builder__search-results,
.batch-builder__chosen-authorities {
    & > * {
        border: 1px solid #ddd;
        min-height: 10em;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);

        @media #{$large-up} {
            min-height: 30em;
        }
    }
}

.batch-builder__authority-list__authority {
    &:nth-child(odd) {
        background-color: #F3F1EB;
    }
}

.batch-builder__authority-list__authority__action__added {
    color: green;
    font-weight: 600;
    width: 5em; // Assumes that `.add-authority-to-batch__form__submit` is roughly 5em wide
    text-align: center;
}

.batch-builder__authority-list__group {
    & > .batch-builder__authority-list__authority {
        .batch-builder__authority-list__authority__name {
            font-weight: bold;
            background-color: #F3F1EB;
        }
    }

    ul {
        .batch-builder__authority-list__authority {
            background-color: transparent; // group children are always white (even :nth-child(odd) ones)
            border-bottom: 1px solid #F3F1EB;
        }
    }
}

.batch-builder__search-results {
    .pagination {
        border-top: 1px solid #ddd;
        font-size: 0.8em;
    }
}

.batch-builder {
    .blank-slate,
    .ajax-error {
        padding: 1em;
        text-align: center;
        color: #999;
    }
}
