// Hide the submit form when JS is turned on
.js-loaded {
  .js-batch-authority-search-form input[type="submit"] {
    display: none;
  }
}

.batch-builder-mode {
    border-bottom: 1px solid #ddd;

    .tab-title > a {
        background-color: #F3F1EB;

        &:hover {
            background-color: scale-color(#F3F1EB, $lightness: -6%);
        }
    }

    .tab-title.active > a {
        border: 1px solid #ddd;
        border-bottom: none;
        margin-bottom: -1px;

        &:hover {
            background-color: #fff;
        }
    }
}

// Toggle whether we're showing the "Add authority to batch" form or whatever
// we use to signify that it's already added. We print both in the HTML so
// that it's easier to toggle which is displayed later via JS.

.batch-builder__list__item__action__added {
  display: none;
  visibility: hidden;
}

.batch-builder__list__item__action__add {
  display: block;
  visibility: visible;
}

.js-batch-authority-search-results-list-item--added {
  .batch-builder__list__item__action__added {
    display: block;
    visibility: visible;
  }

  .batch-builder__list__item__action__add {
    display: none;
    visibility: hidden;
  }
}

.batch-builder__search-results,
.batch-builder__chosen-authorities {
    & > * {
        border: 1px solid #ddd;
        min-height: 10em;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);

        @media #{$large-up} {
            min-height: 30em;
        }
    }
}

.batch-builder__list__item {
    &:nth-child(odd) {
        background-color: #F3F1EB;
    }
}

.batch-builder__list__item__action__added {
    color: green;
    font-weight: 600;
    width: 5em; // Assumes that `.add-authority-to-batch__form__submit` is roughly 5em wide
    text-align: center;
}

.batch-builder__list__group {
    // `div` matches the group "header" item
    div.batch-builder__list__item {
        background-color: #F3F1EB;

        .batch-builder__list__item__name {
            font-weight: bold;
        }
    }

    // `li` matches the group "content" items
    li.batch-builder__list__item {
        background-color: transparent;
        border-bottom: 1px solid #F3F1EB;
    }
}

.batch-builder__search-results {
    .pagination {
        border-top: 1px solid #ddd;
        font-size: 0.8em;
    }
}

.batch-builder {
    .blank-slate,
    .ajax-error {
        padding: 1em;
        text-align: center;
        color: #999;
    }
}

@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.batch-builder__list__item__caret {
    padding-right: 0.5em;

    &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background: transparent image-url('alaveteli-pro/batch-control-sprite.png') no-repeat 0 0;
        background-image: image-url('alaveteli-pro/batch-control-sprite.svg'), none;
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    // We use direct descendant selectors here because we only want the
    // *closest* descendant caret to get the styling, not *all* carets.
    .batch-builder__list__group--closed > .batch-builder__list__item > & {
        &:before {
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    .batch-builder__list__group--loading > .batch-builder__list__item > & {
        &:before {
            background-position: -12px 0;
            -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
        }
    }
}
