.batch-builder-mode {
    margin-bottom: 1em;

    .tabs {
        @include grid-row();
        padding-left: 0;
    }

    .tab-title {
        margin-left: 1em;
    }
}

.batch-builder {
    @include grid-row();

    @media #{$large-up} {
        @include flexbox();
        @include flex-wrap(wrap);
    }
}

.batch-builder__search-form,
.batch-builder__search-results,
.batch-builder__chosen-authorities,
.batch-builder__actions {
    padding: ($column-gutter / 2); // Same padding as grid-columns

    @media #{$large-up} {
        width: 50%;
    }
}

@media #{$large-up} {
    .batch-builder__search-form {
        @include flex-order(1);
    }

    .batch-builder__actions {
        @include flex-order(2);
    }

    .batch-builder__search-results {
        @include flex-order(3);
    }

    .batch-builder__chosen-authorities {
        @include flex-order(4);
    }
}

.batch-builder__search-form {
    form {
        margin-bottom: 0;
    }

    input[type="text"] { // need to be at least as specific as `form input[type="text"]`
        width: 100%;
        margin-bottom: 0;
    }
}

.batch-builder__actions {
    @include flexbox();
    @include justify-content(flex-end);
    @include flex-align(flex-end);
}

.batch-builder__authority-list {
    list-style: none;
    padding: 0;
    margin: 0;

    height: 30em;
    overflow: auto;
}

.batch-builder__authority-list__authority {
    padding: 1.5em 1em;
    @include flexbox();
    @include flex-align(center);
}

.batch-builder__authority-list__authority__name {
    @include flex(1 0 0%);
}

.batch-builder__authority-list__authority__action {
    @include flex(0 0 auto);
    margin-bottom: 0;

    form {
        margin-bottom: 0;
    }

    input[type="submit"] { // need to be more specific than `form input[type="submit"]`
        margin: -0.5em 0;
    }
}

.batch-builder__authority-list__page-info {
    text-align: center;
}
