.classify-left-column {
  @include grid-column(12);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column(9);
  }
}

.classify-right-column {
  @include grid-column(12);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column(3);
     &.sidebar--sticky {
       max-height: none;;
     }
  }
}

.classify-request-controls {
  margin-top: 2em;
  .input-label-aligned + .input-label-aligned {
    margin-top: 1em;
  }
  h3 {
    font-weight: normal;
    font-size: 1em;
  }
  input[name="commit"] {
    @extend .button--full-width;
  }
  hr {
    border-top-color: #d3cec5;
    margin-top: 1em;
  }
}

.input-label-aligned {
  display: flex;
  align-items: flex-start;
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
  label {
    flex: 1;
  }
} 