/* Style for the dashboard */

.dashboard-nav {
  list-style-type: none;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.dashboard-nav__item {
  border-bottom: 1px solid #ccc;
  // To overlap the bottom border with that of the containing list, making it
  // appear continuous
  margin-bottom: -2px;
  a,
  a:hover,
  a:active,
  a:focus {
    font-weight: normal;
    color: white;
    text-decoration: none;
  }
}

.dashboard-nav__item:hover,
.dashboard-nav__item--highlighted {
  border-bottom: 2px solid orange;
  cursor: pointer;
}

.dashboard-folders,
.dashboard-sub-folders {
  list-style: none;
  list-style-type: none;
}

.dashboard-folder__name {
  color: #999;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

a.dashboard-folder__name,
a.dashboard-folder__name:visited {
  color: #333;
  &:hover,
  &:active,
  &:focus {

  }
}

.dashboard-folder {
  a {
    &:hover,
    &:active,
    &:focus {
      background-color: #e6e4df;
    }
  }
}

.dashboard-folder--disabled {
  color: #999;
}

.dashboard-folder--top-level {
  background-color: #f3f1eb;
  border-bottom: transparent;
}

.dashboard-folder--selected {
  font-weight: bold;
  font-size: 1em;
  background-color: transparent;
  a {
    border-color: #333;
  }
}

.dashboard-todo__list {
  list-style: none;
  list-style-type: none;
}

.dashboard-activity__title,
.dashboard-todo__title {
  font-size: 1em;
  font-weight: bold;
}

.dashboard-todo__title,
.dashboard-todo__list__item,
.dashboard-activity__title,
.dashboard-activity__item {
  border-bottom: 1px solid #ccc;
}

.dashboard-activity__item__time {
  color: #999;
}


.status-icon {
  background-image: image-url('alaveteli-pro/pro-status-icons.png');
  background-position: 0 0;
  background-size: 44px 283px;
  width: 22px;
  height: 22px;
  display: inline-block;
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    background-image: image-url('alaveteli-pro/pro-status-icons@2.png');
  }
}

.status-icon--awaiting-response {
  background-position: 0 -63px;
}

.status-icon--overdue {
  background-position: 0 -63px;
}

.status-icon--very-overdue {
  background-position: 0 -63px;
}

.status-icon--response-received {
  background-position: 0 -127px;
}

.status-icon--clarification-needed {
  background-position: 0 -192px;
}

.status-icon--complete {
  background-position: 0 1px;
}

.status-icon--other {
  background-position: 0 -256px;
}

.dashboard-folder {
  .status-icon {
    position: relative;
    top: 4px;
  }
}

.dashboard-folder {
  a {
    &:hover,
    &:active,
    &:focus {
      .status-icon {
        //changes to darker style for rollover
        background-position-x: -23px;
      }
    }
  }
}

.dashboard-folder__name--disabled {
  .status-icon {
    //make it less prominent when the folder name isn't clickable
    opacity: 0.5;
  }
}
