.icon {
  background-size: 13px 13px;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 0.3em;
  position: relative;
  top: 1px;
  @include image-replacement();

  &.icon__download {
    background-image: image-url("alaveteli-pro/download.png");
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: image-url("alaveteli-pro/download@2.png");
    }
  }

  &.icon__add {
    background-image: image-url("alaveteli-pro/add.png");
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: image-url("alaveteli-pro/add@2.png");
    }
  }

  &.icon__remove {
    background-image: image-url("alaveteli-pro/remove.png");
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: image-url("alaveteli-pro/remove@2.png");
    }
  }
}
