/* Layout for the new request page */
.request-to-header {
  @include grid-column(12);
  @include ie8{
    padding-left: 0.9375em;
    padding-right: 0.9375em;
  }
}

.request_embargo {
  margin-top: 2em;
}

.pro_batch_link {
  display: block;
  margin-top: 0.25em;
  margin-bottom: -1em;
}
