/* Style for the new request page */
.public-body-query {
  width: 100%
}

.js-loaded {
  .public-body-query__submit {
    display: none;
  }
}

.selectize-control.plugin-remove_button .remove-single {
  top: 0px;
  right: 0px;
  text-decoration: none;
}
