.pricing__title {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-bottom: 1.3em;
}

.pricing__tiers {

}

.pricing__tier {
  padding: 1.1em 1.3em;
  margin-bottom: 2em;
  @include respond-min($main_menu-mobile_menu_cutoff) {
    padding: 2.625em;
  }

  h2 {
    margin-top: 0;
  }
}

.pricing__tier__heading {
  position: relative;
  h2,
  p {
    @include respond-min($main_menu-mobile_menu_cutoff) {
      display: inline-block;
      margin-right: 1em;
    }
  }
}

.pricing__tier__features {
  padding: 0;
  margin: 0.5em 0;
  @include respond-min($main_menu-mobile_menu_cutoff) {
    max-width: 33.75em;
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
  }
  li {
    margin-bottom: 1em;
  }
}

.price-label {
  @include respond-min($main_menu-mobile_menu_cutoff) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.pricing__tier--tier-feature-message {
  @include respond-min($main_menu-mobile_menu_cutoff) {
    padding: 1.8em;
  }
  h3 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.pricing__free-message {
  text-align: center;
  margin-bottom: 2em;
}

.pricing__testimonials {
  margin: 5em 0;
}

.testimonials__list {
  @include grid-row($behavior: nest);
}

.testimonials__list__item {
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column(4);
  }
}

.testimonial {}

.testimonial__source__thumbnail {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}

.pricing__faqs {
  padding-top: 5em;
}

.pricing__faqs__list {
  @include respond-min($main_menu-mobile_menu_cutoff) {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2em;
       -moz-column-gap: 2em;
            column-gap: 2em;
  }
}

.faqs__term {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  // Browsers with support for column get a line length limit instead
  max-width: 34em;
}

.faqs__def {
  -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  // Browsers with support for column get a line length limit instead
  max-width: 34em;
  margin-bottom: 2em;
}
