.project-workload-indicator {

  -webkit-progress-bar {
    background-color: #f4f4f4;
  }

  -moz-progress-bar,
  -webkit-progress-value {
    background-color: #008CBA;
  }

  //ie10

  color: #008CBA;
}

.project {
  border: 3px solid #e6e4df;
  padding: 1em;
  margin-bottom: 1em;
}

.project__title {
  font-size: 1.1875em; // 19px
  font-weight: 600;
  color: $primary-color;
}

.project__classification,
.project__extraction {
  font-size: 0.875em; // 14px
  line-height: 1.5em;
}

.project__meta__label {
  font-size: 0.75em; // 12px
  line-height: 1em;
  color: #999;
}

table.dataset {
  display: block;
  margin-bottom: 1em;
  overflow-x: auto;
  width: 100%;

  th,
  td {
    border-right: 1px solid #e6e4df;
    max-width: 300px;
    min-width: 300px;
    overflow: hidden;
    padding: 0.5em;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;

    &:hover {
      overflow: visible;
      white-space: normal;
    }

    &:last-child {
      border-right: none;
    }

    &.dataset__actions {
      position: sticky;
      right: 0;
      box-shadow: rgba(100, 100, 100, 0.5) -5px 5px 10px 0px;
      white-space: nowrap;
    }
  }

 th {
    position: sticky;
    top: 0;
    background: #ffffff;
    font-weight: 600;

    &.dataset__actions {
      background: #ffffff;
    }
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;

    td.dataset__actions {
      background-color: #f9f9f9;
    }
  }

  tr:nth-child(odd) {
    background-color: #ffffff;

    td.dataset__actions {
      background-color: #ffffff;
    }
  }

  td.dataset__actions {
    a {
      @include button($padding: 0.375rem, $bg: #aaa, $radius: true);
      font-size: 0.75rem;
      margin-bottom: 0.125rem;
    }
  }

  .dataset__request,
  .dataset__requested_by,
  .dataset__public_body,
  .dataset__classification,
  .dataset__classified_by,
  .dataset__extracted_by {
    max-width: 200px;
    min-width: 200px;
  }
  .dataset__actions {
    max-width: inherit;
    min-width: inherit;
  }
}

.project-contributors__contributor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #e6e4df;
  border-radius: 4px;

  &.removed {
    .project-contributors__info {
      text-decoration: line-through;
      opacity: 0.6;
    }

    .project-contributors__remove-button {
      display: none;
    }

    .project-contributors__undo-button {
      display: inline-block !important;
    }
  }

  .project-contributors__info {
    flex: 1;
  }

  .project-contributors__actions {
    display: flex;
    gap: 0.5em;
  }

  .project-contributors__undo-button {
    display: none;
  }
}
