//@include grid-column($columns: 12, $collapse: true);
.marketing__section {
  @include grid-row;
  margin-bottom: 5em;
  margin-top: 2em;
}

.marketing__hero {
  @include grid-column($columns: 12);
  h1 {
    @include respond-min(31.25em) {
      font-size: 3.5em;
    }
    line-height: 1.35em;
    sup {
      font-size: 0.4em;
      top: -0.8em;
    }
    strong {
      font-weight: 600;
    }
  }
}

.marketing__section__heading {
  @include grid-column($columns: 12);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column($columns: 4);
    h2 {
      border-top: 2px solid #7F7E7C;
      margin-top: 0;
      padding-top: 0.66em;
    }
    sup {
      font-size: 0.5625em;
    }
  }
}

.marketing__section__content {
  @include grid-column($columns: 12);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column($columns: 8);
  }
  h3 {
    font-size: 1.125em;
    font-weight: normal;
  }
}

.marketing__section__content-items {
  //this is purely used to add the top border so it stays within the grid gutters
  //that's why it's here and not on .marketing__section__content
  border-top: 1px solid #DCDAD5;

}

.marketing__section__more-info {
  padding-top: 1em;
  ul {
    list-style: none outside none;
    padding-left: 0;
  }
  h3 {

  }
}


.marketing__section__feature-list {
  list-style: none outside none;
  font-size: 1.125em;
  padding-left: 0;
  margin-top: 0;
  li {
      border-bottom: 1px solid #DCDAD5;
      padding: 1em 0;
      margin-top: 0;
  }
}

.marketing-highlight {
  position: relative;
  display: inline-block;
  font-weight: normal;
  &:before {
      content:"";
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #faf785;
      transform: rotate(random(2) - 2 + deg);
      z-index: -1;
  }
}

label.input-beta-button {
  color: white;
  text-decoration: none;
}

.beta-signup-form {
  label {
    font-size: 1em;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
  input[type="radio"] {
    margin-right: 0.35em;
  }
  .fieldWithErrors{
    display: inline;
  }
}

.inline-elements {
    display: flex;
}

.inline-element {
  width: auto;
  margin-right: 1.35em;
}

.side-by-side-elements {
  margin-top: 1em;
}

.side-by-side-element {
  width: 50%;
  float: left;
  &:nth-child(even) {
    padding-left: 0.85em;
  }
  &:nth-child(odd) {
    padding-right: 0.85em;
  }
  margin-bottom: 1em;
}
