.pro-canvas {
  background-color: white;
  padding-bottom: 3em;
}

.pro-canvas-header {
  background-color: #e6e4df;
}

.embargo-sidebar-heading {
  .embargo-indicator {
    margin-right: 0.5em;
    position: relative;
    top: 3px;
  }
}

.extend-embargo-sidebar {
  border-top: 1px solid #ccc;
  padding-top: 1.5em;
}
