//@include grid-column($columns: 12, $collapse: true);
.marketing__section {
  @include grid-row;
  margin-bottom: 5em;
  margin-top: 2em;
}

.marketing__hero {
  @include grid-column($columns: 12);
  text-align: center;
  h1 {
    @include respond-min(31.25em) {
      font-size: 3.5em;
    }
    line-height: 1.35em;
    sup {
      font-size: 0.4em;
      top: -0.8em;
    }
    strong {
      font-weight: 600;
    }
  }
  h2 {
    font-weight: normal;
  }
}

.marketing__hero__cta {
  background: white;
  padding: 0.5em 0 2em;
  max-width: 20em;
  margin: 4em auto 0;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.11);
  border-radius: 5px;
  h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
  }
  .button {
    padding: 1em 1.75em;
    cursor: pointer;
  }
}

.marketing__section__heading {
  @include grid-column($columns: 12);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column($columns: 4);
    h2 {
      border-top: 2px solid #7F7E7C;
      margin-top: 0;
      padding-top: 0.66em;
    }
    sup {
      font-size: 0.5625em;
    }
  }
}

.marketing__section__content {
  @include grid-column($columns: 12);
  @include respond-min($main_menu-mobile_menu_cutoff) {
    @include grid-column($columns: 8);
  }
  h3 {
    font-size: 1.125em;
    font-weight: normal;
  }
  .screenshots {
    margin: 1em 0 3em;
    img {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      border: 1px solid #DCDAD5;
      border-radius: 3px;
    }
  }
}

.marketing__section__content-items {
  //this is purely used to add the top border so it stays within the grid gutters
  //that's why it's here and not on .marketing__section__content
  border-top: 1px solid #DCDAD5;

}

.marketing__section__more-info {
  padding-top: 1em;
  ul {
    list-style: none outside none;
    padding-left: 0;
  }
  h3 {

  }
}


.marketing__section__feature-list {
  list-style: none outside none;
  font-size: 1.125em;
  padding-left: 0;
  margin-top: 0;
  li {
      border-bottom: 1px solid #DCDAD5;
      padding: 1em 0;
      margin-top: 0;
  }
}

.marketing-highlight {
  position: relative;
  display: inline-block;
  font-weight: normal;
  &:before {
      content:"";
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #faf785;
      transform: rotate(random(2) - 2 + deg);
      z-index: -1;
  }
}

label.input-beta-button {
  color: white;
  text-decoration: none;
}

.input-beta-button {
  margin-top: 2em;
}

.beta-signup-form {
  label {
    font-size: 1em;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
  input[type="radio"] {
    margin-right: 0.35em;
  }
  .fieldWithErrors{
    display: inline;
  }
}

.inline-elements {
    display: flex;
}

.inline-element {
  width: auto;
  margin-right: 1.35em;
}

.side-by-side-elements {
  margin-top: 1em;
  overflow: hidden;
}

.side-by-side-element {
  width: 50%;
  float: left;
  &:nth-child(even) {
    padding-left: 0.85em;
  }
  &:nth-child(odd) {
    padding-right: 0.85em;
  }
  margin-bottom: 1em;
}
