/* Layout for the requests page */

.requests__folder-title {
  h2 {
    font-size: 2.375em;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0.75em;
  }
}
.requests__header {
  padding: 0.5em;
  width: 100%;
  form {
    margin-bottom: 0;
  }
}

.requests__filter_form {
  @include flexbox;
  flex-wrap: wrap;
  width: 100%;
}

.requests__search {
  @include flex(1 0 100%);
  margin-bottom: 1em;
  @include respond-min( $dashboard-collapse ){
    @include flex(7 0 0);
    margin-bottom: 0;
  }
  input[type=text]{
    width: 100%;
    max-width: none;
    border: 1px solid #ccc;
  }
}

.requests__sort {
  @include flex(1 0 100%);
  max-width: 12em;
  @include respond-min( 24em ){
    @include flex(1 2 50%);
  }
  @include respond-min( $dashboard-collapse ){
    @include flex(4 2 0);
    text-align: right;
  }
}

.requests__search,
.requests__sort {
  input, select, label {
    display: inline-block;
    margin-bottom: 0;
  }
  select {
    max-width: 60%;
    padding-right: 2em;
  }
}

.requests__list {
  margin-top: 0.5em;
}

.request {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.request__title {
  margin-top: 0;
}

.request__meta {
  @include flexbox;
}

.request__recipient,
.request__created,
.request__updated,
.request__status,
.request__actions {
  margin-right: 1em;
}

// TODO - the flex() rules for these add up to way less than 100%, yet the
// elements still overflow their container. Not sure why. I've hacked it by
// reducing the width of the select in the last element and floating it right
.request__recipient,
.request__status {
  @include flex(0 0 15%);
}

.request__created,
.request__updated {
  @include flex(0 0 15%);
}

.request__actions {
  @include flex(0 0 31%); // No idea why this has to be 31% in particular
  @include clearfix;
  margin-right: 0;
  .actions {
    max-width: 90%;
    float: right;
  }

}

.request__meta__label {
  display: block;
}
