---
layout: default
---
<div class="page-wrapper">
<div class="page">
  {% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
  {% assign parts = url_parts | split: ' ' %}
  {% assign previous="" %}
  <ul class="breadcrumb">
    {% if num_parts == "-1" %}
    {% elsif num_parts == "0" %}
      <li><a href="/">Home</a></li>
    {% else %}
      <li><a href="/">Home</a></li>
      {% if page.slug == null %}
          {% for part in parts %}
            {% capture previous %}{{ previous }}/{{ part }}{% endcapture %}
            <li><a href="{{ previous }}/">{{ part | capitalize | replace:'_'," " }}</a></li>
            {% capture url_parts %}{{ url_parts | remove_first:part }}{% endcapture %}
          {% endfor %}
      {% else %}
        <li><a href="/blog/">Blog</a></li>
      {% endif %}
    {% endif %}
  </ul>

    <div class="main-content-column">
      <main role="main" class="main-content">
        {{ content }}
      </main>
    </div>
    <div class="secondary-content-column">
      <nav class="sidebar">
        <ul>
          <li>{% include feedback_form.html %}</li>
          <li>
            <gcse:searchbox-only></gcse:searchbox-only>

          </li>
          <li><a href="{{ page.baseurl }}/about/">About</a></li>
          <li><a href="{{ page.baseurl }}/docs/">Documentation</a>
            <ul>
              <li><a href="{{ page.baseurl }}/docs/glossary/">Glossary</a></li>
            </uL>
          </li>
          <li><a href="{{ page.baseurl }}/docs/getting_started/">Getting Started</a></li>
          <li><a href="{{ page.baseurl }}/docs/installing/">Installing</a>
            <ul>
              <li><a href="{{ page.baseurl }}/docs/installing/script/">Install script</a></li>
              <li><a href="{{ page.baseurl }}/docs/installing/vagrant/">Vagrant</a></li>
              <li><a href="{{ page.baseurl }}/docs/installing/ami/">Alaveteli AMI for EC2</a></li>
              <li><a href="{{ page.baseurl }}/docs/installing/manual_install/">Manual Install</a></li>
              <li><a href="{{ page.baseurl }}/docs/installing/deploy/">Deploying</a></li>
              <li><a href="{{ page.baseurl }}/docs/installing/email/">MTA (email)</a></li>
              <li><a href="{{ page.baseurl }}/docs/installing/next_steps/">Next steps</a></li>
            </ul>
          </li>
          <li><a href="{{ page.baseurl }}/docs/customising/">Customising</a>
            <ul>
              <li><a href="{{ page.baseurl }}/docs/customising/config/">Configuration</a></li>
              <li><a href="{{ page.baseurl }}/docs/customising/themes/">Themes</a></li>
              <li><a href="{{ page.baseurl }}/docs/customising/translation/">Translation</a></li>
              <li><a href="{{ page.baseurl }}/docs/customising/states/">Request states</a></li>
            </ul>
          </li>
          <li><a href="{{ page.baseurl }}/docs/running/">Running</a>
            <ul>
              <li><a href="{{ page.baseurl }}/docs/running/admin_manual/">Admin manual</a></li>
              <li><a href="{{ page.baseurl }}/docs/running/requests/">Managing requests</a></li>
              <li><a href="{{ page.baseurl }}/docs/running/holding_pen/">The holding pen</a></li>
              <li><a href="{{ page.baseurl }}/docs/running/categories_and_tags/">Categories &amp; tags</a></li>
              <li><a href="{{ page.baseurl }}/docs/running/redaction">Redaction</a></li>
              <li><a href="{{ page.baseurl }}/docs/running/security/">Security &amp; Maintenance</a></li>
              <li><a href="{{ page.baseurl }}/docs/running/server/">Server checklist</a></li>
              <li><a href="{{ page.baseurl }}/docs/running/upgrading/">Upgrading</a></li>
            </ul>
          </li>
          <li><a href="{{ page.baseurl }}/docs/developers/">For developers</a>
            <ul>
              <li><a href="{{ page.baseurl }}/docs/developers/overview/">High-level overview</a></li>
              <li><a href="{{ page.baseurl }}/docs/developers/directory_structure/">Directory structure</a></li>
              <li><a href="{{ page.baseurl }}/docs/developers/i18n/">Internationalisation</a></li>
              <li><a href="{{ page.baseurl }}/docs/developers/api/">API</a></li>
            </ul>
          </li>
          <li><a href="{{ page.baseurl }}/community/">Community</a>
                <ul>
                    <li>
                        <a href="{{ page.baseurl }}/community/conferences/2012/">AlaveteliCon 2012</a>
                    </li>
                </ul>
          </li>
          <li><a href="https://www.mysociety.org/category/alaveteli/">Blog</a></li>
        </ul>
      </nav>
    </div>

  </div>
</div>
