<div class="feed_link feed_link_<%= location %>">
  <%= link_to do_track_path(track_thing, 'feed'), class: 'button' do %>
    RSS feed
    <svg xmlns="http://www.w3.org/2000/svg" width="0.8rem" height="0.8rem" viewBox="0 0 8 8" alt="">
      <path fill="currentColor" fill-rule="evenodd" d="M.9 3.04a4.07 4.07 0 0 1 4.06 4.08.6.6 0 0 1-1.2 0A2.88 2.88 0 0 0 .9 4.22a.6.6 0 0 1 0-1.19zM.9 0C4.82 0 8 3.2 8 7.12a.6.6 0 0 1-1.19 0A5.93 5.93 0 0 0 .9 1.19.6.6 0 1 1 .9 0zm.14 5.91a1.04 1.04 0 1 1 0 2.09 1.04 1.04 0 0 1 0-2.09z"/>
    </svg>
  <% end %>
</div>
