<p><%= _('Welcome to {{pro_site_name}}!',
         pro_site_name: AlaveteliConfiguration.pro_site_name) %></p>
<p><%= _('We are processing your payment. You can access your subscription ' \
         'settings and account information from the "My subscription" link ' \
         'in your user menu (accessed from the dropdown next to your name, ' \
         'above).') %></p>
