<h1>AlaveteliPro::Subscriptions#show</h1>
<p>Find me in app/views/alaveteli_pro/subscriptions/show.html.erb</p>

<h2><%= _('Your current subscription') %></h2>

<%= render partial: 'subscription',
           locals: { subscription: @subscriptions.first } %>

<h2><%= _('Your payment details') %></h2>

<%= render partial: 'card', locals: { card: @customer.sources.first } %>
