<!DOCTYPE html>
<html>
<head>
  <title>AlaveteliPro</title>
  <%= stylesheet_link_tag    "alaveteli_pro/application", :media => "all" %>
  <%= javascript_include_tag "alaveteli_pro/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
