<% @title = 'Listing users' %>

<h1><%=@title%></h1>

<% form_tag("", :method => "get") do %>
   <p>
       <%= text_field_tag 'query', params[:query], { :size => 30 } %>
       <%= submit_tag "Search" %> (substring search, names and emails)
       <%= link_to 'Banned users', 'list_banned' %>
   </p>
<% end %>

<%= render :partial => 'user_table', :locals => { :users => @admin_users, :banned_column => false } %>


