<% @title = "User - " + h(@admin_user.name) %>

<h1><%=@title%></h1>

<p>
<strong>Id:</strong> <%= @admin_user.id%> <br>
<% for column in User.content_columns %>
    <strong><%= column.human_name %>:</strong> 
    <% if column.name == 'email' %>
        <a href="mailto:<%=h @admin_user.email %>"><%=h @admin_user.email%></a>
    <% else %>
        <%=h @admin_user.send(column.name) %>
    <% end %>
    <br>
<% end %>
</p>

<%= link_to 'Public page', main_url(user_url(@admin_user)) %>


