<h2>List of tags</h2>

<% PublicBody.categories.each do |heading| %>
  <% if heading.children.any? %>
    <h3><%= heading.title %></h3>
    <% heading.children.each do |category| %>
      <% next unless category.category_tag.present? %>
      <strong><%= category.category_tag %></strong>=<%= category.title %>
      <br/>
    <% end %>
  <% end %>
<% end %>
