

<h1><%=@title%></h1>

<% form_tag '../update/' + @public_body.id.to_s do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Show', '../show/' + @public_body.id.to_s %> |
<%= link_to 'List all', '../list' %>

