<% @title = 'Popular authorities without Publication Scheme' %>

<h1><%=@title%></h1>
<p><%= @stats["entered"] %> of <%= @stats["total"] %> entered</p>

<ol>
  <% for public_body in @public_bodies %>
    <li><%= public_body_both_links(public_body) %></li>
  <% end %>
</ol>

