<% @title = 'New public authority' %>

<h1><%=@title%></h1>

<script>
    $(function() {
        $("#div-locales").tabs();
    });
</script>

<%= render :partial => 'tag_help' %>

<div id="public_body_form">
    <% form_for :public_body, @public_body, :url => {:action => "create"} do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <p><%= f.submit "Create" %></p>
    <% end %>

    <p>
    <%= link_to 'List all', 'list' %>
    </p>
</div>
