<% @title = 'New public body' %>

<h1><%=@title%></h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<p><%= link_to 'List all', :action => 'list' %></p>
