<%= foi_error_messages_for :blog_post %>

<div class="control-group">
  <%= f.label :tag_string, 'Tags', class: 'control-label' %>

  <div class="controls">
    <%= f.text_field :tag_string, class: 'span4' %>
  </div>
</div>
