<div class="marketing__section">
  <div class="marketing__tweets">
    <div class="marketing__tweet">
      <div class="tweet__body">
        <p>
          <q>Loving the new <a href="https://twitter.com/WhatDoTheyKnow">@WhatDoTheyKnow</a> Pro account. Super slick.</q>
          <cite><a href="https://twitter.com/Charlie_Mole/status/881824926738644992">Charlie Mole – 3 July 2017</a></cite>
        </p>
      </div>
    </div>

    <div class="marketing__tweet">
      <div class="tweet__body">
        <p>
          <q>I just sent an FOIA request with <a href="https://twitter.com/mySociety">@mySociety</a>'s <a href="https://twitter.com/WhatDoTheyKnow">@WhatDoTheyKnow</a> and I'm amazed at how painless it was.

          <br />

          No doubt this will remain an item in my journalistic utility belt going forward.</q>

          <cite><a href="https://twitter.com/matthewhughes/status/1122801543839981569">Matthew Hughes – 29 April 2019</a></cite>
        </p>
      </div>
    </div>
  </div>
</div>
