<% @title = h(@public_body.name) + " (" + h(@public_body.short_name) + ")" %>

<h1><%=@title%></h1>

<p>Freedom of Information requests made to this body:</p>
<ul>
<% for info_request in @public_body.info_requests %>
<li><%= info_request_link(info_request) %></li>
<% end %>
</ul>

