<% @title = h(@public_body.name) + " (" + h(@public_body.short_name) + ")" %>

<h2><%=@title%></h2>

<p>Freedom of Information requests made to this body:</p>
<ul>
<% for info_request in @public_body.info_requests %>
<li><%= link_to h(info_request.title), :controller => 'request', :action => 'index', :id => info_request %></li>
<% end %>
</ul>

