<div class="marketing__section">
  <div class="marketing__hero">
    <h1>Journalists</h1>

    <h2>Finding it hard to keep on top of your FOI requests? </h2>

    <h3>WhatDoTheyKnow Pro is here to help</h3>

    <p class="marketing__subhead"><strong>A powerful, fully-featured toolset that solves problems for journalists managing multiple requests or in-depth FOI investigations</strong></p>
  </div>
</div>
