<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-gb">
    <head>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8" >
      <title>WhatDoTheyKnow admin<%= @title ? ":" : "" %> <%=@title%></title>
      <% 
        # Have to do explicit tag for stylesheet, to get absolute path on main server
      %>
      <%= tag("link", { "rel" => "Stylesheet", "type" => "text/css", "media" => "screen", "href" => admin_public_url(stylesheet_path('admin')) }) %>
    </head>
    <body>

    <p><strong><%= link_to 'WhatDoTheyKnow', main_url('/') %> admin interface</strong> 
    <%= link_to 'Overview', admin_url('') %>
    | <%= link_to 'Timeline', admin_url('timeline') %>
    | <%= link_to 'Public authorities', admin_url('body/list') %>
    | <%= link_to 'Requests', admin_url('request/list') %>
    | <%= link_to 'Users', admin_url('user/list') %>
    - you are <%= h @http_auth_user %>
    </p>

    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield  %>

    </body>
</html>
