<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>FOIFA admin<%= @title ? ":" : "" %> <%=@title%></title>
  <%= stylesheet_link_tag 'admin' %>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p><b>FOIFA admin interface:</b> 
<%= link_to 'Public bodies', :controller => 'admin_public_body', :action => 'list' %>
</p>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
