<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-gb">
    <head>
        <!-- <script type="text/javascript" src="/js.js"></script> -->
        <title>Freedom of Information Filer and Archive <%= @title ? "-" : "" %> <%=@title%></title>
        <%= stylesheet_link_tag 'main' %>
    </head>
    <body>
    <% if MySociety::Config.getbool("STAGING_SITE", 1) %>
        <div id="staging">
            This is a test version of the site. FOI requests will not be sent to real public bodies.
        </div>
    <% end %>
    <div id="header">
        <h1>
            <a href="/">GovernmentSpy</a> 
            <span id="beta">Beta</span>
        </h1>
        <div id="tagline">Freeing your information from them</div>
    </div>
    <ul id="navigation">
        <li><%= link_to "All Requests", request_list_url %></li>
        <li><a href="/new">New Request</a></li>
        <!-- <li><a href="/my">My Requests</a></li> -->
        <!-- <li><a href="/about">About</a></li> -->
    </ul>

    <% if not (controller.action_name == 'signin' or controller.action_name == 'signup') %>
        <div id="logged_in_bar">
        <% if @user %>
            Hello, <%=h(@user.name)%>! 
            (<%= link_to "Logout", signout_url(:r => request.request_uri) %>)
        <% else %>
            Hello! (<%= link_to "Login or register", signin_url(:r => request.request_uri) %>)
        <% end %>
        </div>
    <% end %>

    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
    <% end %>

    <div id="wrapper">
        <div id="content">
            <div id="<%= controller.controller_name + "_" + controller.action_name %>">
            <%= yield :layout %>
            <?div>
        </div>
    </div>

    </body>
</html>
