<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-gb">
    <head>
        <!-- <script type="text/javascript" src="/js.js"></script> -->
        <title>Freedom of Information Filer and Archive <%= @title ? "-" : "" %> <%=@title%></title>
        <%= stylesheet_link_tag 'main' %>
        <!-- <link rel="alternate" type="application/rss+xml" title="" href=""> -->
    </head>
    <body>
    <h1 id="header">Freedom of Information Filer and Archive <span id="beta">Beta</span></h1>
    <ul id="navigation">
        <li>Home</li>
    </ul>

    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
    <% end %>

    <div id="wrapper">
        <div id="content">
            <%= yield :layout %>
        </div>
    </div>

    </body>
</html>
