<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-gb">
    <head>
        <!-- <script type="text/javascript" src="/js.js"></script> -->
        <title>Freedom of Information Filer and Archive <%= @title ? "-" : "" %> <%=@title%></title>
        <%= stylesheet_link_tag 'main' %>
    </head>
    <body>
    <div id="header">
        <h1>
            <a href="/">Government Spy</a> 
            <span id="beta">Beta</span>
        </h1>
        <div id="tagline">Freeing your information from them</div>
    </div>
    <ul id="navigation">
        <li><a href="/list">All Requests</a></li>
        <li><a href="/new">New Request</a></li>
        <!-- <li><a href="/my">My Requests</a></li> -->
        <!-- <li><a href="/about">About</a></li> -->
    </ul>

    <% if not (controller.action_name == 'signin' or controller.action_name == 'signup') %>
        <div id="logged_in_bar">
        <% if @user %>
            Hello, <%=h(@user.name)%>! (<%= link_to "Logout", :controller => 'user', :action => 'signout', :r => request.request_uri %>)
        <% else %>
            Hello! (<%= link_to "Login or register", { :controller => 'user', :action => 'signin', :r => request.request_uri  } %>)
        <% end %>
        </div>
    <% end %>

    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
    <% end %>

    <div id="wrapper">
        <div id="content">
            <%= yield :layout %>
        </div>
    </div>

    </body>
</html>
