<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= site_name %></title>
    <style></style>
  </head>
  <body class="">
    <%= yield  %>
  </body>
</html>
